.edit-quick-actions-modal {
    .body {
        > p {
            font-family: inherit;
            font-size: 14px;
            margin: 0 0 10px;

            &:last-of-type {
                margin: 10px 0 40px;
                opacity: 0.6;
            }
        }

        .card {
            align-items: center;
            display: flex;
            height: 50px;

            .move-actions {
                display: inline-block;

                a {
                    padding: 20px 4px 20px 20px;

                    &:hover i {
                        opacity: 0.6;
                        transform: rotate(-90deg) scale(1.25);
                    }

                    &:last-of-type {
                        padding: 20px 16px 20px 4px;

                        &:hover i {
                            opacity: 0.6;
                            transform: rotate(90deg) scale(1.25);
                        }
                    }
                }

                i {
                    @include transition();

                    display: inline-block;
                    font-size: 10px;
                    opacity: 0.2;
                }
            }
        }
    }
}
