.permission-group-selection {
  background: none;
  margin: auto;
  max-width: calc(#{ $max-site-width } - 600px);
  width: $max-site-width;

  .header {
    .icon {
      color: palette('gray', slate, .7);
      cursor: initial;
    }

    .name {
      color: palette('gray', text);
    }
  }

  .group {
    @import 'group';
  }
}
