.edit-preferences {
  button.text {
    background: transparent;
    border: none;
    color: palette('green', accent);
    cursor: pointer;
    display: inline;
    font-family: $ubuntu;
    padding: 0 0 5px;

    &:focus {
      outline: none;
    }
  }

  .check-box-half {
    display: inline-block;
    margin: map-get($spacing, xs) map-get($spacing, xl) 0 0;
  }

  .description {
    font-size: 14px;
    line-height: 24px;
    margin: map-get($spacing, sm) 0 map-get($spacing, m);
  }

  .edit-preferences-form {
    margin-bottom: 75px;
  }

  .preferences-update-button {
    .update-preferences-submit {
      margin: 0 auto 15px;
    }
  }

  .sub-title {
    font-family: $ubuntu;
    font-size: 20px;
  }

  @media screen and (max-width: $max-mobile-med-width) {
    .check-box-half {
      display: block;
    }
  }
}