.drawer-deep-menu {
  @include transition();

  background-color: palette('gray', 'dropdown');
  display: none;
  margin: 5px 0;
  max-height: 300px;
  opacity: 0;
  overflow: scroll;
  padding: 5px 0;
  position: absolute;
  width: 250px;
  z-index: 10000;

  a {
    color: palette('white', 'base');

    &:hover {
      color: inherit;
    }
  }

  &.active {
    display: block;
    opacity: 1;
  }
}
