.preset {
  font-family: $ubuntu;

  .title {
    color: palette('gray', text);
  }

  .content {
    .field-preset-list {
      display: block;
      font-family: $ubuntu;
    }

    .trash-container {
      .icon-trash {
        color: palette('red', base);
        font-size: 14px;
        padding: 0 0 5px;
        will-change: transform;
      }

      &:hover .icon-trash {
        transform: scale($transform-scale-multiplier);
      }
    }

    .preset-stock {
      color: palette('gray', text, .6);
      font-family: $ubuntu;
    }
  }
}