.content {
  .allowed-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    padding: 10px 0 40px;

    .action {
      display: inline-block;

      .action-column {
        height: 55px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  @import 'group/users';
  @import 'group/footer';
}

@media screen and (max-width: $max-mobile-med-width) {
  .content {
    .allowed-actions {
      max-width: 350px;
      .action:not(:first-of-type) {
        display: block;
        padding: 15px 0 0;
      }
    }
  }
}

@media screen and (max-width: $max-mobile-xs-width) {
  .content {
    .allowed-actions {
      padding-bottom: 25px;

      .action {
        &:first-of-type {
          padding-top: 0;
        }
      }
    }
  }
}
