.footer {
  // margin-top: 30px;
  min-height: 50px;

  .trash-container {
    padding-right: 15px;
    padding-top: 15px;

    .icon-trash {
      color: palette('red', base);
      font-size: 14px;
      padding: 0 0 5px;
      will-change: transform;
    }

    &:hover .icon-trash {
      transform: scale($transform-scale-multiplier);
    }
  }

  .icon-user-add {
    font-size: 16px;
  }
}

@media screen and (max-width: $max-mobile-med-width) {
  .footer {
    margin-top: 30px;
  }
}

@media screen and (max-width: $max-mobile-xs-width) {
  .footer {
    margin-top: 15px;
  }
}
