.footer {
  // margin-top: 30px;
  min-height: 50px;

  .trash-container {
    padding-right: 15px;

    .icon-trash {
      color: palette('red', base);
      font-size: 14px;
      margin: 5px 5px 0 0;
      padding: 0 0 5px;
      will-change: transform;
    }

    &:hover .icon-trash {
      transform: scale($transform-scale-multiplier);
    }
  }

  .icon-user-add {
    font-size: 16px;
  }
  
  .tooltip:hover::after {
	top: -35px;
	left: -63px;
  }
}

@media screen and (min-width: 769px) {
  .footer {
	.tooltip:hover::after {
		top: -5px;
		left: -63px;
	}
  }
}
