APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret
DB_DEFAULT=mysql
DB_PREFIX=Kora3_

CACHE_DRIVER=file
SESSION_DRIVER=file

BASE_URL=www.example.com/Kora3/
