.pagination {
  display: flex;
  justify-content: space-between;
  margin: 60px auto;
  max-width: calc(#{$max-site-width} - 600px);
  width: $max-site-width;

  .page {
    cursor: pointer;

    a {
      color: palette('green', accent);
      text-decoration: none;

      i {
        @include transition();

        background: palette('green', accent);
        border-radius: 100px;
        box-shadow: 0 3px 5px 0 palette('green', accent, 0.15);
        color: white;
        font-size: 6px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 40px;
      }

      span {
        font-family: $ubuntu-medium;
        font-size: 12px;
        line-height: 38px;
        margin: 0 10px;
      }
    }

    &:hover a i {
      box-shadow: -5px 0 10px 0 rgba(4, 182, 175, 0.2);
    }

    &.previous:hover a i {
      box-shadow: 5px 0 10px 0 rgba(4, 182, 175, 0.2);
    }

    &.disabled {
      cursor: default;
      opacity: 0.5;

      a {
        color: palette('gray', text);
        cursor: default;
        pointer-events: none;

        i {
          background: white;
          color: palette('gray', slate);
          opacity: 0.5;
        }
      }

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  .pages {
    white-space: nowrap;

    .page-link {
      @include transition();

      color: palette('gray', text);
      display: inline-block;
      height: 30px;
      line-height: 30px;
      margin: 5px 0;
      text-align: center;
      text-decoration: none;
      width: 40px;

      &:hover {
        color: palette('green', accent);
      }

      &.active {
        @include transition();

        background: white;
        border: 1px solid palette('gray', slate, 0.1);
        border-radius: 5px;
        box-shadow: 0 3px 5px 0 palette('gray', slate, 0.05);

        &:hover {
          border: 1px solid palette('green', accent, .3);
          box-shadow: 0 7px 10px 0 palette('box-shadow', base, .05);
        }
      }
    }
  }

  @media screen and (max-width: 360px) {
    .pages .page-link {
      display: none;

      &.active {
        display: inline-block;
      }
    }
  }
}
