.record {
  .record-page {
    .record-page-title {
      font-family: $ubuntu-medium-italic;
      font-size: 18px;
      height: 22px;
      line-height: 22px;
      text-align: left;
    }

    .record-page-spacer {
      background: palette('gray', slate, .05);
      height: 2px;
      width: 100%;
    }
  }

  .record-page:first-child {
    margin-top: 0;
  }

  .field-title {
    font-family: $ubuntu-medium;
    font-size: 16px;
  }

  .no-field {
    color: palette('gray', text, .4);
    font-family: $ubuntu-medium-italic;
  }

  .field-data {
    .record-no-data {
      color: palette('gray', text, .4);
      font-family: $ubuntu-italic;
    }

    @import 'typed-fields';
  }

  .trash-container {
    .icon-trash {
      color: palette('red', base);
      font-size: 14px;
      padding: 0 0 5px;
      will-change: transform;
    }

    &:hover .icon-trash {
      transform: scale($transform-scale-multiplier);
    }
  }
}
