/***** UNIVERSAL *****/
.field-btn {
  background: palette('white', base);
  border: 1px solid palette('gray', slate, .1);
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 palette('gray', slate, .05);
  cursor: pointer;
  display: flex;
  height: 32px;
  position: relative;
  @include transition();
  width: 32px;
  z-index: 1;

  .icon {
    margin: auto;
  }

  &:hover {
    background: #f4f4f4;
  }

  &-circle {
    border-radius: 18px;
    height: 36px;
    width: 36px;
  }

  &.modal-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.field-display {
  width: calc(100% - 44px);
}

.field-sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;

  .bottom {
    .field-btn:not(:first-child) {
      margin: map-get($spacing, xs) 0 0 0;
    }
  }

  .top {
    .field-btn:not(:last-child) {
      margin: 0 0 map-get($spacing, xs);
    }
  }
}

.associator {
  border: 1px solid rgba(21,39,48,0.1);
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(21,39,48,0.05);
  margin-top: 10px;

  .header {
    margin: 13px 0;
    padding: 0 20px;

    .documents-link {
      float: left;
    }

    .card-toggle-wrap:hover {
      cursor: pointer;
    }

    .icon-chevron {
      padding: 7px 6px;
    }
  }

  .body {
    margin-top: 15px;
    padding: 0 20px 6px;
    position: relative;

    .overlay {
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #FFFFFF 100%);
      border-radius: 5px;
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
    }

    div:nth-child(2n):not(.overlay) {
      font-family: $ubuntu-medium;
    }

    div:nth-child(2n + 1):not(.overlay) {
      margin-bottom: 15px;
    }

    div:last-of-type {
      margin-bottom: 7px;
    }
  }
}

/***** COMBO LIST *****/
.combo-list-display {
  border: 1px solid rgba(21,39,48,0.1);
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(21,39,48,0.05);
  margin-top: 10px;
  overflow: hidden; /* this affects the individual record view page */
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;

  .combo-border-large {
    border: 1px solid rgba(21,39,48,0.05);
    float: left;
    margin-top: 6px;
    margin-left:-20px;
    padding-right: 40px;
    width: 100%;
  }

  .combo-border-small {
    border: 1px solid rgba(21,39,48,0.05);
    float: left;
    margin-top: 6px;
    width: 100%;
  }

  .combo-column {
    float: left;
    margin-bottom: 10px;
    margin-top: 13px;
    width: 50%;
  }

  .combo-title {
    font-family: $ubuntu-medium;
    font-size: 14px;
    line-height: 19px;
  }
}

.documents-link {
  color: palette('green', accent);
  font-family: $ubuntu-medium;
  padding-bottom: #{ $underline-padding };
}

/***** DOCUMENT *****/
.document-field-display {
  .filename {
    font-size: 16px;
    margin: 5px 0 10px 10px;
  }

  .file-size {
    margin: 10px 0 23px 10px;
  }
}

/***** GALLERY *****/
.caption-container {
  margin: 10px;
  max-height: 225px;
  overflow: hidden;
  position: relative;

  .caption {
    color: palette('gray', text, .8);
    font-size: 13px;
    left: calc(100% + 40px);
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &.active {
      position: relative;
      left: 0;
    }
  }

  + .caption-more {
    color: palette('green', accent);
    display: none;
    font-family: $ubuntu-medium;
    margin: 10px;

    &.more {
      display: inline-block;
    }
  }

  &.more {
    max-height: initial;
  }
}

.gallery-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: map-get($spacing, sm) 0 map-get($spacing, xxs);
  width: calc(100% - 44px);

  .dot {
    background: palette('gray', slate, .1);
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    height: 11px;
    margin: 0 3px;
    @include transition();
    width: 11px;

    &:hover {
      background: palette('gray', slate, .8);
    }

    &.active {
      background: palette('gray', slate);
    }
  }

  .field-btn {
    .icon {
      font-size: 7px;
    }
  }

  .next-button {
    .icon {
      transform: rotate(270deg);
    }
  }

  .prev-button {
    .icon {
      transform: rotate(90deg);
    }
  }
}

.gallery-field-display {
  background: palette('gray', slate);
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 palette('gray', slate, .05);
  height: 300px;
  overflow: hidden;
  position: relative;
  width: calc(100% - 44px);

  .slide {
    bottom: 0;
    cursor: pointer;
    display: flex;
    left: 2000px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;

    &:first-child {
      left: 0;
    }
  }

  .slide-img {
    margin: auto;
  }
}

.gallery-modal {
  .caption-container {
    margin: auto;
    padding: 0 0 20px;
    width: 90%;
  }

  .content {
    display: block;
    height: 90vh;
    max-width: none;
    overflow-y: unset;
    padding: 0;
    width: 90vw;

    .body {
      height: 100%;
      padding: 0;
      width: 100%;
    }

    .gallery-field-display {
      height: 75%;
      min-height: 400px;
      width: 100%;
    }
  }

  .gallery-controls {
    margin: auto;
    padding: 20px 0;
    width: 90%;
  }
}

.gallery-sidebar {
  box-sizing: initial;
  height: 300px;
}

/***** GEOLOCATOR *****/
.geolocator-map {
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(57,67,89,0.05);
  height: 270px;

  .lower-right-corner {
    bottom: 0;
    position: absolute;
    right: 0;
  }

  .modal {
    .content {
      display: block;
      overflow-y: unset;
    }
  }

  .upper-right-corner {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.geolocator-map-modal {
  .content {
    max-width: none;
    padding: 0;
    height: 100vh;
    width: 100vw;

    .body {
      height: 100vh;
      padding: 0;
    }
  }

  .geolocator-modal-map {
    height: 100%;
  }

  .modal-toggle {
    background: palette('white', base);
    border: 1px solid palette('gray', slate, .1);
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 palette('gray', slate);
    cursor: pointer;
    display: flex;
    height: 32px;
    position: absolute;
    right: 10px;
    top: 10px;
    @include transition();
    width: 32px;
    z-index: 1;

    .icon {
      margin: auto;
    }

    &:hover {
      background: #f4f4f4;
    }

    &-circle {
      border-radius: 18px;
      height: 36px;
      width: 36px;
    }
  }
}

/***** VIDEO *****/
.video-field-display {
  background: palette('gray', slate);
  border-radius: 5px;
  overflow: hidden;
  width: calc(100% - 44px);

  video {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }
}

/***** AUDIO *****/
.audio-field-display {
  .audio-container {
    margin: 0 0 10px 20px;

    .audio-button {
      color: palette('green', accent);
      cursor: pointer;
      display: none;
      font-size: 32px;
      height: 32px;
      vertical-align: middle;
      width: 32px;

      &.active {
        display: inline-block;
      }

      &.icon-replay-big {
        font-size: 24px;
        height: 24px;
        padding: 4px;
        width: 24px;
      }
    }

    .slider {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      width: calc(100% - 60px);

      .current-time,
      .duration-time {
        display: inline-block;
        vertical-align: middle;
      }

      .slider-bar {
        background: palette('gray', slate, .05);
        display: inline-block;
        height: 4px;
        width: calc(100% - 120px);
        vertical-align: middle;
      }

      .slider-button {
        cursor: pointer;
        left: calc(0% + 20px);
        padding: 10px;
        position: absolute;
        top: -6px;
        transition: .2s padding ease-in-out;
        z-index: 1;

        .inner-button {
          background: palette('green', accent);
          border-radius: 100%;
          height: 14px;
          transition: .2s height ease-in-out, .2s width ease-in-out;
          width: 14px;
        }

        &:hover {
          padding: 8px;

          .inner-button {
            height: 18px;
            width: 18px;
          }
        }
      }

      .slider-button-container {
        padding: 10px;
      }

      .slider-progress-bar {
        background: palette('green', accent, .3);
        height: 4px;
        left: 35px;
        position: absolute;
        top: 9px;
        width: 0;
      }
    }
  }

  .audio-filename {
    margin: 5px 0 10px 20px;
  }
}

.jp-center {
  margin: auto;
}

.model-player-div {
  margin: auto;
  position: relative;
  width: 800px;
}

//IF YOU CHANGE THIS HEIGHT, CHANGE IT IN THE RECORD DISPLAY FULLSCREEN JAVASCRIPT FUNCTIONS
.model-player-canvas {
  border: 1px solid;
  height: 400px;
  width: 800px;
}

/***** Fullscreen Modal *****/
.full-screen-modal {
  .content {
    box-sizing: border-box;
  }
}
