.documents-link {
  color: palette('green', accent);
  font-family: $ubuntu-medium;
  padding-bottom: #{ $underline-padding };
}

.jp-center {
  margin: auto;
}

.geolocator-map {
  height: 270px;
}

.model-player-div {
  margin: auto;
  position: relative;
  width: 800px;
}

//IF YOU CHANGE THIS HEIGHT, CHANGE IT IN THE RECORD DISPLAY FULLSCREEN JAVASCRIPT FUNCTIONS
.model-player-canvas {
  border: 1px solid;
  height: 400px;
  width: 800px;
}

.combo-list-display {
  overflow: auto;

  .combo-column {
    float: left;
    margin-bottom: 10px;
    width: 50%;
  }

  .combo-title {
    font-family: $ubuntu-medium-italic;
  }
}
