// Create an underline effect originating from the middle when .active is added.
//
// For on hover use .underline-middle-hover.
//
.underline-middle,
.underline-middle-hover {
  @include transition();

  position: relative;

  &::before,
  &::after {
    @include transition();

    background-color: palette(green, accent);
    bottom: 0;
    content: '';
    height: 2px;
    margin: 5px 0 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  &::before {
    left: calc(50%);
  }

  &::after {
    right: calc(50%);
  }

  &.active::before,
  &.active::after {
    opacity: 1;
    width: 50%;
  }
}

.underline-middle-hover {
  &:hover::before,
  &:hover::after {
    opacity: .8;
    width: 50%;
  }
}

// Create an underline effect originating from the left when .active is added.
//
// For on hover use .underline-left-hover.
//
.underline-left,
.underline-left-hover {
  @include transition();

  position: relative;

  &::before {
    @include transition();

    background-color: palette(green, accent);
    bottom: 0;
    content: '';
    height: 2px;
    margin: 5px 0 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  &.active::before {
    opacity: 1;
    width: 100%;
  }
}

.underline-left-hover {
  &:hover::before {
    opacity: 1;
    width: 100%;
  }
}
