@function palette($palette, $tone: 'base', $alpha: 1) {
  $base-green: #007c83;
  $base-accent: #04b6af;
  $sidemenu-gray: #152730;
  $text-gray: #283c46;

  // main base colors
  $base-white: #fff;
  $base-black: #000;
  $base-gray: #21323b;

  // status base colors

  // additional accent base colors

  // hue-based scales
  $hue-scales: (
    green: (
      base: rgba($base-green, $alpha),
      accent: rgba($base-accent, $alpha)
    ),

    white: (
      base: rgba($base-white, $alpha),
    ),

    black: (
      base: rgba($base-black, $alpha)
    ),

    gray: (
      darkest: #14252e,
      darker: $sidemenu-gray,
      text: rgba($text-gray, $alpha),
      base: #21323b
    ),

    box-shadow: (
      base: rgba($sidemenu-gray, .05)
    )

    // blue: (
    //   dark: adjust-color($base-blue, $hue: +.50725deg, $saturation: -5.13717%, $lightness: -8.23529%),
    //   base: $base-blue,
    //   light1: adjust-color($base-blue, $hue: +.05376deg, $saturation: -6.34637%, $lightness: +27.64706%),
    //   light2: adjust-color($base-blue, $hue: -1.42276deg, $saturation: -13.19426%, $lightness: +40.98039%),
    //   light3: adjust-color($base-blue, $hue: +3.33333deg, $saturation: -42.93785%, $lightness: +46.66667%)
    // ),
  );

  @return map-get(map-get($hue-scales, $palette), $tone);
}
