@function palette($palette, $tone: base, $alpha: 1) {
  // main base colors
  $base-accent: #04b6af;
  $base-background: #f5f6f7;
  $base-black: #000;
  $base-dropdown-menu: #21323b;
  $base-green: #007c83;
  $base-sidemenu: #152730;
  $base-sidemenu-drawer: #14252e;
  $base-sidemenu-drawer-text: #f7f8fa;
  $base-sidemenu-footer: #11222a;
  $base-text: #283c46;
  $base-warning: #ff6f81;
  $base-white: #fff;
  $base-yellow: #ffbc70;
  $base-yellow-text: #f39a33;

  $test: #549;

  // hue-based scales
  $hue-scales: (
    'green': (
      accent:         rgba($base-accent, $alpha),
      base:           rgba($base-green, $alpha)
    ),

    'red': (
      base:           rgba($base-warning, $alpha),
      warning:        rgba($base-warning, $alpha)
    ),

    'white': (
      base:           rgba($base-white, $alpha),
    ),

    'black': (
      base:           rgba($base-black, $alpha)
    ),

    'gray': (
      background:     rgba($base-background, $alpha),
      base:           rgba($base-text, $alpha),
      drawer-slate:   rgba($base-sidemenu-drawer, $alpha),
      drawer-text:    rgba($base-sidemenu-drawer-text, $alpha),
      footer-slate:   rgba($base-sidemenu-drawer, $alpha),
      dropdown:       rgba($base-dropdown-menu, $alpha),
      slate:          rgba($base-sidemenu, $alpha),
      text:           rgba($base-text, $alpha),
      page:           rgba(#f8f9fa, $alpha)
    ),

    'yellow': (
      base:           rgba($base-yellow, $alpha),
      text:           rgba($base-yellow-text, $alpha)
    ),

    'box-shadow': (
      base: rgba($base-sidemenu, $alpha),
      drawer-black: rgba($base-black, $alpha),
      accent: rgba($base-accent, $alpha),
      warning: rgba($base-warning, $alpha)
    )

    // 'box-shadow': (
    //   dark: adjust-color($base-blue, $hue: +.50725deg, $saturation: -5.13717%, $lightness: -8.23529%),
    //   base: $base-blue,
    //   light1: adjust-color($base-blue, $hue: +.05376deg, $saturation: -6.34637%, $lightness: +27.64706%),
    //   light2: adjust-color($base-blue, $hue: -1.42276deg, $saturation: -13.19426%, $lightness: +40.98039%),
    //   light3: adjust-color($base-blue, $hue: +3.33333deg, $saturation: -42.93785%, $lightness: +46.66667%)
    // ),
  );

  @return map-get(map-get($hue-scales, $palette), $tone);
}

@function gradient($palette: 'background', $degree: 180deg) {
  $accent-start: #00c7b8;
  $accent-end: #04b6af;
  $background-start: #fbfbfc;
  $background-end: #f5f6f7;
  $warning-start: #ff6b83;
  $warning-end: #f56;

  $gradient-scales: (
    accent:       linear-gradient($degree, $accent-start 0%, $accent-end 100%),
    background:   linear-gradient($degree, $background-start 0%, $background-end 20%),
    warning:      linear-gradient($degree, $warning-start 0%, $warning-end 100%)
  );

  @return map-get($gradient-scales, $palette);
}
