@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/ubuntu-bold.woff2') format('woff2'),
    url('#{$font-path}/ubuntu-bold.woff') format('woff'),
    url('#{$font-path}/ubuntu-bold.ttf') format('truetype'),
    url('#{$font-path}/ubuntu-bold.svg#ubuntubold') format('svg');
}

@font-face {
  font-family: 'Ubuntu-Bold-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/ubuntu-bolditalic.woff2') format('woff2'),
    url('#{$font-path}/ubuntu-bolditalic.woff') format('woff'),
    url('#{$font-path}/ubuntu-bolditalic.ttf') format('truetype'),
    url('#{$font-path}/ubuntu-bolditalic.svg#ubuntubold_italic') format('svg');
}

@font-face {
  font-family: 'Ubuntu-Light';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/ubuntu-light.woff2') format('woff2'),
    url('#{$font-path}/ubuntu-light.woff') format('woff'),
    url('#{$font-path}/ubuntu-light.ttf') format('truetype'),
    url('#{$font-path}/ubuntu-light.svg#ubuntulight') format('svg');
}

@font-face {
  font-family: 'Ubuntu-Light-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/ubuntu-lightitalic.woff2') format('woff2'),
    url('#{$font-path}/ubuntu-lightitalic.woff') format('woff'),
    url('#{$font-path}/ubuntu-lightitalic.ttf') format('truetype'),
    url('#{$font-path}/ubuntu-lightitalic.svg#ubuntulight_italic') format('svg');
}

@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/ubuntu-medium.woff2') format('woff2'),
    url('#{$font-path}/ubuntu-medium.woff') format('woff'),
    url('#{$font-path}/ubuntu-medium.ttf') format('truetype'),
    url('#{$font-path}/ubuntu-medium.svg#ubuntumedium') format('svg');
}

@font-face {
  font-family: 'Ubuntu-Medium-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/ubuntu-mediumitalic.woff2') format('woff2'),
    url('#{$font-path}/ubuntu-mediumitalic.woff') format('woff'),
    url('#{$font-path}/ubuntu-mediumitalic.ttf') format('truetype'),
    url('#{$font-path}/ubuntu-mediumitalic.svg#ubuntumedium_italic') format('svg');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/ubuntu-regular.woff2') format('woff2'),
    url('#{$font-path}/ubuntu-regular.woff') format('woff'),
    url('#{$font-path}/ubuntu-regular.ttf') format('truetype'),
    url('#{$font-path}/ubuntu-regular.svg#ubunturegular') format('svg');
}

@font-face {
  font-family: 'Ubuntu-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/ubuntu-italic.woff2') format('woff2'),
    url('#{$font-path}/ubuntu-italic.woff') format('woff'),
    url('#{$font-path}/ubuntu-italic.ttf') format('truetype'),
    url('#{$font-path}/ubuntu-italic.svg#ubuntuitalic') format('svg');
}



@font-face {
  font-family: 'Kora-Icons';
  src: url('#{$kora-font-path}/kora-icons.eot?1yzz1y');
  src: url('#{$kora-font-path}/kora-icons.eot?1yzz1y#iefix') format('embedded-opentype'),
    url('#{$kora-font-path}/kora-icons.ttf?1yzz1y') format('truetype'),
    url('#{$kora-font-path}/kora-icons.woff?1yzz1y') format('woff'),
    url('#{$kora-font-path}/kora-icons.svg?1yzz1y#kora-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  font-family: 'Kora-Icons';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-arrow-right,
.icon-arrow-left,
.icon-arrow-up,
.icon-arrow-down {
  &::before {
    content: $icon-arrow;
  }
}

.icon-recordNew-Little {
  &:before {
    content: $icon-recordNew-Little; 
  }
}
.icon-formRecords-Little {
  &:before {
    content: $icon-formRecords-Little; 
  }
}

.icon-arrow-up {
  transform: rotate(-90deg);
}

.icon-arrow-down {
  transform: rotate(90deg);
}

.icon-chevron {
  will-change: transform;

  &::before {
    content: $icon-chevron;
  }

  &.active {
    transform: rotate(-180deg);
  }
}

.icon-edit-little {
  &::before {
    content: $icon-edit-little;
  }
}

.icon-hamburger {
  &::before {
    content: $icon-hamburger;
  }
}

.icon-search {
  &::before {
    content: $icon-search;
  }
}

.icon-projects {
  &::before {
    content: $icon-projects;
  }
}

.icon-cancel {
  &::before {
    content: $icon-cancel;
  }
}

.icon-logout {
  &::before {
    content: $icon-logout;
  }
}

.icon-placeholder {
  &::before {
    content: $icon-placeholder;
  }
}

.icon-dashboard {
  &::before {
    content: $icon-dashboard;
  }
}

.icon-project {
  &::before {
    content: $icon-project;
  }
}

.icon-plus {
  &::before {
    content: $icon-plus;
  }
}

.icon-minus {
  &::before {
    content: $icon-minus;
  }
}

.icon-new-project {
  &::before {
    content: $icon-new-project;
  }
}

.icon-user {
  &::before {
    content: $icon-user;
  }
}

.icon-user-little {
  &::before {
    content: $icon-user-little;
  }
}

.icon-project-happy .path1 {
  &::before {
    color: palette('white', base);
    content: $icon-project-happy-path1;

  }
}

.icon-project-happy .path2 {
  &::before {
    color: palette('gray', text, .5);
    content: $icon-project-happy-path2;
    margin-left: -1.0966796875em;
    text-shadow: none;
  }
}

.icon-project-happy .path3 {
  &::before {
    color: palette('gray', text, .5);
    content: $icon-project-happy-path3;
    margin-left: -1.0966796875em;
    text-shadow: none;
  }
}

.icon-project-happy .path4 {
  &::before {
    color: palette('gray', text, .5);
    content: $icon-project-happy-path4;
    margin-left: -1.0966796875em;
    text-shadow: none;
  }
}

.icon-project-happy .path5 {
  &::before {
    color: palette('gray', text, .5);
    content: $icon-project-happy-path5;
    margin-left: -1.0966796875em;
    text-shadow: none;
  }
}

.icon-archive {
  &::before {
    content: $icon-archive;
  }
}

.icon-preset {
  &::before {
    content: $icon-preset;
  }
}

.icon-record-search {
  &::before {
    content: $icon-record-search;
  }
}

.icon-project-permissions {
  &::before {
    content: $icon-project-permissions;
  }
}

.icon-project-import {
  &::before {
    content: $icon-project-import;
  }
}

.icon-project-edit {
  &::before {
    content: $icon-project-edit;
  }
}

.icon-trash {
  &::before {
    content: $icon-trash;
  }
}

.icon-field-new {
  &::before {
    content: $icon-field-new;
  }
}

.icon-field {
  &::before {
    content: $icon-field;
  }
}

.icon-zap {
  &::before {
    content: $icon-zap;
  }
}

.icon-form-scheme-importer {
  &::before {
    content: $icon-form-scheme-importer;
  }
}

.icon-form-record-search {
  &::before {
    content: $icon-form-record-search;
  }
}

.icon-form-associations {
  &::before {
    content: $icon-form-associations;
  }
}

.icon-form-permissions {
  &::before {
    content: $icon-form-permissions;
  }
}

.icon-form-edit {
  &::before {
    content: $icon-form-edit;
  }
}

.icon-form-import {
  &::before {
    content: $icon-form-import;
  }
}

.icon-form-new {
  &::before {
    content: $icon-form-new;
  }
}

.icon-form {
  &::before {
    content: $icon-form;
  }
}

.icon-shield {
  &::before {
    content: $icon-shield;
  }
}

.icon-user-add {
  &::before {
    content: $icon-user-add;
  }
}

.icon-star {
  &::before {
    content: $icon-star;
  }
}

.icon-check {
  &::before {
    content: $icon-check;
  }
}

.icon-edit {
  &::before {
    content: $icon-edit;
  }
}

.icon-record-import {
  &::before {
    content: $icon-record-import;
  }
}

.icon-duplicate {
  &::before {
    content: $icon-duplicate;
  }
}

.icon-clock {
  &::before {
    content: $icon-clock;
  }
}

.icon-search-big {
  &::before {
    content: $icon-search-big;
  }
}

.icon-play {
  &::before {
    content: $icon-play;
  }
}

.icon-external-link {
  &::before {
    content: $icon-external-link;
  }
}

.icon-download {
  &::before {
    content: $icon-download;
  }
}

.icon-maximize {
  &::before {
    content: $icon-maximize;
  }
}

.icon-expand {
  &::before {
    content: $icon-expand;
  }
}

.icon-condense {
  &::before {
    content: $icon-condense;
  }
}

.icon-record-new {
  &::before {
    content: $icon-record-new;
  }
}

.icon-record-edit {
  &::before {
    content: $icon-record-edit;
  }
}

.icon-record {
  &::before {
    content: $icon-record;
  }
}

.icon-token {
  &::before {
    content: $icon-token;
  }
}

.icon-cancel-circle {
  &::before {
    content: $icon-cancel-circle;
  }
}

.icon-exodus {
  &::before {
    content: $icon-exodus;
  }
}

.icon-block-add {
  &::before {
    content: $icon-block-add;
  }
}

.icon-record-new-little {
  &::before {
    content: $icon-record-new-little;
  }
}

.icon-field-new-little {
  &::before {
    content: $icon-field-new-little;
  }
}

.icon-preset-little {
  &::before {
    content: $icon-preset-little;
  }
}

.icon-duplicate-little {
  &::before {
    content: $icon-duplicate-little;
  }
}

.icon-clock-little {
  &::before {
    content: $icon-clock-little;
  }
}

.icon-unarchive {
  &::before {
    content: $icon-unarchive;
  }
}

.icon-my-permissions {
  &::before {
    content: $icon-my-permissions;
  }
}

.icon-my-record-history {
  &::before {
    content: $icon-my-record-history;
  }
}

.icon-users {
  &::before {
    content: $icon-users;
  }
}

.icon-update {
  &::before {
    content: $icon-update;
  }
}

.icon-backup .path3 {
  &::before {
    content: $icon-backup-path3;
    margin-left: -1.20703125em;
  }
}

.icon-backup .path2 {
  &::before {
    color: palette('gray', slate);
    content: $icon-backup-path2;
    margin-left: -1.20703125em;
  }
}

.icon-backup .path1 {
  &::before {
    color: palette('gray', slate);
    content: $icon-backup-path1;
  }
}

.icon-env-file {
  &::before {
    content: $icon-env-file;
  }
}

.icon-check-circle {
  &::before {
    content: $icon-check-circle;
  }
}

.icon-more {
  &::before {
    content: $icon-more;
  }
}
