body {
  display: flex;
  flex-direction: row-reverse;
  -webkit-font-smoothing: subpixel-antialiased;
}

body,
form {
  margin: 0;
}

a.inactive {
  cursor: text;
  pointer-events: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.fixed-bottom {
  bottom: 0;
  left: 0;
  max-width: calc(#{ $max-site-width } - 600px);
  position: fixed;
  right: 0;
  width: $max-site-width;
}

.fixed-bottom-slide {
  @include transition();

  animation: slideup .4s forwards;
  left: 0;
  max-width: calc(#{ $max-site-width } - 600px);
  position: fixed;
  right: 0;
  width: $max-site-width;
}

@import 'spacing';
