body {
  display: flex;
  flex-direction: row-reverse;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased; 
}

body,
form {
  margin: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

@import 'spacing';
