body {
  display: flex;
  flex-direction: row-reverse;
  -webkit-font-smoothing: antialiased;
}

body,
form {
  margin: 0;
}

.inactive {
  cursor: text;
  pointer-events: none;
}

a {
  &.text {
    @include transition();

    color: palette('gray', text);
    font-family: $ubuntu;
    padding: 0 0 $underline-padding;
    text-decoration: none;

    &:hover {
      color: palette('green', accent);
  	}
  }
}

h2 {
  color: palette('gray', text);
  font-family: Ubuntu-Medium;
  font-weight: normal;
}

.right {
  float: right;
}

.left {
  float: left;
}

.floating-buttons {
  @include transition();

  bottom: 0;
  position: fixed;
  right: 0;

  &.with-aside {
    right: 250px;
  }
}

.no-actions {
  border-bottom: 1px solid transparent;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.notification {
  @include transition(right);

  align-items: center;
  background: gradient(accent, to right);
  border-radius: 5px;
  box-shadow: 0 2px 42px 0 rgba(4,182,164,0.3);
  color: palette('white', base);
  display: flex;
  font-family: $ubuntu;
  font-size: 14px;
  height: 50px;
  position: fixed;
  right: 30px;
  top: 70px;
  z-index: 10;

  &.dismiss {
    right: -350px;
  }

  .note {
    min-width: 260px;
  }

  .toggle-notification {
    @include transition(opacity);

    align-items: center;
    background: rgba(61, 77, 96, 0.1);
    border-radius: 0 5px 5px 0;
    display: flex;
    height: 100%;
    padding: 0 20px;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.fixed-bottom {
  bottom: 0;
  left: 0;
  max-width: calc(#{ $max-site-width } - 600px);
  position: fixed;
  right: 0;
}

.fixed-bottom-slide {
  animation: slideup .4s forwards;
  left: 0;
  max-width: calc(#{ $max-site-width } - 600px);
  position: fixed;
  right: 0;
}

.fixed-bottom.pre-fixed-with-aside,
.fixed-bottom-slide.pre-fixed-with-aside, {
  right: 250px;
}

@media screen and (max-width: $max-with-aside-width) {
  .fixed-bottom.pre-fixed-with-aside,
  .fixed-bottom-slide.pre-fixed-with-aside, {
    max-width: calc(100% - 375px);
    right: 250px;
  }
}

@media screen and (min-width: $max-mobile-xs-width) and (max-width: $max-tablet-width) {
  .fixed-bottom,
  .fixed-bottom-slide {
    max-width: calc(100% - #{$tablet-margin-total});
  }
  //
  // .fixed-bottom.pre-fixed-with-aside,
  // .fixed-bottom-slide.pre-fixed-with-aside, {
  //   max-width: calc(#{ $max-site-width } - 850px);
  // }
}

@media screen and (max-width: $max-mobile-xs-width) {
  .fixed-bottom,
  .fixed-bottom-slide {
    max-width: calc(100% - #{$mobile-xs-margin-total});
  }
}

@import 'spacing';
