@mixin responsive-scroll() {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@mixin transition($property: all, $duration: .2s) {
  transition: $property $duration ease-in-out;
}

@mixin vertical-align($position: absolute, $transform: '') {
  position: $position;  top: 50%;
  transform: translateY(-50%) $transform;
}
