.notification {
  @include transition(right);

  background: gradient(accent, to right);
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(4,182,164,0.3);
  color: palette('white', base);
  font-family: $ubuntu;
  font-size: 14px;
  height: 50px;
  position: fixed;
  right: 30px;
  top: 70px;
  z-index: 10;

  &.with-aside {
    right: 270px;
  }

  &.dismiss {
    right: -475px;
  }

  .container {
    align-items: center;
    display: flex;
    height: 100%;
	
	div > p {
	  color: palette('white', base);
	}
  }

  .note {
    min-width: 260px;

    &.update {
      min-width: 190px;
    }

    .with-description {
      margin-bottom: 0;
      margin-top: 2px;
    }

    .note-description {
      font-size: 11px;
      margin: 0 20px;
    }
  }

  .view-updates {
    @include transition(opacity);

    align-items: center;
    background: rgba(61, 77, 96, 0.05);
    display: flex;
    height: 100%;
    padding: 0 20px;

    &.hidden {
      display: none;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  .toggle-notification {
    @include transition(opacity);

    align-items: center;
    background: rgba(61, 77, 96, 0.1);
    border-radius: 0 5px 5px 0;
    display: flex;
    height: 100%;
    padding: 0 20px;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  /* &.warning { */
    /* background: gradient(warning, to right); */
  /* } */

  @media screen and (max-width: $max-mobile-xs-width) {
    @include transition(top);

    height: unset;
    left: 0;
    margin: 0 auto;
    right: 0;
    top: 70px;
    width: 90%;

    &.dismiss {
      top: -200px;
      right: 30px;
    }

    .container {
      display: block;
      position: relative;
      width: 100%;

      .note {
        align-items: center;
        display: flex;
        height: 50%;
        padding: 10px;
        justify-content: center;
      }

      .toggle-notification {
        height: unset;
        justify-content: center;
        padding: 0;
      }
    }
  }
}

.welcome-align {
  @media screen and (max-width: $max-mobile-xs-width) {
	text-align: center !important;
  }
  
  text-align: left !important;
}

.welcome-stack-note {
  @media screen and (max-width: $max-mobile-xs-width) {
	display: block !important;
  }

  display: unset;
}
