@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.tooltip {
  display: inline-block;
  position: relative;
  pointer-events: auto !important;

  &::after {
    opacity: 0;
  }

  &:hover::after {
    animation: fadein .2s forwards;
    background: palette('gray', dropdown);
    border-radius: 5px;
    color: palette('white');
    content: attr(tooltip);
    font-size: 12px;
    left: 50%;
    line-height: 13px;
    margin: 0 auto;
    padding: 5px 10px;
    position: absolute;
    top: -30px;
    transform: translate(-50%);
    white-space: nowrap;

    .page-header & {
      top: 15px;
    }

    .content .footer & {
      top: -30px;
    }

    .backup .footer &,
    .field .footer &,
    .token .footer &,
    .user .footer &,
    .record .footer &,
    .preset .footer & {
      top: 0;
    }

    .form-cleanup & {
      top: -35px;
    }

    /* DASHBOARD SECTION */
    .floating-buttons .edit-blocks & {
      left: -40px;
    }

    .element .element-link-container & {
      z-index: 1;
    }

    .edit-mode .edit-block & {
      background: palette('white');
      color: palette('gray', dropdown);
    }
    /* DASHBOARD SECTION END */

    .field-sidebar & {
      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (max-width: $max-mobile-xs-width) {
      .title & {
        left: -50px;
      }

      .page-header & {
        top: 0;
      }

      .content .footer & {
        top: -30px;
        left: -30px;
      }

      .show-options & {
        left: 0;
      }

      .filters .show-options span & {
        left: -50px;
      }

      .show-options span:last-child & {
        left: -90px;
      }

      .element-link-container & {
        left: -10px;
      }

      .open-create-regex & {
        left: 0;
        top: -50px;
        white-space: normal;
      }
    }
  }

  &.form-group {
    display: block;
  }

  &.half-sub-btn.disabled {
  	border: 2px solid rgba(4, 182, 175, 0.2) !important;
  	color: rgba(4, 182, 175, 0.2) !important;
  	opacity: 1 !important;
    pointer-events: unset !important;

    &:hover::after {
      left: 45px;
      line-height: 1;
      top: -15px;
    }
  }
}
