@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.tooltip {
  display: inline-block;
  position: relative;
  pointer-events: auto !important;

  &::after {
    opacity: 0;
  }

  &:hover::after {
    animation: fadein .2s forwards;
    background: palette('gray', dropdown);
    border-radius: 5px;
    color: palette('white');
    content: attr(tooltip);
    font-size: 12px;
    left: 0;
    line-height: 13px;
    margin: 0 auto;
    padding: 5px 10px;
    position: absolute;
    top: -30px;
    white-space: nowrap;

    .title & {
      left: -45px;
    }

    .page-header & {
      top: 15px;
      left: 4px;
    }

    .footer & {
      top: -30px;
      left: -30px;
    }

    .content .footer & {
      top: -30px;
      left: -45px;
    }

    .project-cleanup & {
      left: -25px;
    }

    .field-cleanup & {
      left: -18px;
    }

    .form-cleanup & {
      top: -35px;
      left: -18px;
    }

    .show-options & {
      left: -50px;
    }

    .open-create-regex & {
      left: -140px;
    }
    
    @media screen and (max-width: $max-mobile-xs-width) {
      .title & {
        left: -50px;
      }

      .page-header & {
        top: 0;
      }

      .content .footer & {
        top: -30px;
        left: -30px;
      }

      .show-options & {
        left: 0;

        &:last-of-type {
          left: -35px;
        }
      }

      .show-options span:last-child & {
        left: -90px;
      }

      .element-link-container & {
        left: -10px;
      }
    }
  }

  &.form-group {
    display: block;
  }

  &.half-sub-btn.disabled {
	border: 2px solid rgba(4, 182, 175, 0.2) !important;
	color: rgba(4, 182, 175, 0.2) !important;
	opacity: 1 !important;
    pointer-events: unset !important;

    &:hover {

      &::after {
        left: 45px;
        line-height: 1;
        top: -15px;
      }
    }
  }
}
