// Fonts
$font-path: '../fonts';
$kora-font-path: '#{$font-path}/kora-icons';

$ubuntu: Ubuntu;
$ubuntu-italic: Ubuntu-Italic;
$ubuntu-bold: Ubuntu-Bold;
$ubuntu-bold-italic: Ubuntu-Bold-Italic;
$ubuntu-medium: Ubuntu-Medium;
$ubuntu-medium-italic: Ubuntu-Medium-Italic;
$ubuntu-light: Ubuntu-Light;
$ubuntu-light-italic: Ubuntu-Light-Italic;

// Kora Icons
$kora-icons: Kora-Icons;
$icon-field-EmptyState: "\e95a";
$icon-searchProjRecords-EmptyState: "\e954";
$icon-token-EmptyState-path1: "\e955";
$icon-token-EmptyState-path2: "\e956";
$icon-recordPreset---Empty-State: "\e957";
$icon-recordRevisions-clock-EmptyState: "\e958";
$icon-formAssociations---EmptyState: "\e959";
$icon-form-EmptyState: "\e953";
$icon-form-import-little: "\e951";
$icon-form-new-little: "\e952";
$icon-feedback: "\e950";
$icon-gear: "\e941";
$icon-help: "\e94d";
$icon-plugins: "\e94f";
$icon-backup-little: "\e940";
$icon-record-little: "\e94e";
$icon-more: "\e93c";
$icon-check-circle: "\e93d";
$icon-env-file: "\e93e";
$icon-backup: "\e93f";
$icon-update: "\e942";
$icon-users: "\e943";
$icon-my-record-history: "\e944";
$icon-my-permissions: "\e945";
$icon-unarchive: "\e946";
$icon-clock-little: "\e947";
$icon-duplicate-little: "\e948";
$icon-preset-little: "\e949";
$icon-field-new-little: "\e94a";
$icon-record-new-little: "\e94b";
$icon-block-add: "\e94c";
$icon-exodus: "\e93b";
$icon-cancel-circle: "\e934";
$icon-token: "\e933";
$icon-record-import: "\e92c";
$icon-duplicate: "\e92d";
$icon-clock: "\e92e";
$icon-search-big: "\e92f";
$icon-play: "\e930";
$icon-external-link: "\e931";
$icon-download: "\e932";
$icon-maximize: "\e935";
$icon-expand: "\e936";
$icon-condense: "\e937";
$icon-record-new: "\e938";
$icon-record-edit: "\e939";
$icon-record: "\e93a";
$icon-trash: "\e91b";
$icon-archive: "\e915";
$icon-preset: "\e916";
$icon-record-search: "\e917";
$icon-project-permissions: "\e918";
$icon-project-import: "\e919";
$icon-project-edit: "\e91a";
$icon-project-happy-path1: "\e910";
$icon-project-happy-path2: "\e911";
$icon-project-happy-path3: "\e912";
$icon-project-happy-path4: "\e913";
$icon-project-happy-path5: "\e914";
$icon-user-little: "\e90f";
$icon-user: "\e90e";
$icon-new-project: "\e90d";
$icon-plus: "\e90b";
$icon-minus: "\e90c";
$icon-project: "\e90a";
$icon-logout: "\e907";
$icon-placeholder: "\e908";
$icon-dashboard: "\e909";
$icon-cancel: "\e906";
$icon-projects: "\e905";
$icon-arrow: "\e900";
$icon-chevron: "\e901";
$icon-edit-little: "\e902";
$icon-hamburger: "\e903";
$icon-search: "\e904";
$icon-field-new: "\e91c";
$icon-field: "\e91d";
$icon-zap: "\e91e";
$icon-form-scheme-importer: "\e91f";
$icon-form-record-search: "\e920";
$icon-form-associations: "\e921";
$icon-form-permissions: "\e922";
$icon-form-edit: "\e923";
$icon-form-import: "\e924";
$icon-form-new: "\e925";
$icon-form: "\e926";
$icon-shield: "\e927";
$icon-user-add: "\e928";
$icon-star: "\e929";
$icon-check: "\e92a";
$icon-edit: "\e92b";

// Site Responsiveness
$max-site-width: 1440px;
$max-grid-quad-width: 1180px;
$max-with-aside-width: 1155px;
$max-tablet-width: 980px;
$max-grid-tri-width: 910px;
$max-mobile-width: 768px;
$max-mobile-l-width: 720px;
$max-mobile-med-width: 640px;
$max-grid-duo-width: 640px;
$max-mobile-xs-width: 480px;
$tablet-margin-total: 120px;
$mobile-margin-total: 60px;
$mobile-xs-margin-total: 50px;

// Animation Constants
$transform-scale-multiplier: 1.25;
$underline-padding: 5px;

// Navigation Bar Constants
$navigation-height: 50px;
$status-height: 30px;

// Margin Padding
$spacing: (
  auto: auto,
  0: 0,
  xxs: 5px,
  xs: 10px,
  sm: 15px,
  m: 20px,
  xl: 30px,
  xxl: 40px,
  xxxl: 60px,
  100-xl: 100px,
  max: 150px
);
