.body {
  box-sizing: border-box;
  color: palette('gray', text);
  padding: 0 40px 40px;

  .description {
    font-size: 13px;

    &.delete-block {
      font-family: $ubuntu;
    }

    &.record-validation {
      > p:last-of-type {
        font-family: $ubuntu-medium;
      }
    }

    .validation-errorpage-link {
      /* @include transition(color); */

      /* color: palette('gray', text); */
      color: palette('green', accent);
      font-family: $ubuntu-medium;
      text-decoration: none;

      /* &:hover { */
        /* color: palette('green', accent); */
      /* } */
    }
  }

  .preset-name > label {
    display: block;
  }

  @media screen and (max-width: $max-mobile-xs-width) {
    .actions .action {
      padding: 0 0 10px;

      &:last-of-type {
        padding: 0;
      }
    }
  }

  .designated {
    white-space: normal;

    .record-preset-link {
      color: palette('green', accent);
      display: inline;
    }
  }
  
  &.record-validation {
    margin-top: -10px;
  }

  &.exp-rec {
    .form-group {
      &:first-child {
        white-space: normal;
      }

      &:last-child {
        padding: 0;
      }
    } 
  }
}

&.small {
  .body {
    font-size: 14px;
    line-height: 1.5;
    padding: 0 25px 25px;

    .export-record-link {
      color: palette('green', 'accent');
      display: inline;
      font-family: $ubuntu-medium;
    }
  }

  .form-group:last-child {
    padding-top: 25px;
  }
}

@media screen and (max-width: $max-mobile-xs-width) {
  .body {
    padding: 0 20px 20px;
  }
}
