.body {
  box-sizing: border-box;
  color: palette('gray', text);
  padding: 0 40px 40px;

  .description {
    font-size: 13px;

    &.delete-block {
      font-family: $ubuntu;
    }

    &.record-validation {
      > p:last-of-type {
        font-family: $ubuntu-medium;
      }
    }

    .validation-errorpage-link {
      /* @include transition(color); */

      /* color: palette('gray', text); */
      color: palette('green', accent);
      font-family: $ubuntu-medium;
      text-decoration: none;

      /* &:hover { */
        /* color: palette('green', accent); */
      /* } */
    }
  }

  &.onboarding {
    .bold {
      font-family: $ubuntu-bold;
    }

    h3 {
      font-family: $ubuntu-medium;
      font-size: 24px;
      font-weight: unset;
      line-height: 1.3;
      margin: 30px 0 25px;

	    @media screen and (max-width: 700px) {
		    margin: 15px 0 20px;
	    }
    }

    p {
      font-family: $ubuntu;
      font-size: 14px;
      line-height: 1.7;

      .icon-hamburger {
        margin: 0 3px;
        vertical-align: middle;
      }
    }

    ul {
      padding: 0 0 0 20px;

      & + p {
        margin: 25px 0 0 0;
      }
    }

    li:not(.active-result) {
      font-family: $ubuntu;
      margin: 15px 0;

      @media screen and (max-width: 700px) {
        margin: 5px 0;
      }
    }

    a.green {
      color: palette('green', accent);
      text-decoration: none;
      position: relative;

      &.underline::before,
      &.underline::after {
        background-color: palette('green', accent);
        bottom: 0;
        content: '';
        height: 2px;
        margin: 5px 0 0;
        opacity: 0.8;
        position: absolute;
        width: 50%;
      }

      &.underline::before {
        left: calc(50%);
      }

      &.underline::after {
        right: calc(50%);
      }
    }

    .chosen-results {
      max-height: 240px;
      overflow-y: auto;
    }

	@media screen and (max-width: 700px) {
		.form-group {
			height: 110px;
			margin-top: 20px;

			.btn {
				display: block;
				width: 100%;

				&:last-of-type {
					margin: 15px 0;
				}
			}
		}
	}
  }

  .preset-name > label {
    display: block;
  }

  @media screen and (max-width: $max-mobile-xs-width) {
    .actions .action {
      padding: 0 0 10px;

      &:last-of-type {
        padding: 0;
      }
    }
  }

  .designated {
    white-space: normal;

    .record-preset-link {
      color: palette('green', accent);
      display: inline;
    }
  }
  
  &.record-validation {
    margin-top: -10px;
  }

  &.exp-rec {
    .form-group {
      &:first-child {
        white-space: normal;
      }

      &:last-child {
        padding: 0;
      }
    } 
  }
}

&.small {
  .body {
    font-size: 14px;
    line-height: 1.5;
    padding: 0 25px 25px;

    .export-record-link {
      color: palette('green', 'accent');
      display: inline;
      font-family: $ubuntu-medium;
    }
  }

  .form-group:last-child {
    padding-top: 25px;
  }
}

@media screen and (max-width: $max-mobile-xs-width) {
  .body {
    padding: 0 20px 20px;
  }
}
