.body {
  box-sizing: border-box;
  color: palette('gray', text);
  padding: 0 40px 40px;

  .description {
    font-size: 13px;

    .validation-errorpage-link {
      @include transition(color);

      color: palette('gray', text);
      text-decoration: none;

      &:hover {
        color: palette('green', accent);
      }
    }
  }

  .preset-name > label {
    display: block;
  }

  .designated {
    white-space: normal;

    .record-preset-link {
      color: palette('green', accent);
      display: inline;
    }
  }
  
  &.exp-rec {
    .form-group {
      &:first-child {
        white-space: normal;
      }

      &:last-child {
        padding: 0;
      }
    } 
  }
}

&.small {
  .body {
    font-size: 14px;
    line-height: 1.5;
    padding: 0 25px 25px;

    .export-record-link {
      color: palette('green', 'accent');
      display: inline;
      font-family: $ubuntu-medium;
    }
  }

  .form-group:last-child {
    padding-top: 25px;
  }
}

@media screen and (max-width: $max-mobile-xs-width) {
  .body {
    padding: 0 20px 20px;
  }
}
