.header {
  box-sizing: border-box;
  color: palette(gray, text);
  padding: 35px 40px;
  position: relative;
  text-align: left;
  width: 100%;

  .title {
    display: block;
    font-family: $ubuntu;
    font-size: 20px;
    width: calc(100% - 22px);
  }

  .modal-toggle {
    color: inherit;
    font-size: 13px;
    position: absolute;
    right: 40px;
    text-decoration: none;
    top: 40px;
  }
}

&.small .header {
  padding: 25px;

  .modal-toggle {
    right: 25px;
    top: 25px;
  }
}

@media screen and (max-width: $max-mobile-xs-width) {
  .header {
    padding: 20px;

    .modal-toggle {
      right: 20px;
      top: 20px;
    }
  }
}
