.header {
  box-sizing: border-box;
  color: palette('gray', text);
  position: relative;
  text-align: left;
  width: 100%;

  img {
    border-radius: 5px 5px 0 0;
    height: auto;
    max-height: 250px;
    width: 100%;
  }

  .title {
    display: block;
    font-family: $ubuntu;
    font-size: 20px;
    padding: 35px 0 40px 35px;
    width: calc(100% - 62px);

    &.delete-block {
      text-align: left;
    }
  }

  &.onboarding {
    img {
      object-fit: cover;
    }

    .title {
      border-radius: 5px 5px 0 0;
      box-sizing: border-box;
      color: palette('white', base);
      font-size: 14px;
      left: 0;
      padding: 15px 20px 0;
      position: absolute;
      text-align: left;
      top: 0;
      width: 100%;

      &:hover {
        cursor: default;
      }

      .skip {
        float: right;

        > span {
          font-family: $ubuntu-medium;
          margin-right: 20px;
        }

        .modal-toggle {
          padding: 15px;
          top: 0;

          .icon {
            padding: 0;
            font-size: 14px;
          }
        }

        &:hover {
          cursor: pointer;

          .modal-toggle {
            transform: rotate(90deg) scale($transform-scale-multiplier);
          }
        }
      }
    }

	@media screen and (max-width: 700px) {
		height: 110px;

		img {
			height: 100%;
		}
	}
  }

  .modal-toggle {
    @include transition();
    color: inherit;
    font-size: 13px;
    padding: 35px 40px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 5px;

    &:hover {
      transform: rotate(90deg) scale($transform-scale-multiplier);
    }
  }
}

&.small .header {
  .title {
    padding: 25px 0 25px 25px;
  }

  .modal-toggle {
    padding: 25px;
  }
}

@media screen and (max-width: $max-mobile-xs-width) {
  .header {
    .title {
      padding: 20px;
    }

    .modal-toggle {
      padding: 20px;
    }
  }
}
