.header {
  box-sizing: border-box;
  color: palette('gray', text);
  position: relative;
  text-align: left;
  width: 100%;

  .title {
    display: block;
    font-family: $ubuntu;
    font-size: 20px;
    padding: 35px 0 40px 35px;
    width: calc(100% - 62px);
  }

  .modal-toggle {
    @include transition();
    color: inherit;
    font-size: 13px;
    padding: 35px 40px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 5px;

    &:hover {
      transform: rotate(90deg) scale($transform-scale-multiplier);
    }
  }
}

&.view-user .header {
  position: relative;

  .profile-picture {
    background: white; /* change this */
    border-radius: 50%;
    box-shadow: 0 1px 10px 0;
    left: 5px;
    padding: 20px;
    position: absolute;
    top: -45px;
  }

  .modal-toggle {
    padding: 0;
    top: 0;
  }
}

&.small .header {
  .title {
    padding: 25px 0 25px 25px;
  }

  .modal-toggle {
    padding: 25px;
  }
}

@media screen and (max-width: $max-mobile-xs-width) {
  .header {
    .title {
      padding: 20px;
    }

    .modal-toggle {
      padding: 20px;
    }
  }
}
