.users {
  height: 42px;
  
  .user {
    @include transition();

    background-color: palette(white, base);
    border: 1px solid palette(gray, slate, .1);
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 palette(box-shadow, base, .03);
    color: palette(gray, text);
    display: inline-block;
    font-family: $ubuntu;
    font-size: 14px;
    margin: 0 10px 10px 0;

    a {
      @include transition();

      display: inline-block;
      line-height: 30px;
      vertical-align: middle;

    }

    .name {
      padding: 0 10px;
    }

    .name:hover {
      color: palette(green, accent);
    }

    .cancel:hover .icon-cancel {
      opacity: 1;
      transform: scale($transform-scale-multiplier);
    }

    .icon-cancel {
      @include transition();

      display: block;
      font-size: 10px;
      opacity: .2;
      padding: 10px 10px 10px 0;
      will-change: transform;
    }

    &:hover {
      box-shadow: 0 6px 12px 0 palette(box-shadow, base, .06);
    }
  }
}

.footer {
  .icon-user-add {
    font-size: 16px;
  }
}
