<IfModule mod_rewrite.c>
#<IfModule mod_negotiation.c>
#    Options -MultiViews
#</IfModule>
RewriteEngine On
#RewriteBase #add base url ex: www.website.com[/this part is your base url for this file up to "public"]
# Redirect Trailing Slashes...
RewriteRule ^(.*)/$ /$1 [L,R=301]
# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
</IfModule>