// these should be moved into a variables or colors partial
$white: #fff;
$kora-green: #007c83;
$kora-accent: #04b6af;
$submenu-grey: #21323b;
$sidemenu-grey: #152730;
$ubuntu-bold: ubuntubold;
$ubuntu-reg: ubunturegular;

@import 'vendor/normalize/import-now';
@import 'partials/colors';
@import 'partials/global';
@import 'partials/nav';
