$ubuntu-bold: ubuntubold;
$ubuntu: ubunturegular;
$max-site-width: 1440px;
$max-tablet-width: 960px;
$max-mobile-width: 768px;
$max-mobile-xs-width: 480px;
$tablet-margin-total: 120px;
$mobile-margin-total: 60px;
$mobile-xs-margin-total: 50px;

@import 'vendor/normalize/import-now';
@import 'partials/general/colors';
@import 'partials/general/global';
@import 'partials/navigation';
@import 'partials/projects';
