.create-token-modal {
  .actions {
    padding: 0 0 40px;

    .action {
      display: inline-block;
      padding: 0 15px;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  .users-select {
    padding-bottom: 0;
  }
}

.btn-faded {
  opacity: .3 !important;
}

.btn-faded:hover {
  opacity: .3 !important;
}

.token-warning {
  display: inline;
  position: relative;
  float: right;
  
  color: #F39A33;
  font-family: $ubuntu-medium;
  font-size: 14px;
  margin: 0px;
}

.hide-warning {
  display: none;
}

@media screen and (max-width: $max-mobile-med-width) {
  .create-token-modal {
    .action:last-of-type {
      display: block;
      padding: 15px 0 0;
    }
  }
}

@media screen and (max-width: $max-mobile-xs-width) {
  .create-token-modal {
    .action {
      display: block;
      padding: 10px 0 0;

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        padding-top: 10px;
      }
    }
  }
}
