.combo-list-empty {
  color: palette('gray', text, .4);
  font-family: $ubuntu-italic;
  font-size: 14px;
}
.combo-list-display {
  border: 1px solid palette('gray', slate, 0.1);
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 palette('gray', slate, 0.05);
  margin-top: 10px;
  overflow: auto;
  padding: 25px 30px 30px;

  .combo-column {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
    width: 40%;
  }

  .combo-title {
    font-family: $ubuntu-medium;
    font-size: 14px;
    line-height: 19px;
  }

  .combo-delete {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 15px;

    .icon-trash {
      color: palette('red', base);
      display: inline-block;
      font-size: 12px;
      @include transition();
    }

    &:hover {
      .icon-trash {
        transform: scale(1.25);
        transform-origin: center center;
      }

      &.tooltip {
        &:after {
          left: -62px;
        }
      }
    }
  }

  .combo-border-large {
    border: 1px solid palette('gray', slate, 0.05);
    float: left;
    margin-top: 6px;
    margin-left:-20px;
    padding-right: 40px;
    width: 100%;
  }

  .combo-border-small {
    border: 1px solid palette('gray', slate, 0.05);
    float: left;
    margin-top: 6px;
    width: 100%;
  }

  .combo-value-item {
    background: palette('white', base);
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 palette('gray', slate, 0.05);
    margin-bottom: 15px;
    padding: 15px 20px;
    position: relative;

    .combo-column {
      font-size: 13px;
      font-weight: normal;
    }
  }

  .modal {
    .form-group {
      margin-bottom: 30px;
      margin-top: 0;
    }
  }

  @media screen and (max-width: $max-mobile-med-width) {
    .combo-column {
      margin-bottom: 10px;
      margin-right: 0;
      width: 81%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.progress-bar-div {
  background: palette('gray', slate, .05);
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 palette('box-shadow', base, .05);
}

.file-upload-progress {
  background: palette('green', accent, 1);
  border-radius: 5px;
  height: 0;
  width: 0;
}

.new-object-button,
.low-margin {
  width: calc(100%);
}

.filenames {
  a {
    text-decoration: none;

    .icon {
      @include transition();

      cursor: pointer;
      vertical-align: middle;
    }

    .icon-arrow-down,
    .icon-arrow-up {
      color: palette('gray', slate);
      display: inline-block;
      font-size: 12px;
      opacity: .2;
    }

    .danger {
      color: palette('red', warning);
      display: inline-block;
      font-size: 16px;
    }

    &:hover {
      .icon {
        opacity: .6;
      }

      .icon-arrow-up {
        transform: rotate(-90deg) scale($transform-scale-multiplier);
      }

      .icon-arrow-down {
        transform: rotate(90deg) scale($transform-scale-multiplier);
      }

      .icon-trash {
        transform: scale($transform-scale-multiplier);
      }
    }
  }
}

.associator {
  background-color: palette('gray', page, 1);
  border: 1px solid palette('box-shadow', base, 0.05);
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 palette('box-shadow', base, 0.03);
  margin-bottom: 10px;
  padding: 40px 40px 20px;

  > div:last-of-type {
    margin-bottom: 20px;
  }
}
