.combo-list-empty {
  color: palette('gray', text, .4);
  font-family: $ubuntu-italic;
  font-size: 14px;
}
.combo-list-display {
  overflow: auto;

  .combo-column {
    float:left;
    margin-bottom:10px;
    width:40%;
  }

  .combo-delete {
    float:left;
    margin-bottom:10px;
    width:15%;
  }

  .combo-title {
    font-family: $ubuntu-medium-italic;
  }
}

.progress-bar-div {
  background: palette('gray', slate, .05);
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 palette('box-shadow', base, .05);
}

.file-upload-progress {
  background: palette('green', accent, 1);
  border-radius: 5px;
  height: 0;
  width: 0;
}

.new-object-button,
.low-margin {
  margin-top: 10px;
  width: calc(100%);
}

.filenames {
  a {
    text-decoration: none;

    .icon {
      @include transition();

      cursor: pointer;
      vertical-align: middle;
    }

    .icon-arrow-down,
    .icon-arrow-up {
      color: palette('gray', slate);
      display: inline-block;
      font-size: 12px;
      opacity: .2;
    }

    .danger {
      color: palette('red', warning);
      display: inline-block;
      font-size: 16px;
    }

    &:hover {
      .icon {
        opacity: .6;
      }

      .icon-arrow-up {
        transform: rotate(-90deg) scale($transform-scale-multiplier);
      }

      .icon-arrow-down {
        transform: rotate(90deg) scale($transform-scale-multiplier);
      }

      .icon-trash {
        transform: scale($transform-scale-multiplier);
      }
    }
  }
}