.field-meme-link {
  color: palette('green', accent);
  font-family: $ubuntu-medium;
  font-size: 14px;
  line-height: 19px;
  padding: 0 0 5px;
  text-decoration: none;
}

.cal-padding-fix {
  padding-left: 0 !important;
}

.combo-list-empty {
  color: palette('gray', text, .4);
  font-family: $ubuntu-italic;
  font-size: 14px;
}
.combo-list-display {
  overflow: auto;

  .combo-column {
    float:left;
    margin-bottom:10px;
    width:40%;
  }

  .combo-delete {
    float:left;
    margin-bottom:10px;
    width:15%;
  }

  .combo-title {
    font-family: $ubuntu-medium-italic;
  }
}