.pages {
  font-family: $ubuntu;
  margin: 40px auto 0;
  max-width: calc(#{ $max-site-width } - 600px);
  width: $max-site-width;

  .page {
    background-color: palette('gray', page, 1);
    border: 1px solid palette('box-shadow', base, 0.05);
    border-radius: 5px;
    box-shadow: 0 40px 85px 0 palette('box-shadow', base, 0.05);
    width: 100%;

    @import 'page/header';
    @import 'page/body';
  }

  .new-page-button {
    margin: 0 auto;
    padding: 60px 0;
    width: calc(100% - 80px);
  }
}
