@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 56, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 85, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 93, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 107, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 200, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 209, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 223, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
/* line 233, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 253, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 268, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 283, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 293, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 302, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 312, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 323, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 331, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 340, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 349, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 357, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
sub {
  bottom: -0.25em;
}

/* line 361, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 374, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 383, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 392, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 400, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 414, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
/* line 434, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 443, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 454, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/* line 461, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
/* line 470, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/* line 479, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
/* line 488, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 497, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 507, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 517, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
/* line 525, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 536, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
/* line 545, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 556, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 570, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 579, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
/* line 592, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 600, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
/* line 608, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 641, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 649, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 662, ../../../resources/assets/scss/vendor/normalize/_normalize-mixin.scss */
[hidden] {
  display: none;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu-bold.woff2") format("woff2"), url("../fonts/ubuntu-bold.woff") format("woff"), url("../fonts/ubuntu-bold.ttf") format("truetype"), url("../fonts/ubuntu-bold.svg#ubuntubold") format("svg");
}
@font-face {
  font-family: 'Ubuntu-Bold-Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu-bolditalic.woff2") format("woff2"), url("../fonts/ubuntu-bolditalic.woff") format("woff"), url("../fonts/ubuntu-bolditalic.ttf") format("truetype"), url("../fonts/ubuntu-bolditalic.svg#ubuntubold_italic") format("svg");
}
@font-face {
  font-family: 'Ubuntu-Light';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu-light.woff2") format("woff2"), url("../fonts/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu-light.svg#ubuntulight") format("svg");
}
@font-face {
  font-family: 'Ubuntu-Light-Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu-lightitalic.woff2") format("woff2"), url("../fonts/ubuntu-lightitalic.woff") format("woff"), url("../fonts/ubuntu-lightitalic.ttf") format("truetype"), url("../fonts/ubuntu-lightitalic.svg#ubuntulight_italic") format("svg");
}
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu-medium.woff2") format("woff2"), url("../fonts/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu-medium.ttf") format("truetype"), url("../fonts/ubuntu-medium.svg#ubuntumedium") format("svg");
}
@font-face {
  font-family: 'Ubuntu-Medium-Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu-mediumitalic.woff2") format("woff2"), url("../fonts/ubuntu-mediumitalic.woff") format("woff"), url("../fonts/ubuntu-mediumitalic.ttf") format("truetype"), url("../fonts/ubuntu-mediumitalic.svg#ubuntumedium_italic") format("svg");
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu-regular.woff2") format("woff2"), url("../fonts/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu-regular.svg#ubunturegular") format("svg");
}
@font-face {
  font-family: 'Ubuntu-Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ubuntu-italic.woff2") format("woff2"), url("../fonts/ubuntu-italic.woff") format("woff"), url("../fonts/ubuntu-italic.ttf") format("truetype"), url("../fonts/ubuntu-italic.svg#ubuntuitalic") format("svg");
}
@font-face {
  font-family: 'Kora-Icons';
  src: url("../fonts/kora-icons/kora-icons.eot?1yzz1y");
  src: url("../fonts/kora-icons/kora-icons.eot?1yzz1y#iefix") format("embedded-opentype"), url("../fonts/kora-icons/kora-icons.ttf?1yzz1y") format("truetype"), url("../fonts/kora-icons/kora-icons.woff?1yzz1y") format("woff"), url("../fonts/kora-icons/kora-icons.svg?1yzz1y#kora-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 94, ../../../resources/assets/scss/partials/general/_fonts.scss */
i {
  font-family: 'Kora-Icons';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

/* line 110, ../../../resources/assets/scss/partials/general/_fonts.scss */
.icon-arrow-right::before,
.icon-arrow-left::before,
.icon-arrow-up::before,
.icon-arrow-down::before {
  content: "";
}

/* line 115, ../../../resources/assets/scss/partials/general/_fonts.scss */
.icon-arrow-up {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/* line 119, ../../../resources/assets/scss/partials/general/_fonts.scss */
.icon-arrow-down {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* line 124, ../../../resources/assets/scss/partials/general/_fonts.scss */
.icon-chevron::before {
  content: "";
}

/* line 130, ../../../resources/assets/scss/partials/general/_fonts.scss */
.icon-edit::before {
  content: "";
}

/* line 136, ../../../resources/assets/scss/partials/general/_fonts.scss */
.icon-hamburger::before {
  content: "";
}

/* line 142, ../../../resources/assets/scss/partials/general/_fonts.scss */
.icon-search::before {
  content: "";
}

/* line 148, ../../../resources/assets/scss/partials/general/_fonts.scss */
.icon-projects::before {
  content: "";
}

/* line 154, ../../../resources/assets/scss/partials/general/_fonts.scss */
.icon-cancel::before {
  content: "";
}

/* line 1, ../../../resources/assets/scss/partials/general/_global.scss */
body,
form {
  margin: 0;
}

/* line 6, ../../../resources/assets/scss/partials/general/_global.scss */
.right {
  float: right;
}

/* line 10, ../../../resources/assets/scss/partials/general/_global.scss */
.left {
  float: left;
}

/* line 14, ../../../resources/assets/scss/partials/general/_global.scss */
::-webkit-input-placeholder {
  font-family: Ubuntu-Italic;
  opacity: 1 !important;
}

/* line 19, ../../../resources/assets/scss/partials/general/_global.scss */
:-ms-input-placeholder {
  font-family: Ubuntu-Italic;
  opacity: 1 !important;
}

/* line 5, ../../../resources/assets/scss/partials/general/_animations.scss */
.underline-middle,
.underline-middle-hover {
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 10, ../../../resources/assets/scss/partials/general/_animations.scss */
.underline-middle::before, .underline-middle::after,
.underline-middle-hover::before,
.underline-middle-hover::after {
  background-color: #04b6af;
  bottom: 0;
  content: '';
  height: 2px;
  margin: 5px 0 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 0;
}
/* line 23, ../../../resources/assets/scss/partials/general/_animations.scss */
.underline-middle::before,
.underline-middle-hover::before {
  left: calc(50%);
}
/* line 27, ../../../resources/assets/scss/partials/general/_animations.scss */
.underline-middle::after,
.underline-middle-hover::after {
  right: calc(50%);
}
/* line 31, ../../../resources/assets/scss/partials/general/_animations.scss */
.underline-middle.active::before, .underline-middle.active::after,
.underline-middle-hover.active::before,
.underline-middle-hover.active::after {
  opacity: 1;
  width: 50%;
}

/* line 39, ../../../resources/assets/scss/partials/general/_animations.scss */
.underline-middle-hover:hover::before, .underline-middle-hover:hover::after {
  opacity: 1;
  width: 50%;
}

/* line 50, ../../../resources/assets/scss/partials/general/_animations.scss */
.underline-left,
.underline-left-hover {
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 55, ../../../resources/assets/scss/partials/general/_animations.scss */
.underline-left::before,
.underline-left-hover::before {
  background-color: #04b6af;
  bottom: 0;
  content: '';
  height: 2px;
  margin: 5px 0 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 0;
}
/* line 67, ../../../resources/assets/scss/partials/general/_animations.scss */
.underline-left.active::before,
.underline-left-hover.active::before {
  opacity: 1;
  width: 100%;
}

/* line 74, ../../../resources/assets/scss/partials/general/_animations.scss */
.underline-left-hover:hover::before {
  opacity: 1;
  width: 100%;
}

/* line 3, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation {
  background-color: #007c83;
  -webkit-box-shadow: 0 3px 5px 0 rgba(21, 39, 48, 0.05);
          box-shadow: 0 3px 5px 0 rgba(21, 39, 48, 0.05);
  height: 50px;
}
/* line 1, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_input {
  background: transparent;
  border: 0;
  caret-color: #04b6af;
  color: white;
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: 500;
  height: 17px;
  line-height: 16px;
  margin: 20px 0 20px 20px;
  width: 190px;
}
/* line 15, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_input:focus {
  outline-width: 0;
}
/* line 19, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_input::-webkit-input-placeholder {
  color: white;
}
/* line 23, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_input::-moz-placeholder {
  color: white;
}
/* line 27, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_input:-ms-input-placeholder {
  color: white;
}
/* line 31, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_input:-moz-placeholder {
  color: white;
}
/* line 35, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_submit {
  border: 0;
  background: transparent;
  width: 17px;
  height: 17px;
}
/* line 42, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_submit:focus {
  outline-width: 0;
}
/* line 46, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_submit img {
  width: 4px;
  height: 8px;
}
/* line 51, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_spacer {
  border-bottom: 2px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 0 20px;
  opacity: .1;
  width: 210px;
}
/* line 59, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_recent {
  margin-left: 20px;
  color: white;
  font-family: Ubuntu;
  font-size: 12px;
  line-height: 13px;
}
/* line 67, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_result {
  margin-left: 20px;
  color: white;
  font-family: Ubuntu;
  font-size: 12px;
  line-height: 13px;
}
/* line 75, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_result li:first-child {
  padding-top: 20px;
}
/* line 79, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_result li:last-child {
  padding-bottom: 20px;
}
/* line 83, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_result li {
  height: 14px;
  padding: 8px 0;
}
/* line 88, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_result a {
  color: #007c83 !important;
  display: initial;
  line-height: 0;
}
/* line 94, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_clear {
  background-color: rgba(255, 255, 255, 0.05);
  border: 0;
  border-radius: 0 0 0 5px;
  color: white;
  font-size: 13px;
  height: 48px;
  margin: 0;
  padding-left: 20px;
  text-align: left;
  width: 100%;
}
/* line 107, ../../../resources/assets/scss/partials/navigation/_search.scss */
.navigation #kora_global_search_clear:focus {
  outline-width: 0;
}
/* line 10, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation ul {
  padding-left: 0;
  margin: 0;
}
/* line 15, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation li {
  list-style-type: none;
}
/* line 19, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation a {
  color: white;
  display: block;
  text-decoration: none;
}
/* line 26, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .navigation-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  line-height: 16px;
  position: relative;
  vertical-align: middle;
}
/* line 38, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .navigation-left {
  display: inline-block;
}
/* line 41, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .navigation-left .navigation-item {
  width: 80px;
}
/* line 45, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .navigation-left .navigation-item a {
  line-height: 50px;
}
/* line 49, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .navigation-left .navigation-item:not(:first-child) {
  margin-left: 16px;
}
/* line 54, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .navigation-right {
  float: right;
  margin-top: 0;
}
/* line 58, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .navigation-right .navigation-item {
  width: auto;
}
/* line 62, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .navigation-right .navigation-sub-menu {
  border-radius: 0 0 0 5px;
  right: 0;
  width: 250px;
}
/* line 70, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .logo {
  display: inline-block;
  padding-left: 13px;
  vertical-align: middle;
  width: 45px;
}
/* line 76, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .logo img {
  -webkit-box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.2);
  height: 27px;
  width: 27px;
}
/* line 83, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .navigation-search {
  float: left;
  height: 50px;
  padding-right: 20px;
  padding-top: 17px;
  width: auto;
}
/* line 90, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .navigation-search img {
  -webkit-box-shadow: 0 3px 5px 0 rgba(21, 39, 48, 0.05);
          box-shadow: 0 3px 5px 0 rgba(21, 39, 48, 0.05);
  height: 14px;
  width: 14px;
}
/* line 96, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .navigation-search .navigation-sub-menu {
  padding-bottom: 0;
}
/* line 101, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .profile-navigation-item {
  float: left;
  height: 50px;
  padding-right: 20px;
  padding-top: 12px;
  width: auto;
}
/* line 108, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .profile-navigation-item .profile-picture {
  border: 2px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 5px 0 rgba(57, 67, 89, 0.2);
          box-shadow: 0 3px 5px 0 rgba(57, 67, 89, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 24px;
  width: 24px;
}
/* line 117, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .profile-navigation-item .logout-icon {
  height: 12px;
  padding: 0;
  width: 11px;
}
/* line 124, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .hamburger {
  float: left;
  height: 50px;
  padding-right: 20px;
  padding-top: 17px;
  width: auto;
}
/* line 131, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .hamburger img {
  -webkit-box-shadow: 0 3px 5px 0 rgba(21, 39, 48, 0.05);
          box-shadow: 0 3px 5px 0 rgba(21, 39, 48, 0.05);
  height: 12px;
  width: 17px;
}
/* line 138, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .icon {
  margin-left: 10px;
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
}
/* line 142, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation .icon.arrow-icon.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* line 149, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-sub-menu {
  background-color: #21323b;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: -16px 20px 30px 0 rgba(0, 0, 0, 0.2);
          box-shadow: -16px 20px 30px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  padding-bottom: 5px;
  position: absolute;
  top: 50px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  visibility: none;
  width: 175px;
  z-index: -100;
}
/* line 162, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-sub-menu.active {
  opacity: 1;
  visibility: visible;
  z-index: auto;
}
/* line 168, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-sub-menu img {
  padding-right: 13px;
}
/* line 172, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-sub-menu .header {
  color: white;
  font-family: Ubuntu;
  font-size: 16px;
  height: 18px;
  line-height: 18px;
  padding: 20px;
}
/* line 181, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-sub-menu .link {
  color: white;
  font-family: Ubuntu;
  font-size: 13px;
}
/* line 186, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-sub-menu .link a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 14px;
  line-height: 14px;
  padding: 0 20px 8px;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}
/* line 195, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-sub-menu .link a:hover {
  color: #04b6af;
}
/* line 199, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-sub-menu .link:not(:first-child) a {
  padding-top: 8px;
}
/* line 203, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-sub-menu .link:last-child a {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}
/* line 208, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-sub-menu .link.head a {
  padding: 20px 0 20px 20px;
}
/* line 212, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-sub-menu .link.pre-spacer a {
  padding-bottom: 20px;
}
/* line 217, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-sub-menu .spacer {
  border-bottom: 2px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 3px;
  margin: 0 auto;
  opacity: .1;
  width: calc(100% - 40px);
}
/* line 225, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-sub-menu .spacer + .link a {
  padding-top: 20px;
}

/* line 233, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-deep-menu {
  background-color: #21323b;
  border-radius: 0 5px 5px;
  -webkit-box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
  display: none;
  margin-left: 155px;
  margin-top: -15px;
  max-height: 60vh;
  overflow: scroll;
  padding-top: 20px;
  position: absolute;
  width: 175px;
}
/* line 246, ../../../resources/assets/scss/partials/_navigation.scss */
.navigation-deep-menu .item {
  padding-bottom: 15px;
  padding-left: 20px;
}

/* line 1, ../../../resources/assets/scss/partials/_projects.scss */
.projects-body {
  background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFC), to(#F5F6F7));
  background: linear-gradient(180deg, #FBFBFC 0%, #F5F6F7 100%);
  font-family: Ubuntu;
  min-height: 100vh;
}

/* line 7, ../../../resources/assets/scss/partials/_projects.scss */
.projects {
  margin: 0 auto;
}
/* line 1, ../../../resources/assets/scss/partials/projects/_head.scss */
.projects .head {
  background: white;
  -webkit-box-shadow: 0 3px 5px -2px rgba(21, 39, 48, 0.05);
          box-shadow: 0 3px 5px -2px rgba(21, 39, 48, 0.05);
  color: #283c46;
  font-family: Ubuntu;
  width: 100%;
}
/* line 8, ../../../resources/assets/scss/partials/projects/_head.scss */
.projects .head .inner-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1440px - 600px);
  width: 1440px;
}
/* line 15, ../../../resources/assets/scss/partials/projects/_head.scss */
.projects .head .title {
  height: 45px;
  margin: 0;
  padding: 60px 0 30px;
  text-align: left;
}
/* line 21, ../../../resources/assets/scss/partials/projects/_head.scss */
.projects .head .title i {
  display: inline-block;
  font-size: 37px;
  vertical-align: middle;
}
/* line 27, ../../../resources/assets/scss/partials/projects/_head.scss */
.projects .head .title > span {
  font-size: 36px;
  font-weight: 400;
  padding: 0 0 0 22px;
  vertical-align: middle;
}
/* line 35, ../../../resources/assets/scss/partials/projects/_head.scss */
.projects .head .description {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 16px;
  margin: 0;
  padding: 0 0 60px;
}
/* line 1, ../../../resources/assets/scss/partials/projects/_filters.scss */
.projects .filters {
  font-family: Ubuntu;
  height: 20px;
  margin: 30px auto 0;
  max-width: calc(1440px - 600px);
  width: 1440px;
}
/* line 8, ../../../resources/assets/scss/partials/projects/_filters.scss */
.projects .filters .search {
  float: left;
  height: 20px;
  padding-bottom: 8px;
}
/* line 13, ../../../resources/assets/scss/partials/projects/_filters.scss */
.projects .filters .search .icon {
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  vertical-align: middle;
}
/* line 19, ../../../resources/assets/scss/partials/projects/_filters.scss */
.projects .filters .search .icon-search {
  font-size: 12px;
}
/* line 23, ../../../resources/assets/scss/partials/projects/_filters.scss */
.projects .filters .search .icon-cancel {
  font-size: 0;
  opacity: 0;
}
/* line 28, ../../../resources/assets/scss/partials/projects/_filters.scss */
.projects .filters .search .icon-cancel.active {
  font-size: 8px;
  opacity: 1;
}
/* line 33, ../../../resources/assets/scss/partials/projects/_filters.scss */
.projects .filters .search input {
  background: none;
  border: 0;
  color: #283c46;
  caret-color: #04b6af;
  font-size: 14px;
  margin: 0 16px;
  outline: none;
  vertical-align: middle;
  width: 100px;
}
/* line 46, ../../../resources/assets/scss/partials/projects/_filters.scss */
.projects .filters .sort-options {
  text-align: right;
}
/* line 50, ../../../resources/assets/scss/partials/projects/_filters.scss */
.projects .filters .sort-options .option {
  color: rgba(40, 60, 70, 0.8);
  cursor: pointer;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 16px;
  margin: 0 7.5px;
  padding: 0 0 10px;
}
/* line 59, ../../../resources/assets/scss/partials/projects/_filters.scss */
.projects .filters .sort-options .option:first-child {
  margin-left: 0;
  padding-left: 0;
}
/* line 64, ../../../resources/assets/scss/partials/projects/_filters.scss */
.projects .filters .sort-options .option:last-child {
  margin-right: 0;
  padding-right: 0;
}
/* line 69, ../../../resources/assets/scss/partials/projects/_filters.scss */
.projects .filters .sort-options .option:hover {
  color: #04b6af;
}
/* line 73, ../../../resources/assets/scss/partials/projects/_filters.scss */
.projects .filters .sort-options .option.active {
  color: #04b6af;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  /* line 81, ../../../resources/assets/scss/partials/projects/_filters.scss */
  .projects .filters {
    height: 66px;
  }
  /* line 84, ../../../resources/assets/scss/partials/projects/_filters.scss */
  .projects .filters .search {
    display: inline-block;
    float: none;
  }
  /* line 89, ../../../resources/assets/scss/partials/projects/_filters.scss */
  .projects .filters .sort-options {
    height: 38px;
    text-align: left;
  }
  /* line 93, ../../../resources/assets/scss/partials/projects/_filters.scss */
  .projects .filters .sort-options .option {
    display: inline-block;
    padding-top: 12px;
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  /* line 103, ../../../resources/assets/scss/partials/projects/_filters.scss */
  .projects .filters {
    margin-left: 25px;
    max-width: 430px;
    overflow-x: hidden;
    width: calc(100% - 25px);
  }
  /* line 109, ../../../resources/assets/scss/partials/projects/_filters.scss */
  .projects .filters .sort-options {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
/* line 1, ../../../resources/assets/scss/partials/projects/_new-project.scss */
.projects .new-project-button {
  margin: 40px auto 0;
  max-width: calc(1440px - 600px);
  width: 1440px;
}
/* line 6, ../../../resources/assets/scss/partials/projects/_new-project.scss */
.projects .new-project-button form {
  width: 100%;
}
/* line 10, ../../../resources/assets/scss/partials/projects/_new-project.scss */
.projects .new-project-button input {
  background: rgba(4, 182, 175, 0.02);
  border: 1px solid rgba(4, 182, 175, 0.2);
  border-radius: 5px;
  color: #04b6af;
  font-family: Ubuntu;
  font-size: 14px;
  height: 50px;
  line-height: 16px;
  padding: 0;
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 100%;
}
/* line 24, ../../../resources/assets/scss/partials/projects/_new-project.scss */
.projects .new-project-button input:hover {
  background-color: white;
  -webkit-box-shadow: 0 5px 10px 0 rgba(4, 182, 175, 0.05);
          box-shadow: 0 5px 10px 0 rgba(4, 182, 175, 0.05);
}
@media screen and (max-width: 768px) {
  /* line 32, ../../../resources/assets/scss/partials/projects/_new-project.scss */
  .projects .new-project-button {
    margin-top: 25px;
  }
}
/* line 1, ../../../resources/assets/scss/partials/projects/_project-selection.scss */
.projects .project-selection {
  background: none;
  margin: auto;
  max-width: calc(1440px - 600px);
  width: 1440px;
}
/* line 1, ../../../resources/assets/scss/partials/projects/_project.scss */
.projects .project-selection .project {
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(21, 39, 48, 0.05);
          box-shadow: 0 3px 5px 0 rgba(21, 39, 48, 0.05);
  margin: 30px auto;
  position: relative;
}
/* line 8, ../../../resources/assets/scss/partials/projects/_project.scss */
.projects .project-selection .project a {
  color: inherit;
  text-decoration: none;
}
/* line 12, ../../../resources/assets/scss/partials/projects/_project.scss */
.projects .project-selection .project a span {
  display: inline-block;
  padding: 20px 0;
  vertical-align: middle;
}
/* line 1, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header {
  background: white;
  border-radius: 5px;
  color: #04b6af;
  font-size: 16px;
  position: relative;
  z-index: 2;
}
/* line 10, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header.active {
  -webkit-box-shadow: 0px 6px 13px -4px white;
          box-shadow: 0px 6px 13px -4px white;
}
/* line 14, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .icon {
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  vertical-align: middle;
}
/* line 20, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .icon-arrow-right {
  color: #04b6af;
  display: inline-block;
  font-size: 10px;
  padding: 24px 0 24px 3px;
}
/* line 27, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .icon-arrow-down,
.projects .project-selection .project .header .icon-arrow-up {
  color: #152730;
  display: inline-block;
  font-size: 10px;
  line-height: 50px;
  opacity: .2;
}
/* line 36, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .icon-chevron {
  color: #152730;
  display: inline-block;
  font-size: 6px;
  padding: 26px;
}
/* line 42, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .icon-chevron.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
/* line 47, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .move-actions {
  display: inline-block;
}
/* line 50, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .move-actions .action {
  padding: 20px 0;
}
/* line 54, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .move-actions .action:first-child {
  padding-left: 20px;
  padding-right: 4px;
}
/* line 59, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .move-actions .action:last-child {
  padding-left: 4px;
  padding-right: 16px;
}
/* line 64, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .move-actions .action:hover .icon {
  opacity: .6;
}
/* line 69, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .project-name {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 72, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .project-name .name {
  padding: 5px 0;
  margin: 15px 0;
}
/* line 77, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .project-name .icon-arrow-right {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 81, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .project-name:hover .icon-arrow-right {
  padding-left: 8px;
}
/* line 86, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .project-toggle-wrap {
  overflow: hidden;
}
/* line 90, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .project-toggle {
  display: block;
  opacity: .6;
  text-align: right;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 96, ../../../resources/assets/scss/partials/projects/project/_header.scss */
.projects .project-selection .project .header .project-toggle:hover {
  opacity: 1;
}
/* line 1, ../../../resources/assets/scss/partials/projects/project/_content.scss */
.projects .project-selection .project .content {
  background: white;
  display: none;
  margin: 0 20px 20px;
}
/* line 6, ../../../resources/assets/scss/partials/projects/project/_content.scss */
.projects .project-selection .project .content.active {
  display: block;
  padding-bottom: 20px;
}
/* line 11, ../../../resources/assets/scss/partials/projects/project/_content.scss */
.projects .project-selection .project .content span,
.projects .project-selection .project .content .description {
  color: #283c46;
  font-size: 14px;
  line-height: 19px;
}
/* line 19, ../../../resources/assets/scss/partials/projects/project/_content.scss */
.projects .project-selection .project .content span {
  font-family: Ubuntu;
}
/* line 22, ../../../resources/assets/scss/partials/projects/project/_content.scss */
.projects .project-selection .project .content span.attribute {
  font-family: Ubuntu-Medium;
}
/* line 26, ../../../resources/assets/scss/partials/projects/project/_content.scss */
.projects .project-selection .project .content span:not(first-child) {
  font-weight: 400;
}
/* line 31, ../../../resources/assets/scss/partials/projects/project/_content.scss */
.projects .project-selection .project .content .id {
  margin-bottom: 20px;
}
/* line 35, ../../../resources/assets/scss/partials/projects/project/_content.scss */
.projects .project-selection .project .content .admins {
  margin: 20px 0;
}
/* line 40, ../../../resources/assets/scss/partials/projects/project/_content.scss */
.projects .project-selection .project .content .forms .attribute {
  padding-right: 14px;
}
/* line 44, ../../../resources/assets/scss/partials/projects/project/_content.scss */
.projects .project-selection .project .content .forms .form {
  color: #04b6af;
  font-family: Ubuntu-Medium;
}
/* line 49, ../../../resources/assets/scss/partials/projects/project/_content.scss */
.projects .project-selection .project .content .forms .form-link {
  display: inline-block;
  margin: 0 14px 0 0;
  padding: 7px 0;
}
/* line 1, ../../../resources/assets/scss/partials/projects/_foot.scss */
.projects .foot {
  font-family: Ubuntu;
  margin: 60px auto 100px;
  max-width: calc(1440px - 600px);
  width: 1440px;
}
/* line 7, ../../../resources/assets/scss/partials/projects/_foot.scss */
.projects .foot .permission-information {
  color: #283c46;
  font-size: 14px;
  line-height: 16px;
  margin: 0 auto 30px;
  text-align: center;
}
/* line 15, ../../../resources/assets/scss/partials/projects/_foot.scss */
.projects .foot .request-permissions {
  color: #04b6af;
  display: inherit;
  font-size: 16px;
  font-family: Ubuntu-Medium;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
/* line 25, ../../../resources/assets/scss/partials/projects/_foot.scss */
.projects .foot .request-permissions:hover {
  color: #283c46;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  /* line 17, ../../../resources/assets/scss/partials/_projects.scss */
  .projects .filters,
  .projects .head .inner-wrap,
  .projects .new-project-button,
  .projects .project-selection,
  .projects .foot {
    margin-left: 60px;
    margin-right: 60px;
    max-width: 840px;
    width: calc(100% - 120px);
  }
}
@media screen and (max-width: 480px) {
  /* line 30, ../../../resources/assets/scss/partials/_projects.scss */
  .projects .head .inner-wrap,
  .projects .new-project-button,
  .projects .project-selection,
  .projects .foot {
    margin-left: 25px;
    margin-right: 25px;
    max-width: 430px;
    width: calc(100% - 50px);
  }
}
