.content {
  background: palette(white, base);
  display: none;
  margin: 0 20px;

  &.active {
    display: block;
  }

  span,
  .description {
    color: palette(gray, text);
    font-size: 14px;
    line-height: 19px;

  }

  span {
    font-family: $ubuntu;

    &.attribute {
      font-family: $ubuntu-medium;
    }

    &:not(first-child) {
      font-weight: 400;
    }
  }

  .id {
    margin-bottom: 20px;
  }

  .admins {
    margin: 20px 0;
  }

  .forms {
    .attribute {
      padding-right: 14px;
    }

    .form {
      color: palette(green, accent);
      font-family: $ubuntu-medium;
    }

    .form-link {
      display: inline-block;
      margin: 0 14px 0 0;
      padding: 7px 0;
    }
  }
}
