@mixin webkit-buttons() {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


.pages {
  .page-link {
    color: palette('gray', text);
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    width: 40px;

    &.active {
      background: palette('white', base);
      border: 1px solid palette('gray', slate, .1);
      border-radius: 5px;
      box-shadow: 0 3px 5px 0 palette('gray', slate, .05);

      .page-input {
        @include webkit-buttons();

        -moz-appearance: textfield;
        border: 0;
        text-align: center;
        width: 20px;
      }
    }
  }
}
