.filters {
  font-family: $ubuntu;
  margin: 60px auto 0;
  max-width: calc(#{ $max-site-width } - 600px);
  width: $max-site-width;

  .pagination-options {
    float: left;
    height: 20px;
    padding-bottom: $underline-padding;

    @import 'pagination/chosen-container-single';
  }

  .show-options {
    text-align: right;

    a {
      @include transition();

      color: palette('gray', text, .8);
      cursor: pointer;
      font-size: 14px;
      line-height: 16px;
      margin: 0 7.5px;
      text-decoration: none;

      &:hover {
        color: palette('green', accent);
      }
    }
  }
}

@media screen and (max-width: $max-mobile-width) {
  .filters {
    height: 66px;

    .search {
      display: inline-block;
      float: none;
    }
  }
}

@media screen and (max-width: $max-mobile-xs-width) {
  .filters {
    height: 46px;
    margin-left: $mobile-xs-margin-total / 2;
    max-width: $max-mobile-xs-width - $mobile-xs-margin-total;
    overflow: visible;
    position: relative;
    width: calc(100% - #{$mobile-xs-margin-total / 2 });

    .pagination-options {
      float: none;
      height: unset;
      padding: 0;

      .chosen-container {
        margin: 0;

        &:first-of-type {
          padding-bottom: 15px;
        }
      }
    }

    .show-options {
      position: absolute;
      right: 0;
      top: 0;
    }

    .search-options {
      @include responsive-scroll();
    }
  }
}
