.pagination {
  display: flex;
  justify-content: space-between;
  margin: 60px auto;
  max-width: calc(#{$max-site-width} - 600px);
  width: $max-site-width;

  .page {
    cursor: pointer;

    a {
      color: palette('green', accent);
      text-decoration: none;

      i {
        background: palette('green', accent);
        border-radius: 100px;
        box-shadow: 0 3px 5px 0 palette('box-shadow', base, 0.15);
        color: white;
        font-size: 6px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 40px;
      }

      span {
        line-height: 35px;
        margin: 0 10px;
      }
    }

    &.disabled {
      cursor: default;
      opacity: 0.5;

      a {
        color: palette('gray', text);
        cursor: default;
        pointer-events: none;

        i {
          background: white;
          color: palette('gray', slate);
          opacity: 0.5;
        }
      }
    }
  }
}