.pagination {
  display: flex;
  justify-content: space-between;
  margin: 60px auto;
  max-width: calc(#{$max-site-width} - 600px);
  width: $max-site-width;

  &.hidden {
    display: none;
  }

  @import 'pagination/page';
  @import 'pagination/pages';
}
