.token-selection {
  background: none;
  margin: auto;
  max-width: calc(#{ $max-site-width } - 600px);
  width: $max-site-width;

  .token-sort {
    display: none;

    &.active {
      display: block;
    }
  }

  .token .content {
    .trash-container {
      padding-right: 15px;
      padding-top: 35px;

      .icon-trash {
        color: palette('red', base);
        font-size: 14px;
        padding: 0 0 5px;
        will-change: transform;
      }

      &:hover .icon-trash {
        transform: scale($transform-scale-multiplier);
      }
    }

    a {
      .icon-cancel-circle {
        @include transition();

        display: inline-block;
        font-size: 14px;
        margin: 0 5px 0 0;
        padding: 3px 0 #{ $underline-padding };
        vertical-align: middle;
        will-change: transform;
      }

      &:hover .icon-cancel-circle {
        transform: scale($transform-scale-multiplier);
      }
    }
  }
}
