.element {
  background-color: palette('white');
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 palette('box-shadow', base, .05);
  box-sizing: border-box;
  height: 210px;
  margin: 5px;
  min-width: 303px;
  position: relative;
  text-align: left;
  transition: all .2s linear;
  width: calc(25% - 10px);

  .edit-block {
	  @include transition(opacity);

	  background: palette('gray', slate, 0.9);
	  border-radius: 5px;
	  box-sizing: border-box;
	  color: palette('white', base);
	  display: none;
	  height: 100%;
	  left: 0;
	  opacity: 0;
	  padding: 20px;
	  position: absolute;
	  top: 0;
	  width: 100%;

	  .wrap {
		  height: 100%;
		  position: relative;
		  width: 100%;
	  }

	  p {
		  font-family: $ubuntu;
		  font-size: 14px;
		  margin: 0;
		  
		  &:first-child {
			  font-size: 12px;
			  font-style: italic;
		  }
	  }

	  .new-object-button {
		  align-items: center;
		  bottom: 0;
		  display: flex;
		  left: 0;
		  margin: 0 auto;
		  position: absolute;
		  right: 0;
		  top: 0;
		  width: 140px;

		  > input {
			background-color: rgba(240, 240, 240, 0.1);
			border: 1px solid palette('gray', background, 0.5);
			box-shadow: none;
			color: inherit;

			&:hover {
				background-color: rgba(255, 255, 255, 0.9);
				color: palette('gray', slate);
			}
		  }
	  }

	  .bottom {
		  bottom: 0;
		  display: flex;
		  justify-content: space-between;
		  position: absolute;
		  width: 100%;

		  .remove-block {
			  color: palette('white', base); 
			  text-decoration: none;

			  .icon {
				  @include transition(transform);
				  
				  display: inline-block;
				  will-change: transform;
			  }

			  &:hover .icon {
				  transform: scale(1.25);
			  }
		  }
	  }
  }

  &.edit-mode .edit-block {
	  display: block;
  }

  &.edit-mode:hover .edit-block {
	  cursor: pointer;
	  opacity: 1;
  }

  .icon-project,
  .icon-form {
    font-size: 20px;
    margin-left: 20px;
    vertical-align: middle;
  }

  .title-container {
    display: inline-block;
    margin-top: 15px;
    width: 100%;

    .no-link-no-icon {
      font-family: $ubuntu;
      font-size: 14px;
      margin-left: 20px;

      &.note-title {
        margin: 0;
        padding-left: 20px;
      }
    }
  }

  .name {
    color: palette('green', accent);
    display: inline-block;
    font-family: $ubuntu-medium;
    font-size: 14px;
    line-height: 20px;
    margin: #{ $underline-padding } 0 0 10px;
    padding-bottom: $underline-padding;
    text-decoration: none;
    transition: all .2s ease-in-out;
    vertical-align: middle;

    .icon-arrow-right {
      @include transition();

      font-size: 10px;
      padding-left: 3px;
    }

    &:hover .icon-arrow-right {
      padding-left: 8px;
    }
  }

  .description {
    -webkit-box-orient: vertical;
    box-shadow: inset 0 -8px 55px -8px palette('white');
    color: palette('gray', base);
    display: -webkit-box;
    font-family: $ubuntu;
    font-size: 12px;
    font-weight: 300;
    height: 80px;
    line-height: 20px;
    margin: 20px 20px 35px;
    overflow-y: hidden;
  }

  .element-link-container {
    padding: 0 20px;

	.element-link-right-tooltips {
		background: palette('gray', dropdown);
		border-radius: 5px;
		bottom: 30px;
		font-size: 12px;
		line-height: 13px;
		opacity: 0;
		padding: 5px 10px;
		position: absolute;
		right: -35px;
		z-index: -1;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		a {
			@include transition(color);

			color: palette('white');
			display: inline-block;
			margin: 5px 0;
			text-decoration: none;
			width: 110px;

			&:hover {
				color: palette('green', accent);
			}
		}

		&:hover {
			opacity: 1;
			z-index: 2;
		}
	}
  }

  .element-link {
    color: palette('green', accent);
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;

    &:first-child {
      padding-left: 0;
    }

    &.right {
      padding: 0;

	  &:hover + .element-link-right-tooltips {
		animation: fadein .2s forwards;
		z-index: 2;
	  }
    }

    .icon {
      @include transition();

      color: palette('green', accent);
      display: inline-block;
      font-size: 14px;
    }

    .icon-more {
      font-size: 6px;
    }

    &:hover {
      .icon {
        transform: scale($transform-scale-multiplier);
      }
    }

    @media screen and (max-width: $max-mobile-xs-width) {
      padding: 0 5px;
    }
  }
}
