#kora_nav_bar {
  height: 50px;
  background-color: @koraGreen;
  box-shadow: 0 3px 5px 0 rgba(21,39,48,0.05);
}

#kora_nav_bar ul {
  padding-left: 0;
}

#kora_nav_bar li {
  list-style-type: none;
}

#kora_nav_bar a {
  text-decoration: none;
  color: white !important;
}

#kora_nav_right {
  float: right;
  margin-top: 0;
}

.kora_nav_logo {
  float: left;
  height: 50px;
  width: 45px;

  padding-top: 10px;
  padding-left: 13px;
}

.kora_nav_logo img {
  height: 27px;
  width: 27px;
  box-shadow: 0 0 5px 0 rgba(255,255,255,0.2);
}

.kora_nav_search {
  float: left;
  height: 50px;
  width: auto;

  padding-top: 17px;
  padding-right: 20px;
}

.kora_nav_search img {
  height: 14px;
  width: 14px;
  box-shadow: 0 3px 5px 0 rgba(57,67,89,0.2);
}

.kora_nav_profile {
  float: left;
  height: 50px;
  width: auto;

  padding-top: 12px;
  padding-right: 20px;
}

.kora_nav_profile_pic {
  height: 24px;
  width: 24px;

  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 3px 5px 0 rgba(57,67,89,0.2);
}

.kora_nav_logout_button {
  height: 12px;
  width: 11px;

  padding-left: 155px;
}

.kora_nav_ham {
  float: left;
  height: 50px;
  width: auto;

  padding-top: 17px;
  padding-right: 20px;
}

.kora_nav_ham img {
  height: 12px;
  width: 17px;
  box-shadow: 0 3px 5px 0 rgba(57,67,89,0.2);
}

.kora_nav_item {
  padding-top: 15px;
  float: left;
  position: relative;

  font-family: @ubuntuReg;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

#kora_nav_left .kora_nav_item{
  width: 80px;

  padding-left: 8px;
}

#kora_nav_right .kora_nav_item{
  width: auto;

  padding-right: 20px;
}

.kora_nav_icon_post_text {
  padding-left: 10px;
}

.kora_nav_sub_menu {
  width: 175px;
  position: absolute;
  display: none;

  top: 50px;
  padding-top: 20px;
  padding-bottom: 5px;

  border-radius: 0 0 5px 5px;
  background-color: @subMenuGrey;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);
}

#kora_nav_right .kora_nav_sub_menu{
  width: 250px;

  right: 0;

  border-radius: 0 0 0 5px;
}

.kora_nav_sub_menu img{
  padding-right: 13px;
}

.kora_nav_sub_menu_header {
  padding-left: 17px;
  padding-bottom: 20px;

  color: white;
  font-family: @ubuntuReg;
  font-size: 16px;
  line-height: 18px;
  height: 18px;
}

.kora_nav_sub_menu_item {
  padding-left: 20px;
  padding-bottom: 15px;
}

.kora_nav_sub_menu_spacer {
  margin-top: 5px;
  margin-bottom: 20px;

  box-sizing: border-box;
  width: 100%;
  height: 3px;
  border: 2px solid white;
  opacity: 0.1;
}

.kora_nav_deep_menu {
  max-height:60vh;
  width: 175px;
  position: absolute;
  display: none;

  margin-top: -15px;
  margin-left: 155px;
  padding-top: 20px;

  overflow: scroll;

  border-radius: 0 5px 5px 5px;
  background-color: @subMenuGrey;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);
}

.kora_nav_deep_menu_item {
  padding-left: 20px;
  padding-bottom: 15px;
}