.form-selection {
  background: none;
  margin: auto;
  max-width: calc(#{ $max-site-width } - 600px);
  width: $max-site-width;

  .form-sort {
    display: none;

    &.active {
      display: block;
    }
    .no-forms {
  
      .top {
      font-size: 80px;
      height: 80px;
      position: relative;
      text-align: center; 

        .line {
          background: palette('gray', base);
          /*background: black;*/
          height: 2px;
          margin-top: 40px;
          opacity: 0.05;
          position: absolute;
          top: 0;
          width: 37%;

          @media screen and (max-width: $max-mobile-xs-width) {
            width: 25%;
          }

          &:last-child {
            right: 0;
          }
        }

        .icon {
          opacity: 0.2;
        }
      }

      .bottom {
        text-align: center;

        p {
          font-family: $ubuntu;
          font-size: 14px;
          opacity: 0.8;

          &:first-child {
            font-size: 18px;
            margin-top: 0;
          }
        }
        
        form p {
          display: inline;
        }

        span {
          padding: 0 0 5px;
        }

        input {
          border: none;
          background: transparent;
          color: palette('green', accent);
          font-family: $ubuntu-medium;
          font-size: 14px;
          padding: 0;

          &:hover {
            cursor: pointer;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .content .id {
    margin-bottom: 20px;
  }
}
