.field-container {
  box-sizing: border-box;
  margin: 30px 0;
  width: 100%;
}

.field {
  margin: 0 auto;
  width: calc(100% - 80px);

  .quick-action.delete-field {
    .icon {
      @include transition();

      font-size: 16px;
    }

    &:hover .icon {
      color: palette(red, warning, 1);
    }
  }

  .id {
    margin-bottom: 5px;
  }
}

.new-field-button {
  margin: 0 auto;
  padding: 25px 0 30px;
  width: calc(100% - 80px);
}
