.page-header {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;

  &.active {
    box-shadow: 0 6px 13px -4px palette('white', base);
  }

  .icon {
    @include transition();

    cursor: pointer;
    vertical-align: middle;
  }

  .icon-arrow-down,
  .icon-arrow-up {
    color: palette('gray', slate);
    display: inline-block;
    font-size: 10px;
    opacity: .2;
  }

  .cancel-container {
    align-items: flex-end;
    display: flex;
    height: 69px;
    justify-content: center;
    text-decoration: none;
    width: 92px;

    &:hover .icon-cancel {
      color: palette('gray', slate, .6);
      transform: rotate(90deg) scale($transform-scale-multiplier);
    }
  }

  .icon-cancel {
    color: palette('gray', slate, .2);
    display: inline-block;
    font-size: 13px;
    margin-bottom: 5px;
  }

  @import 'move-actions';

  .title-container {
    align-items: flex-end;
    display: flex;
  }

  .title {
    @include transition();

    appearance: none;
    background: none;
    border: 2px solid transparent;
    box-sizing: border-box;
    color: palette('gray', text);
    font-family: $ubuntu;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    width: 100%;

    &:hover {
      border-bottom: 2px solid palette('green', accent, .3);
    }

    &:focus {
      border-bottom: 2px solid palette('green', accent, .7);
      outline: none;
    }
  }
}
