.card {
  .footer {
    .tooltip:hover::after {
      left: -34px;
      top: 0;
    }

    .user-trash {
      &:hover {
        i {
          transform: scale(1.25) translateY(-2px);
        }
      }

      span {
        visibility: hidden;
      }
    }

    .quick-action {
      .icon-trash {
        color: palette('red', base);
        font-size: 14px;
        line-height: 19px;
        transform-origin: center;
      }
    }
  }

  .header {
    .title {
      color: palette('gray', text);

      .name {
        font-size: 0;
        margin: 12px 0;
        
        span {
          font-size: 14px;
        }

        .profile {
          font-size: 16px;

          img {
            border-radius: 50%;
            display: block;
            height: 24px;
            width: 24px;
          }
          
          .icon {
            display: block;
            margin: 4px 5px;
          }
        }
      }
    }
  }

  .organization {
    margin-bottom: 30px;
  }

  .status {
    span {
      display: inline-block;
      margin-right: 20px;
      vertical-align: middle;
    }
  }
}
