.card {
  .header {
    .title {
      .name {
        font-size: 0;

        span {
          font-size: 14px;
        }

        .profile {
          font-size: 16px;

          img {
            border-radius: 50%;
            height: 24px;
            width: 24px;
          }
        }
      }
    }
  }
}
