.foot {
  font-family: $ubuntu;
  margin: 60px auto 100px;
  max-width: calc(#{ $max-site-width } - 600px);
  text-align: center;
  width: $max-site-width;

  .permission-information {
    color: palette(gray, text);
    font-size: 14px;
    line-height: 16px;
    margin: 0 auto 30px;
    text-align: center;
  }

  .request-permissions {
    @include transition(color);

    color: palette(green, accent);
    display: inline-block;
    font-family: $ubuntu-medium;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: $underline-padding;
    text-align: center;
    text-decoration: none;
  }

  .request-permissions-submit {
    padding-top: 25px;
  }

  .request-permissions-error {

    .icon-container {
      animation: wobble 2s linear infinite;
      display: inline-block;
      vertical-align: middle;
      will-change: transform;
    }

    .icon {
      font-size: 120px;
      text-shadow: 0 5px 15px palette(box-shadow, base, .1);
    }

    .text {
      color: palette(gray, text);
      display: inline-block;
      font-family: $ubuntu;
      font-size: 16px;
      padding-left: 60px;
      vertical-align: middle;
    }

    .submit {
      padding-top: 40px;
    }

  }
}

@media screen and (max-width: $max-mobile-med-width) {
  .foot .request-permissions-error .text {
    padding: 20px 0 0;
  }
}
