.head {
  background: palette(white, base);
  box-shadow: 0 3px 5px -2px palette(box-shadow, base);
  font-family: $ubuntu;
  width: 100%;

  > * {
    margin-left: 300px;
    margin-right: 300px;
    max-width: calc(#{ $max-site-width } - 600px);
    width: calc(100% - 600px);
  }

  .title {
    align-items: center;
    align-self: center;
    display: flex;
    margin: 0 auto 30px;
    padding-top: 60px;
    text-align: left;

    img {
      height: 37px;
    }

    span {
      font-size: 36px;
      font-weight: 100;
      line-height: 37px;
      padding: 0 30px;
    }
  }

  .description {
    align-self: center;
    font-size: 16px;
    margin: 0 auto;
    padding: 0 0 60px;
  }
}

@media screen and (max-width: $max-tablet-width) {
  .head > * {
    margin-left: 150px;
    margin-right: 150px;
    max-width: calc(#{ $max-tablet-width } - 300px);
    width: calc(100% - 300px);
  }
}

@media screen and (max-width: $max-mobile-width) {
  .head > * {
    margin-left: 100px;
    margin-right: 100px;
    max-width: calc(#{ $max-mobile-width } - 200px);
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: $max-mobile-xs-width) {
  .head > * {
    margin-left: 25px;
    margin-right: 25px;
    max-width: calc(#{ $max-mobile-xs-width } - 50px);
    width: calc(100% - 50px);
  }
}
