.new-project-button {
  margin: 40px auto 0;
  max-width: calc(#{ $max-site-width } - 600px);
  width: $max-site-width;

  form {
    width: 100%;
  }

  input {
    @include transition();

    background: palette(green, accent, .04);
    border: 2px solid palette(green, accent, .3);
    border-radius: 5px;
    color: palette(green, accent);
    cursor: pointer;
    font-family: $ubuntu;
    font-size: 14px;
    height: 50px;
    line-height: 16px;
    padding: 0;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: palette(white, base);
      border: 2px solid palette(green, accent, 1);
      box-shadow: 0 5px 15px 0 palette(green, accent, .10);
    }

    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: $max-mobile-width) {
  .new-project-button {
    margin-top: 25px;
  }
}
