.id {
  margin-bottom: 20px;
}

.admins {
  margin: 20px 0;

  .admin-name {
    @include transition();

    &:hover {
      color: palette('green', accent);
    }
  }
}

.forms {
  .attribute {
    padding-right: 14px;
  }

  .form {
    color: palette('green', accent);
    font-family: $ubuntu-medium;
  }

  .form-link {
    display: inline-block;
    margin: 0 14px 0 0;
    padding: 0 0 #{ $underline-padding };
  }
}
