.id {
  @media screen and (max-width: $max-mobile-xs-width) {
    margin-bottom: 0;
  }
}

.admins {
  .admin-name {
    @include transition();

    &:hover {
      color: palette('green', accent);
    }
  }
}

.forms {
  .form {
    color: palette('green', accent);
    font-family: $ubuntu-medium;
  }

  .form-link {
    display: inline-block;
    margin: 0 14px 0 0;
    padding: 0 0 #{ $underline-padding };

    &.inactive {
      color: palette('gray', base);
      font-family: $ubuntu;
      opacity: 0.6;
    }
  }
}
