.project-selection {
  background: none;
  margin: auto;
  max-width: calc(#{ $max-site-width } - 600px);
  width: $max-site-width;

  .project-sort {
    display: none;
    transition: display .2s ease-in-out;

    &.active {
      display: block;
    }
  }

  @import 'project';
}
