.activate {
  text-align: left;

  h2 {
    font-family: Ubuntu-Medium;
  }

  h2, p {
    color: palette('gray', text);
    font-weight: normal;
  }

  p {
    font-size: 14px;
  }

  .head {
    .description {
      font-size: 14px;
      padding: 0;
    }
  }

  .mb-xl-responsive {
    margin-bottom: 0;
  }

  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .half {
      width: 50%;
    }
  }

  .text {
    color: palette('green', accent);
    font-family: Ubuntu-Medium;
  }

  @media screen and (max-width: $max-mobile-l-width) {
    .mb-xl-responsive {
      margin-bottom: 30px;
    }

    .row {
      .half {
        width: 100%;
      }
    }
  }
}

.activate-body {
  .logo {
    color: palette('green', accent);
    line-height: normal;
    margin: 15px 0 0;
    padding: 0 0 5px;
  }
}
