.invited-register {
    .form-container {
        .logo {
            max-width: 100%;
        }
        .head {
            margin: 55px 0 60px;

            .title {
                margin: 0 0 24px;
                padding: 0;
            }

            .sub-title {
                font-weight: unset;
                margin: 0;
            }

            .title,
            .sub-title {
                text-align: center;
            }
        }
    }
}
