.welcome {
  .logo {
    max-width: 100%;
  }

  .memory {
    text-align: left;

    .check-box-half {
      display: inline-block;
		}

    .forgot {
      display: inline-block;
      float: right;
      vertical-align: middle;
		}
	}

  .modal {
    .content {
      .header {
        .title {
          padding: 35px 0 0 35px;
        }
      }
    }
  }
}
