.welcome {
  .logo {
    max-width: 100%;
  }

  .memory {
    text-align: left;

    .check-box-half {
      display: inline-block;
		}

    .forgot {
      display: inline-block;
      float: right;
      vertical-align: middle;
		}
	}
}
