.my-profile-attributes {
  font-size: 18px;
  line-height: 21px;
  margin: 60px auto 0;
  max-width: calc(#{ $max-site-width } - 600px);
  width: $max-site-width;

  .attr-desc {
    font-family: Ubuntu-Light;
  }
}