// Submit Button
.btn {
  @include transition();

  background: gradient($palette: 'accent', $degree: to right);
  border: 0;
  border-radius: 100px;
  box-shadow: 0 3px 5px 0 palette(box-shadow, accent, .2);
  color: palette(white, base);
  cursor: pointer;
  font-family: $ubuntu;
  font-size: 16px;
  height: 50px;
  line-height: 18px;
  opacity: .9;
  text-align: center;
  width: 100%;


  &:hover,
  &:focus {
    box-shadow: 0 7px 15px 0 palette(box-shadow, accent, .3);
    opacity: 1;
  }

  &:focus {
    outline: none;
  }

  &.warning {
    background: gradient($palette: 'warning', $degree: to right);
    box-shadow: 0 3px 5px 0 palette(box-shadow, warning, .2);

    &:hover,
    &:focus {
      box-shadow: 0 7px 15px 0 palette(box-shadow, warning, .3);
      opacity: 1;
    }
  }
}

a.btn {
  display: block;
  line-height: 50px;
  text-decoration: none;
}

// Dot Button
a.btn.dot-btn {
  @include transition();

  background: none;
  border-radius: 50px;
  box-sizing: border-box;
  height: 50px;
  width: 50px;

  &.trash {
    border: 2px solid palette(red, warning, .5);

    .icon {
      color: palette(red, warning);
    }

    &:hover {
      background: palette(red, warning, 1);
      border: 2px solid palette(red, warning, 1);
    }
  }

  &.archive {
    border: 2px solid palette(gray, slate, .2);
    box-shadow: 0 3px 5px 0 palette(box-shadow, base, .05);

    .icon {
      color: palette(gray, slate);
    }

    &:hover {
      background: palette(gray, slate, 1);
      border: 2px solid palette(gray, slate, 1);
      box-shadow: 0 5px 10px 0 palette(box-shadow, base, .1);
    }
  }

  &.warning:hover .icon {
    color: palette(white, base);
  }

  .icon {
    @include transition();

    font-size: 16;
  }
}
