// Check Box

.check-box {
  position: relative;

  input[type=checkbox] {
    cursor: pointer;
    height: 50px;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 2;

    &:checked + .check-box-background {
      border: 2px solid palette(green, accent, .5);
      box-shadow: 0 7px 10px 0 palette(box-shadow, base, .05);
    }

    &:checked + .check-box-background + .check {
      background-color: palette(green, accent);
    }

    &:checked + .check-box-background + .check + .placeholder {
       opacity: 0;
    }

    &:checked + .check-box-background + .check + .placeholder + .placeholder-alt {
      opacity: 1;
    }

    &:hover + .check-box-background {
      border: 2px solid palette(green, accent, .5);
      box-shadow: 0 7px 10px 0 palette(box-shadow, base, .05);
    }

    &:hover + .check-box-background + .check {
      border: 1px solid palette(green, accent, .5);
      box-shadow: 0 7px 10px 0 palette(box-shadow, base, .05);
    }
  }

  .check-box-background {
    @include transition();

    background-color: palette(white, base);
    border: 1px solid palette(white, base);
    border-radius: 100px;
    box-shadow: 0 3px 5px 0 palette(box-shadow, base, .05);
    box-sizing: border-box;
    height: 50px;
    margin: 0 auto;
    position: relative;
    width: 100%;
  }

  .check {
    @include transition();

    background: palette(white, base);
    border: 1px solid palette(box-shadow, base, .1);
    border-radius: 50px;
    box-shadow: 0 3px 5px 0 palette(box-shadow, base, .05);
    box-sizing: border-box;
    cursor: pointer;
    height: 25px;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(12.5px) translateY(12px);
    width: 25px;

    &::after {
      background: transparent;
      color: palette(white, base);
      content: $icon-check;
      font-family: 'Kora-Icons';
      font-size: 11px;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      left: 6px;
      line-height: 1;
      position: absolute;
      speak: none;
      text-transform: none;
      top: 7px;
    }
  }

  .placeholder,
  .placeholder-alt {
    @include transition();

    color: palette(gray, text);
    cursor: pointer;
    font-family: $ubuntu;
    font-size: 14px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 17px;
  }

  .placeholder-alt {
    color: palette(green, accent);
    font-family: $ubuntu-medium;
    opacity: 0;
  }
}

// Example checkbox
//
// <div class="form-group">
//   <label>Activate Project?</label>
//   <div class="check-box">
//     <input type="checkbox" value="1" id="active" class="check-box-input" name="active" />
//     <div class="check-box-background"></div>
//     <span class="check"></span>
//     <span class="placeholder">Project is set to "inactive"</span>
//     <span class="placeholder-alt">Project is set to "active"</span>
//   </div>
// </div>



// check box half

.check-box-half {
  position: relative;

  &.check-box-rectangle {
    .check {
      border-radius: 5px;
    }
  }

  input[type=checkbox] {
    cursor: pointer;
    height: 25px;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 2;

    &:checked + .check {
      background-color: palette(green, accent);
    }

    &:hover + .check {
      border: 1px solid palette(green, accent, .5);
      box-shadow: 0 7px 10px 0 palette(box-shadow, base, .05);
    }

    &:checked + .check + .placeholder,
    &:hover + .check + .placeholder {
      color: palette(green, accent);
    }

    &:checked + .check + .placeholder {
      font-weight: 900;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .check {
    @include transition();

    background: palette(white, base);
    border: 1px solid palette(box-shadow, base, .1);
    border-radius: 50px;
    box-shadow: 0 3px 5px 0 palette(box-shadow, base, .05);
    box-sizing: border-box;
    cursor: pointer;
    height: 25px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 25px;

    &::after {
      background: transparent;
      color: palette(white, base);
      content: $icon-check;
      font-family: 'Kora-Icons';
      font-size: 11px;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      left: 6px;
      line-height: 1;
      position: absolute;
      speak: none;
      text-transform: none;
      top: 7px;
    }
  }

  .placeholder {
    @include transition();

    color: palette(gray, text);
    cursor: pointer;
    font-family: $ubuntu;
    font-size: 14px;
    line-height: 25px;
    padding-left: 32px;
    text-align: left;
  }
}
