&.document-input-form-group {
  .file-card {
    .tooltip:hover::after {
      left: -57px;
    }
  }
}

.document-field-display {
  .filename {
    font-size: 16px;
    margin: 5px 0 10px 10px;
  }

  .file-info {
    margin: 10px 0 10px 10px;
  }

  .file-info:last-of-type {
    margin: 10px 0 23px 10px;
  }

  .documents-link {
    color: palette('green', accent);
    font-family: $ubuntu-medium;
    padding-bottom: #{ $underline-padding };
  }
}