&.file-input-form-group {
  .file-card {
    border: 1px solid palette('gray', slate, .1);
    height: 50px;
    margin: 0 auto 15px;
    z-index: 1;

    .card-toggle-wrap {
      overflow: visible;
      padding-right: 20px;
      text-align: right;
    }

    .file-delete {
      .icon-trash {
        color: palette('red', warning);
        display: inline-block;
        font-size: 12px;
        @include transition();
      }

      &:hover {
        .icon-trash {
          transform: scale(1.25);
        }
      }
    }

    .header {
      margin: 14px 0;
    }

    .move-actions {
      position: relative;
      bottom: 4px;
    }

    .title {
      color: palette('gray', text);
      display: inline-block;
      overflow: hidden;
      padding-bottom: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .tooltip:hover::after {
      left: -45px;
    }
  }

  .file-label {
    background: palette('white', base);
    border: 1px dashed palette('gray', slate, .15);
    border-radius: 5px;
    cursor: pointer;
    display: block;
    padding: 20px;

    .directions {
      color: palette('gray', text);
      font-style: normal;
      margin: 40px 0 20px;
      text-align: center;

      p {
        margin: 20px 0;
      }

      .text-green {
        color: palette('green', accent);
      }
    }
  }

  // Gallery specific 
  &.gallery-input-form-group {
    .caption {
      border: 0;
      color: palette('gray', text, .8);
      font-size: 13px;
      height: 13px;
      margin: 20px 20px 0;
      outline: none;
      overflow: hidden;
      resize: none;
      width: calc(100% - 44px);

      &:placeholder {
        color: palette('gray', text, .6);
        font-style: italic;
      }
    }

    .file-card {
      height: auto;
    }
  }
}
