// For profile pictures

.profile-button {
  @include transition();

  background-color: palette('white', base, .5);
  border: 2px dashed rgba(21,39,48,0.1);
  border-radius: 5px;
  padding: 30px;
  text-align: center;

  &:hover {
    border: 2px solid palette('green', accent, .3);
    box-shadow: 0 7px 10px 0 palette('box-shadow', base, .05);
  }

  &:focus {
    border: 2px solid palette('green', accent, .7);
    box-shadow: 0 7px 10px 0 palette('box-shadow', base, .05);
    outline: none;
  }

  img {
    border-radius: 50%;
  }

  .instruction {
    color: palette('green', accent);
  }
}

.profile {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.profile-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.profile-label {
  @include transition();

  background-color: palette('white', base, .5);
  border: 2px dashed rgba(21,39,48,0.1);
  border-radius: 5px;
  cursor: pointer;
  padding: 30px;
  text-align: center;

  &.no-advanced-upload {
    .instruction {
      .no-dd {
        display: block;
      }

      .dd {
        display: none;
      }
    }
  }

  &:focus {
    border: 2px solid palette('green', accent, .7);
    box-shadow: 0 7px 10px 0 palette('box-shadow', base, .05);
    outline: none;
  }

  &:hover,
  &.is-dragover {
    border: 2px solid palette('green', accent, .3);
    box-shadow: 0 7px 10px 0 palette('box-shadow', base, .05);
  }

  .icon-user-cont {
    background: palette('white', base);
    border: 2px solid palette('white', base);
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 palette('box-shadow', base, .2);;
    display: flex;
    height: 80px;
    margin: auto;
    overflow: hidden;
    width: 80px;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    .icon-user {
      font-size: 36px;
      margin: auto;
    }
  }

  .instruction {
    color: palette('green', accent);

    &.photo-selected {
      .dd,
      .no-dd {
        display: none;
      }

      .select-new {
        display: block;
      }
    }

    .dd {
      display: block;
    }

    .no-dd,
    .select-new {
      display: none;
    }
  }

  .remove {
    z-index: 1;

    &:hover {
      color: palette('green', accent);
      cursor: pointer;
    }

    .icon {
      @include transition();

      font-size: 12px;
    }
  }
}
