&.geolocator-form-group {
  .form-input-container {
    padding: 30px 0 40px;
    width: calc(100% + 90px);

    .directions {
      margin: 0 45px 20px;
    }
  }

  .geolocator-card {
    cursor: pointer;
    margin: 0 45px 15px;

    .card-toggle-wrap {
      overflow: visible;
      text-align: right;

      .geolocator-delete {
        i {
          color: palette('red', base);
          display: inline-block;
          font-size: 14px;
          padding: 0 0 2px;
          transform-origin: center;
        }

        &.tooltip:hover::after {
          left: -47px;
        }

        &:hover {
          i {
            transform: scale(1.25);
          }
        }
      }
    }

    .content {
      display: block;
      padding: 0 70px 16px;

      .location {
        color: palette('gray', text, .6);
        font-size: 14px;
        margin: 0;

        .bold {
          color: palette('gray', text, .8);
          font-family: $ubuntu-medium;
        }
      }
    }

    .header {
      margin: 16px 0 12px;
      padding: 0 20px;

      .move-actions {
        bottom: 4px;
        position: relative;
        vertical-align: middle;

        .action {
          &:first-child {
            padding-left: 0;
          }
        }
      }

      .title {
        bottom: 3px;
        display: inline-block;
        overflow: hidden;
        padding: 0;
        position: relative;
        text-overflow: ellipsis;
        vertical-align: middle;
        -webkit-line-clamp: 1;
        white-space: nowrap;
      }
    }
  }

  .new-object-button {
    box-sizing: border-box;
    max-width: none;
    padding: 0 45px;
  }

  @media screen and (max-width: $max-mobile-l-width) {
    .content {
      .location {
        .bold {
          display: block;
        }
      }
    }
  }
}