.new-object-button, .new-field-button {
  margin: 40px auto 0;
  max-width: calc(#{ $max-site-width } - 600px);

  form {
    width: 100%;
  }

  input {
    @include transition();

    background: palette('white', base, .0);
    border: 2px solid palette('green', accent, .4);
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 palette('green', accent, .05);
    color: palette('green', accent);
    cursor: pointer;
    font-family: $ubuntu-medium;
    font-size: 14px;
    height: 50px;
    line-height: 16px;
    padding: 0;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: palette('white', base, .9);
      border: 2px solid palette('green', accent, .5);
      box-shadow: 0 5px 10px 0 palette('green', accent, .10);
    }

    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: $max-mobile-width) {
  .new-object-button {
    margin-top: 25px;
  }
}
