// for iOS default select
.chosen-select {
  width: 100%;
}

// @group Base
.chosen-container {
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-align: left;
  user-select: none;
  vertical-align: middle;

  * {
    box-sizing: border-box;
  }

  .chosen-drop {
    background: palette('white', base);
    border: 2px solid palette('green', accent);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0;
    box-shadow: 0 3px 5px 0 palette('box-shadow', base, .05);
    clip: rect(0, 0, 0, 0);
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1010;
  }

  &.chosen-with-drop .chosen-choices,
  &.chosen-with-drop .chosen-single {
    border-bottom: 2px solid palette('green', accent, .3);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.chosen-with-drop .chosen-drop {
    clip: auto;
  }

  &.error {
    border: 2px solid palette('yellow');
    border-radius: 5px;
  }

  a {
    cursor: pointer;
  }

  .search-choice, .chosen-single {
    .group-name {
      color: #999999;
      font-weight: normal;
      margin-right: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &::after {
        content: ':';
        padding-left: 2px;
        vertical-align: top;
      }
    }
  }
}
// @end

// @group Single Chosen
.chosen-container-single {
  .chosen-single {
    @include transition();

    background-color: palette('white', base);
    border: 2px solid palette('white', base);
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 palette('box-shadow', base, .05);
    display: block;
    height: 50px;
    margin: 0;
    overflow: hidden;
    padding: 0 10px 10px;
    position: relative;
    width: 100%;

    &:hover {
      border: 2px solid rgba(4, 182, 175, .5);
      box-shadow: 0 7px 10px 0 palette('box-shadow', base, .05);
    }

    &::before {
      @include transition();

      color: palette('gray', slate);
      content: $icon-chevron;
      display: inline-block;
      float: right;
      font-family: 'Kora-Icons';
      font-size: 6px;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 24px;
      margin: 10px 10px 0 0;
      speak: none;
      text-transform: none;
      vertical-align: middle;
      will-change: transform;
    }

    .search-choice-close {
      right: 60px;
      top: 18px;

      &::before {
        color: palette('gray', slate);
        content: $icon-cancel;
        font-family: 'Kora-Icons';
        font-size: 10px;
        speak: none;
      }
    }
  }

  .chosen-default {
    color: palette('gray', text, .6);
    font-family: $ubuntu-italic;
  }

  .chosen-single span {
    display: block;
    margin: 14px 0 0 10px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .chosen-single-with-deselect span {
    margin-right: 38px;
  }

  .chosen-single abbr {
    display: block;
    font-size: 1px;
    height: 12px;
    position: absolute;
    right: 26px;
    top: 6px;
    width: 12px;

    &:hover {
      background-position: -42px -10px;
    }
  }

  &.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
  }

  .chosen-single div {
    display: none;
  }

  .chosen-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
    z-index: 1010;

    input[type="text"] {
      background-color: palette('gray', 'background');
      border: 0;
      border-radius: 5px;
      font-family: sans-serif;
      font-size: 1em;
      height: 36px;
      line-height: normal;
      margin: 1px 20px;
      outline: 0;
      padding: 4px 20px 4px 5px;
      width: calc(100% - 40px);
    }
  }

  .chosen-drop {
    background-clip: padding-box;
    border-radius: 0 0 4px 4px;
    margin-top: -2px;
  }

  &.chosen-container-single-nosearch .chosen-search {
    clip: rect(0, 0, 0, 0);
    position: absolute;
  }
}
// @end

// @group Results
.chosen-container .chosen-results {
  color: #444;
  margin: 0 4px 4px 0;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0 0 4px;
  position: relative;

  li {
    @include transition();

    display: none;
    line-height: 15px;
    list-style: none;
    margin: 0;
    padding: 8px 20px;
    -webkit-touch-callout: none;
    word-wrap: break-word;

    &.active-result {
      cursor: pointer;
      display: list-item;
      font-family: $ubuntu;
      font-size: 13px;
    }

    &.disabled-result {
      color: #ccc;
      cursor: default;
      display: list-item;
    }

    &.highlighted {
      color: palette('green', accent);
    }

    &.no-results {
      color: #777;
      display: list-item;
    }

    &.group-result {
      cursor: default;
      display: list-item;
      font-weight: bold;
    }

    &.group-option {
      padding-left: 15px;
    }

    em {
      font-style: normal;
      text-decoration: underline;
    }
  }
}
// @end

// @group Multi Chosen
.chosen-container-multi {
  .chosen-choices {
    @include transition();

    background-color: palette('white', base);
    border: 1px solid palette('white', base);
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 palette('box-shadow', base, .05);
    cursor: text;
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0 10px 10px;
    position: relative;
    width: 100%;

    &:hover {
      border: 1px solid rgba(4, 182, 175, .5);
      box-shadow: 0 7px 10px 0 palette('box-shadow', base, .05);
    }

    &::before {
      @include transition();

      color: palette('gray', slate);
      content: $icon-chevron;
      display: inline-block;
      float: right;
      font-family: 'Kora-Icons';
      font-size: 6px;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 24px;
      margin: 10px 10px 0 0;
      speak: none;
      text-transform: none;
      vertical-align: middle;
      will-change: transform;
    }
  }

  .chosen-choices li {
    float: left;
    list-style: none;

    &.search-field {
      margin: 10px 0 0;
      max-width: calc(100% - 40px);
      overflow: hidden;
      padding: 0;
      white-space: nowrap;
      width: 90%;

      input[type="text"] {
        background: transparent !important;
        border: 0 !important;
        border-radius: 0;
        box-shadow: none;
        color: palette('gray', text, .6);
        font-family: $ubuntu-italic;
        font-size: 14px;
        font-weight: normal;
        line-height: normal;
        margin: 1px 0;
        outline: 0;
        padding: 5px 10px;
        width: 100% !important;
      }
    }

    &.search-choice {
      background-color: palette('white', base);
      border: 1px solid palette('box-shadow', base, .1);
      border-radius: 3px;
      box-shadow: 0 3px 5px 0 palette('box-shadow', base, .05);
      color: palette('gray', text);
      cursor: default;
      font-family: $ubuntu;
      line-height: 14px;
      margin: 10px 10px 0 0;
      max-width: 100%;
      padding: 6px 10px;
      position: relative;

      span {
        word-wrap: break-word;
      }

      .search-choice-close {
        @include transition();

        display: inline-block;
        font-family: 'Kora-Icons';
        font-size: 9px;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        margin: 0 0 1px 7px;
        speak: none;
        text-transform: none;
        vertical-align: middle;
        will-change: transform;

        &::before {
          content: $icon-cancel;
        }

        &:hover {
          transform: scale($transform-scale-multiplier);
        }
      }
    }

    &.search-choice-disabled {
      background-color: #e4e4e4;
      background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
      border: 1px solid #ccc;
      color: #666;
      padding-right: 5px;
    }

    &.search-choice-focus {
      background: #d4d4d4;

      .search-choice-close {
        background-position: -42px -10px;
      }
    }
  }

  .chosen-results {
    margin: 0;
    padding: 8px 0;
  }

  .chosen-drop .result-selected {
    cursor: default;
    display: none;
  }
}
// @end

// @group Select menu is open
.chosen-with-drop {
  .chosen-single {
    border: 2px solid palette('green', accent);
    box-shadow: 0 7px 10px 0 palette('box-shadow', base, .05);

    &:hover {
      border: 2px solid palette('green', accent);
    }

    &::before {
      transform: rotate(-180deg);
    }
  }

  .chosen-choices {
    border: 1px solid palette('green', accent);
    box-shadow: 0 7px 10px 0 palette('box-shadow', base, .05);

    li.search-field input[type="text"] {
      color: #222;
      font-family: $ubuntu;
    }

    &::before {
      transform: rotate(-180deg);
    }
  }
}
// @end

// @group Disabled Support
.chosen-disabled {
  cursor: default;
  opacity: .5;

  .chosen-single {
    cursor: default;
  }

  .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }
}
// @end

// @group Right to Left
.chosen-rtl {
  text-align: right;

  .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
  }

  .chosen-single span {
    direction: rtl;
    margin-left: 26px;
    margin-right: 0;
  }

  .chosen-single-with-deselect span {
    margin-left: 38px;
  }

  .chosen-single div {
    left: 3px;
    right: auto;
  }

  .chosen-single abbr {
    left: 26px;
    right: auto;
  }

  .chosen-choices li {
    float: right;

    &.search-field input[type="text"] {
      direction: rtl;
    }

    &.search-choice {
      margin: 3px 5px 3px 0;
      padding: 3px 5px 3px 19px;

      .search-choice-close {
        left: 4px;
        right: auto;
      }
    }
  }

  &.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
  }

  .chosen-results li.group-option {
    padding-left: 0;
    padding-right: 15px;
  }

  &.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: 0;
  }

  .chosen-search input[type="text"] {
    direction: rtl;
    padding: 4px 5px 4px 20px;
  }
}
