.text-input,
.text-area {
  @include transition();

  appearance: none;
  background-color: palette('white', base);
  border: 2px solid palette('white', base);
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 palette('box-shadow', base, .05);
  box-sizing: border-box;
  font-family: $ubuntu;
  font-size: 14px;
  height: 50px;
  padding-left: map-get($spacing, m);
  text-align: left;
  width: 100%;

  .inner-wrap & {
    border: 1px solid palette('gray', slate, 0.1);
  }

  &:hover {
    border: 2px solid palette('green', accent, .3);
    box-shadow: 0 7px 10px 0 palette('box-shadow', base, .05);
  }

  &:focus {
    border: 2px solid palette('green', accent, .7);
    box-shadow: 0 7px 10px 0 palette('box-shadow', base, .05);
    outline: none;
  }

  &.error {
    border: 2px solid palette('yellow');
  }
}

.text-area {
  height: 100px;
  padding: #{map-get($spacing, sm)} #{map-get($spacing, m)};
  resize: vertical;
}

.color-input {
  padding-left: 2px;
}

.error-message {
  color: palette('yellow', text);
  float: right;
  font-family: $ubuntu-medium;
  font-size: 13px;
}
