.admin-users-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
}

.admin-users {
  margin: $navigation-height auto 100px;
  width: 100%;

  @import 'admin/card';
  @import 'admin/filters';
  @import 'admin/selection';
}
