.admin-users-body {
  background: gradient($palette: 'background', $degree: 180deg);
  font-family: $ubuntu-medium;
  min-height: 100vh;
}

.admin-users {
  margin: $navigation-height auto 100px;
  width: 100%;

  @import 'admin/card';
  @import 'admin/filters';
  @import 'admin/selection';
}
