.auth-body {
  @include transition(margin-top);

  font-family: Ubuntu;
  min-height: 100vh;
  position: relative;
  text-align: center;

  &.with-notification {
    margin-top: 30px;
  }

  @media screen and (max-width: $max-mobile-xs-width) {
    &.with-notification {
      margin-top: 50px;
    }
  }

  .side-menu {
    display: none;
  }
}

.auth {
  width: 100%;

  > .content {
    background: url('../images/auth-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: calc(100vh - 233px);
  }

  .form-container {
    margin: #{map-get($spacing, 100-xl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;
  }

  .head {
    background: transparent;
    box-shadow: none;
    text-align: left;

    .title {
      min-height: auto;
      padding: 0 0 30px;
    }
  }

  .logout {
    cursor: pointer;
  }

  .spacer {
    background: palette('gray', slate, .05);
    height: 2px;
    margin: 60px 0;
    width: 100%;
  }
}

@import 'auth/activate';
@import 'auth/register';
@import 'auth/welcome';
