.backup-management-body {
  background: gradient($palette: 'background', $degree: 180deg);
  font-family: $ubuntu;
  min-height: 100vh;
}

.backup-management {
  margin: $navigation-height auto 0;
  width: 100%;

  .backups-section,
  .filerestore-section {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    padding: 0 20px;

    @import 'backups/filters';
    @import 'backups/backup-card';
  }

  @import 'backups/modals';
}