.backup-management-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
}

.backup-management {
  margin: $navigation-height auto 0;
  width: 100%;

  .backups-section,
  .filerestore-section {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);

    @media screen and (max-width: $max-mobile-xs-width) {
      margin: 40px auto;
    }

    @import 'backups/filters';
    @import 'backups/backup-card';
    @import 'backups/no-backups';
  }

  @import 'backups/modals';
}
