.backup-start-body {
  background: gradient($palette: 'background', $degree: 180deg);
  font-family: $ubuntu;
  min-height: 100vh;
}

.backup-start {
  margin: $navigation-height auto 0;
  width: 100%;

  .backup-toolbar {
    margin-bottom: 30px;

    .bold {
      font-family: $ubuntu-medium;
    }

    .time {
      margin-left: 30px;
      opacity: .6;
    }
  }

  .rotate-icon {
    animation: spin 4s linear infinite;
    left: 50%;
    top: 50%;
  }

  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

  .backup-progress {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;

    .success-link {
      color: palette('green', accent);
      font-family: $ubuntu-medium;
      text-decoration: none;
    }
  }

  .backup-finish {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;

    input {
      font-family: $ubuntu;
      font-size: 16px;
      line-height: 18px;
    }

    .finish-text {
      font-size: 14px;
      line-height: 24px;

      a {
        color: palette('green', accent);
        font-family: $ubuntu-medium;
        text-decoration: none;
      }
    }
  }
}
