.edit-config-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
}

.edit-config {
  margin: $navigation-height auto 0;
  width: 100%;

  @import 'config/config-form';
}
