.dashboard-body {
  background: palette('gray', background);
  font-family: $ubuntu-medium;
  min-height: 100vh;
}

.dashboard {
  margin: $navigation-height auto 0;
  width: 100%;

  @import 'dashboard/modals';

  //Hide header links
  @media screen and (max-width: 541px) {
    .content-sections {
      padding: 0 !important;

      a {
        display: none;
      }
    }
  }

  .title {
    text-align: center;

    .icon {
      font-size: 28px;
    }
  }

  .inner-wrap .content-sections {
    display: flex;
    justify-content: center;
    line-height: 25px;
    padding: 30px 0 60px;

    .content-sections-scroll {
      padding: 10px;
    }

    .content {
      color: palette('green', accent);
      text-decoration: none;

      &:last-child {
        margin-left: 45px;
      }

      .icon {
        @include transition();

        color: palette('green', accent);
        display: inline-block;
        font-size: 25px;
        vertical-align: middle;
      }

      span {
        padding-left: 15px;
      }

      &:hover {
        .icon {
          transform: scale($transform-scale-multiplier);
        }
      }
    }
  }

  .grid {
    .element {
      .fp-style {
        height: auto;
        margin: 0 20px 0;
      }

      .fp-style:first-of-type {
        margin-top: 16px;
      }

      .fp-style:last-of-type {
        height: 53px;
        margin: 16px 20px 10px;
      }

      .fp-header {
        font-family: $ubuntu-bold;
      }

      .form-desc {
        height: 73px;
        margin: 16px 20px 10px;
      }

      .quote-text {
        font-family: $ubuntu-light-italic;
        font-size: 14px;
        height: 20px;
        margin: 76px 20px 0;
      }

      .quote-author {
        font-family: $ubuntu-light-italic;
        font-size: 14px;
        height: 20px;
        margin: 14px 20px 0;
      }

      .note-desc {
        height: 150px;
        margin: 20px 20px 10px;
      }
    }
  }

  .floating-buttons {
    .form-group {
      display: inline-block;
      margin: 25px 7px;

      &:last-child {
        margin-right: 20px;
      }
    }

    .btn.dot-btn {
      background: gradient('accent');
      line-height: 54px;

      // scss-lint:disable SelectorDepth
      .icon {
        font-size: 18px;
      }
    }
  }
}

