.field-create-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;

  .half.cal-padding-fix {
    padding-left: 0;
  }
}

.field-create {
  margin: $navigation-height auto 0;
  width: 100%;

  .create-field {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;

    .field-meme-link {
      color: palette('green', accent);
      font-family: $ubuntu-medium;
      font-size: 14px;
      line-height: 19px;
      padding: 0 0 5px;
      text-decoration: none;
    }

    .new-object-button {
      width: calc(100%);
    }

    .new-object-button,
    .low-margin {
      margin-top: 10px;
      width: calc(100%);
    }

    @media screen and (max-width: $max-mobile-xs-width) {
      .error-message {
        padding: 0 0 10px;
      }
    }
  }
}
