.option-preset-create-body {
  background: gradient($palette: 'background', $degree: 180deg);
  font-family: $ubuntu-medium;
  min-height: 100vh;
}

.option-preset-create {
  margin: $navigation-height auto 0;
  width: 100%;

  .option-preset-selection {
    background: none;
    margin: 60px auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;

    .new-object-button {
      margin-top: 15px;
    }

    @import 'field-presets/create';
  }
}
