.field-create-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;

  .half.cal-padding-fix {
    padding-left: 0;
  }
}

.field-create {
  margin: $navigation-height auto 0;
  width: 100%;

  .create-field {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;

	/*
    .form-group {
      padding-left: 45px;
      padding-right: 45px;

      &.half {
        padding-left: 45px;
        padding-right: 15px;

        + .half {
          padding-left: 15px;
          padding-right: 45px;
        }
      }
    }
	*/

    .field-meme-link {
      color: palette('green', accent);
      font-family: $ubuntu-medium;
      font-size: 14px;
      line-height: 19px;
      padding: 0 0 5px;
      text-decoration: none;
    }

    .new-object-button {
      width: calc(100%);
    }

    .new-object-button,
    .low-margin {
      margin-top: 10px;
      width: calc(100%);
    }

    .advanced-options-associator {
      background-color: palette('gray', page, 1);
      border: 1px solid palette('box-shadow', base, 0.05);
      border-radius: 5px;
      box-shadow:0 5px 15px 0 palette('box-shadow', base, 0.03);
      padding: 40px 40px 20px;

      > div:last-of-type {
        margin-bottom: 20px;
      }
    }

    @media screen and (max-width: $max-mobile-xs-width) {
      .error-message {
        padding: 0 0 10px;
      }
    }
  }

  @media screen and (max-width: $max-mobile-l-width) {
    .create-field {
      .form-group {
        padding: 0;
      }
    }
  }
}
