.field-show-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
}

.field-show {
  margin: $navigation-height auto 0;
  width: 100%;

  .title i {
    font-size: 30px;
  }

  .head .head-field-type {
    font-family: $ubuntu-medium;
  }

  .single-field {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;

    .associator-section {
      background-color: palette('gray', page, 1);
      border: 1px solid palette('box-shadow', base, 0.05);
      border-radius: 5px;
      box-shadow: 0 5px 15px 0 palette('box-shadow', base, 0.03);
      padding: 10px 40px 40px;
    }
  }

  .form-group {
    .spacer {
      margin: 60px auto;
    }
  }

  .new-object-button {
    width: calc(100%);
  }

  .new-object-button,
  .low-margin {
    margin-top: 10px;
    width: calc(100%);
  }

  @import 'field-show/field-value-preset';
  @import 'field-show/typed-specific';
  @import 'field-show/field-update-delete';
}
