.field-show-body {
  background: gradient($palette: 'background', $degree: 180deg);
  font-family: $ubuntu;
  min-height: 100vh;
}

.field-show {
  margin: $navigation-height auto 0;
  width: 100%;

  .single-field {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;
  }

  .form-group {
    .spacer {
      margin: 60px auto;
    }
  }

  @import 'field-show/field-update-delete';
}
