footer {
  background: palette('gray', slate);
  display: flex;
  justify-content: center;

  .footer-item {
    display: inline-block;
    height: 75px;
    vertical-align: middle;

    img {
      height: 100%;
      width: 150px;
    }
  }
}
