footer {
  background: palette('gray', slate);
  display: flex;
  justify-content: center;

  .footer-item {
    display: inline-block;
    height: 30px;

    img {
      height: inherit;
      width: auto;
    }
  }
}
