.form-association-permissions-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
  
  .oflow {
	overflow: visible !important;
  }
}

.form-association-permissions {
  margin: $navigation-height auto 0;
  width: 100%;

  @import 'form-associations/request';
  @import 'form-associations/create';
  @import 'form-associations/permission-association-selection';
}
