.form-edit-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
}

.form-edit {
  margin: $navigation-height auto 0;
  width: 100%;

  .edit-form {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;
  }

  @media screen and (max-width: $max-tablet-width) {
    .edit-form {
      max-width: unset;
      width: unset;
    }
  }

  .edit-btn {
    margin-top: 30px;
  }

  .form-group {
    .spacer {
      margin: 60px auto;
    }

    @import 'form-edit/form-cleanup';
    @import 'form-edit/form-permissions';
    @import 'form-edit/form-management-buttons';
  }


  .form-update-button {
    height: 65px;
    margin: 100px auto 85px;
    padding: 0;

    @media screen and (max-width: $max-mobile-xs-width) {
      margin: 40px auto 25px;
    }

    .update-form-submit {
      margin: 0 auto 15px;
    }
  }
}
