.form-create-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
}

.form-create {
  margin: $navigation-height auto 0;
  width: 100%;

  .create-form {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;
  }

  @media screen and (max-width: $max-tablet-width) {
    .create-form {
      max-width: unset;
      width: unset;
    }
  }

  @media screen and (max-width: $max-mobile-xs-width) {
    .error-message {
      padding: 0 0 10px;
    }
  }

  .preset-select-container {
    height: 0;

    > div {
      display: none;
    }
  }
}
