.form-edit-body {
  background: gradient($palette: 'background', $degree: 180deg);
  font-family: $ubuntu;
  min-height: 100vh;
}

.form-edit {
  margin: $navigation-height auto 0;
  width: 100%;

  .edit-form {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;
  }

  .edit-btn {
    margin-top: 30px;
  }

  .form-group {
    .spacer:first-child {
      margin: 45px auto 60px;
    }

    .spacer:last-child {
      margin: 60px auto 55px;
    }

    @import 'form-edit/form-cleanup';
    @import 'form-edit/form-permissions';
    @import 'form-edit/form-management-buttons';

    &.form-cleanup-submit {
      padding: 25px 0 0;
    }
  }


  .form-update-button {
    height: 110px;
    padding: 0;

    .update-form-submit {
      margin: 45px auto 15px;
    }
  }
}
