.scheme-import-setup-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
}

.scheme-import-setup {
  margin: $navigation-height auto 0;
  width: 100%;

  .formfile-link,
  .forminfo-link {
    color: palette('gray', text, .6);
    cursor: default;
    margin-right: 10px;
    padding: 20px 0;
    text-decoration: none;

    &.active {
      color: palette('green', accent);
    }
  }

  .progression-tab {
    border: 1px solid palette('gray', text);
    box-sizing: border-box;
    height: 1px;
    margin-right: 10px;
    margin-top: 27px;
    opacity: .1;
    width: 14px;
  }

  .formfile-section,
  .forminfo-section {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    padding: 0 20px;

  }

  .scheme-record-title {
    font-size: 14px;
  }

  .scheme-import-button {
    height: 65px;
    margin: 100px auto 85px;
    padding: 0;

    .scheme-import-submit {
      margin: 0 auto 15px;
    }
  }
}
