.grid {
  margin: 60px auto 55px;
  max-width: $max-site-width;
  padding: 0 50px;

  .header {
    color: palette('gray');
    font-family: $ubuntu;
    font-size: 16px;
    font-weight: 300;
    margin: 0 auto 32px;
    position: relative;
    text-align: left;
    width: calc(100% - 10px);

    .title {
      background: none;
      padding-right: 20px;
    }

    .line-container {
      overflow: hidden;
      height: 20px;
    }

    .line {
      background-color: palette('gray', slate, .05);
      content: '';
      display: block;
      height: 2px;
      margin: 10px 0 0;
      z-index: -1;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    min-height: 10px;
  }

  .container:hover .element:hover {
    box-shadow: 0 6px 12px 0 palette('box-shadow', base, .06);
  }

  @import 'grid/element';
}

@media screen and (min-width: $max-grid-tri-width) and (max-width: $max-grid-quad-width - 1px) { /* 1049 to 1351 */
  .grid .container .element {
    width: calc(33% - 8px);
  }
}
/* with sidebar */
@media screen and (min-width: 1299px) and (max-width: 1618px) {
  .grid.with-aside .container .element {
    width: calc(33% - 8px);
  }
}

@media screen and (min-width: $max-grid-duo-width) and (max-width: $max-grid-tri-width - 1px) { /* 736 to 1048 */
  .grid .container .element {
    width: calc(50% - 10px);
  }
}
/* with sidebar */
@media screen and (min-width: 985px) and (max-width: 1298px) {
  .grid.with-aside .container .element {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: $max-grid-duo-width - 1px) { /* 735 and down */
  .grid .container .element {
    width: calc(100% - 10px);
  }
}
/* with sidebar */
@media screen and (max-width: 984px) {
  .grid.with-aside .container .element {
    width: calc(100% - 10px);
  }
}
@media screen and (max-width: $max-mobile-med-width) {
  .grid {
    padding: 0 10px;
  }
}
