.head {
  background: palette('white', base);
  box-shadow: 0 3px 5px 0 palette('box-shadow', base, .05);
  color: palette('gray', text);
  font-family: $ubuntu;
  position: relative;
  width: 100%;

  .back {
    @include transition();
      
    border: 1px solid palette('gray', slate, .10);
    border-radius: 0 0 5px 0;
    display: inline-block;
    padding: 20px 17.34px;
    position: fixed;
    text-decoration: none;

    i {
      @include transition();
      
      border-radius: 5px;
      box-shadow: 0 3px 5px 0 palette('box-shadow', base, .03);
      color: palette('gray', slate);
      display: block;
      font-size: 6px;
      opacity: 0.6;
      transform: rotate(90deg) scale(1);
    }

    &:hover {
      box-shadow: 0 6px 12px 0 rgba(21,39,48,0.06);
      i {
        opacity: 0.8;
        transform: rotate(90deg) scale(1.25);
        -webkit-transform: rotate(90deg) scale(1.25);
      }
    }
    
    @media screen and (max-width: $max-mobile-xs-width) {
      display: none;
    }
  }

  h1,
  h2 {
    font-weight: normal;
  }

  .inner-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(#{$max-site-width} - 600px);
    width: $max-site-width;
  }

  .title {
    margin: 0;
    min-height: 45px;
    padding: 56px 0 30px;
    position: relative;
    text-align: left;

    i {
      display: inline-block;
      font-size: 37px;
      margin-right: 10px;
      vertical-align: middle;
    }

    > span {
      font-size: 36px;
      font-weight: 400;
      padding: 0 0 0 10px;
      vertical-align: middle;

    }
  }

  .title,
  .no-icon {
    > span {
      font-size: 36px;
      font-weight: 400;
      padding: 0 37px 0 0;
      vertical-align: middle;
    }
  }

  .sub-title {
    margin: 30px 0;
    text-align: left;
  }

  .head-button {
    float: right;
    text-decoration: none;
    vertical-align: top;

    i {
      @include transition();
      color: palette('gray', text);
      font-size: 22px;
      position: relative;

      &:hover {
        color: palette('green', accent);
      }
    }
  }

  .identifier {
    display: inline-block;
    margin: 0 0 20px;

    span {
      font-family: $ubuntu;
      font-size: 14px;
    }

    span:first-child {
      font-family: $ubuntu-medium;
    }
  }

  .description {
    align-self: center;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0 0 #{map-get($spacing, xxl)};
    
    .record-clone & {
      padding-bottom: 20px !important;
    }
  }

  .content-sections {
    position: relative;
    
    .content-sections-scroll {
      display: flex;
      /*flex-wrap: wrap;*/

      flex-wrap: nowrap; // for tabs
      overflow-x: auto;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        display: none;
      }

      .section {
        @include transition();

        color: palette('gray', text, .6);
        margin-right: 20px;
        padding: 20px 0;
        text-decoration: none;
        white-space: nowrap; // this

        &:hover {
          color: palette('green', accent);
        }

        &.active {
          color: palette('green', accent);
        }
      } 
    }
    
    .tabs-left,
    .tabs-right {
      @include transition();

      background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
      bottom: -6px;
      font-size: 0.5em;
      padding: 60px 21px 0 21px;
      position: absolute;
      
      .hidden {
        display: none;
      }
    }
    
    .tabs-left {
      left: -5px;
      transform: rotate(90deg) scale(0.9);
      &:hover {
        bottom: -5px;
        cursor: pointer;
        font-size: 0.625em;
      }
    }
    
    .tabs-right {
      right: -5px;
      transform: rotate(-90deg) scale(0.9);
      &:hover {
        bottom: -5px;
        cursor: pointer;
        font-size: 0.625em;
      }
    }
  }

  .profile-pic {
    border: solid 2px palette('white', base);
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 palette('box-shadow', base, .05);
    height: 44px;
    margin-right: #{map-get($spacing, xl)};
    object-fit: cover;
    vertical-align: middle;
    width: 44px;
  }
}

@media screen and (max-width: $max-mobile-xs-width){
  .head {
    .rotate {
      display: none;
    }
  }
}
