.head {
  background: palette('white', base);
  box-shadow: 0 3px 5px 0 palette('box-shadow', base, .05);
  color: palette('gray', text);
  font-family: $ubuntu;
  width: 100%;

  h1,
  h2 {
    font-weight: normal;
  }

  .inner-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;
  }

  .title {
    margin: 0;
    min-height: 45px;
    padding: 60px 0 30px;
    text-align: left;

    i {
      display: inline-block;
      font-size: 37px;
      vertical-align: middle;
    }

    > span {
      font-size: 36px;
      font-weight: 400;
      padding: 0 0 0 10px;
      vertical-align: middle;

    }
  }

  .title,
  .no-icon {
    > span {
      font-size: 36px;
      font-weight: 400;
      padding: 0;
      vertical-align: middle;
    }
  }

  .sub-title {
    margin: 30px 0;
    text-align: left;
  }

  .head-button {
    @include transition();
    text-decoration: none;

    i {
      color: palette('gray', text);
      font-size: 22px;
    }

    &:hover {
      opacity: .7;
    }
  }

  .identifier {
    display: inline-block;
    margin: 0 0 20px;

    span {
      font-family: $ubuntu;
      font-size: 14px;
    }

    span:first-child {
      font-family: $ubuntu-medium;
    }
  }

  .description {
    align-self: center;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0 0 60px;
  }

  .content-sections {
    padding: 20px 0;

    .section {
      @include transition();

      color: palette('gray', text, .6);
      margin-right: 20px;
      padding: 20px 0;
      text-decoration: none;

      &:hover {
        color: palette('green', accent);
      }

      &.active {
        color: palette('green', accent);
      }
    }
  }
}
