.form-group {
  color: palette(gray, text);
  font-family: $ubuntu;

  label {
    display: block;
    font-size: 16px;
    padding: 0 0 10px;
    text-align: left;
  }

  ::-webkit-input-placeholder {
    color: palette(gray, text);
    font-family: $ubuntu-italic;
    opacity: .6 !important;
  }

  :-ms-input-placeholder {
    color: palette(gray, text);
    font-family: $ubuntu-italic;
    opacity: .6 !important;
  }

  .spacer {
    background: palette(gray, slate, 0.05);
    height: 2px;
    width: 100%;
  }

  .sub-text {
  	color: palette(gray, text, .6);
  	font-family: $ubuntu;
  	font-size: 12px;
  	line-height: 18px;
    margin-bottom: 0;
  }

  &:not(:first-of-type) {
    padding: #{map-get($spacing, sm)} 0;
  }

  &:first-of-type {
    padding: 0 0 #{map-get($spacing, sm)};
  }

  &:last-child {
    padding: #{map-get($spacing, xxl)} 0 0;
  }

  &.no-padding {
    padding: 0;
  }

  @import 'inputs/text';
  @import 'inputs/selects';
  @import 'inputs/buttons';
  @import 'inputs/check-boxes';
}

@import 'inputs/new-object-button';
