.form-group {
  color: palette(gray, text);
  font-family: $ubuntu;

  label {
    display: block;
    font-size: 16px;
    padding: 0 0 10px;
    text-align: left;
  }

  ::-webkit-input-placeholder {
    font-family: $ubuntu-italic;
    opacity: 1 !important;
  }

  :-ms-input-placeholder {
    font-family: $ubuntu-italic;
    opacity: 1 !important;
  }

  @import 'inputs/text';
  @import 'inputs/selects';
  @import 'inputs/buttons';
  @import 'inputs/check-boxes';
}
