.form-group {
  color: palette('gray', text);
  font-family: $ubuntu;
  position: relative;
  text-align: left;

  label {
    display: inline-block;
    font-size: 16px;
    padding: 0 0 10px;
    text-align: left;
  }

  .directions {
    color: palette('gray', text, .6);
    font-size: 14px;
    font-style: italic;
    margin: 0;
  }

  &::-webkit-input-placeholder {
    color: palette('gray', text);
    font-family: $ubuntu-italic;
    font-style: italic;
    opacity: .6;
  }

  &::-moz-placholder {
    color: palette('gray', text);
    font-family: $ubuntu-italic;
    font-style: italic;
    opacity: .6;
  }

  &:-moz-placholder {
    color: palette('gray', text);
    font-family: $ubuntu-italic;
    font-style: italic;
    opacity: .6;
  }

  .form-input-container {
    background: palette('gray', page, 1);
    border: 1px solid palette('box-shadow', base, 0.05);
    border-radius: 5px;
    box-shadow: 0 40px 85px 0 palette('box-shadow', base, 0.05);
    left: -45px;
    padding: 30px 45px;
    position: relative;
    width: 100%;
  }

  .spacer {
    background: palette('gray', slate, .05);
    height: 2px;
    width: 100%;
  }

  .sub-text {
    color: palette('gray', text, .6);
    font-family: $ubuntu;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
  }

  &.date-picker-form-group {
    label {
      display: block;
    }
  }

  &.half {
    box-sizing: border-box;
    display: inline-block;
    padding-right: 15px;
    text-align: left;
    width: 50%;

    + .half {
      float: right;
      padding-left: 15px;
      padding-right: 0;
    }
  }

  &.no-padding {
    padding: 0;
  }

  .desc-modal {
    @include transition();

    color: palette('box-shadow', accent);
    float: right;
    font-family: $ubuntu-medium;
    font-size: 13px;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  @media screen and (max-width: $max-mobile-med-width) {
    &.half {
      padding-right: 0;
      width: 100%;

      + .half {
        float: none;
        padding-left: 0;
      }
    }
  }

  &.fixed {
    max-width: calc(1440px - 600px);
    position: fixed;
    top: 50px;
    width: 1440px;
    z-index: 3;
  }

  @import 'inputs/buttons';
  @import 'inputs/check-boxes';
  @import 'inputs/profile';
  @import 'inputs/number';
  @import 'inputs/selects';
  @import 'inputs/text';

  // Specialty Field Inputs
  @import 'inputs/date';
  @import 'inputs/file';
  @import 'inputs/geolocator';
  @import 'inputs/list';
  @import 'inputs/schedule';
}

@import 'inputs/new-object-button';
