.welcome-fresh-body {
  background: url('../images/auth-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.welcome-fresh {
  font-family: $ubuntu;
  margin: $navigation-height auto 0;
  width: 100%;

  .content-install {
    margin: 30px auto 0;
    max-width: calc(#{ $max-site-width } - 600px);
    text-align: center;

    .kora3 {
      font-size: 36px;
      line-height: 42px;
      text-shadow: 0 2px 4px 0 palette('black', base, .1);
    }

    .ready {
      font-size: 24px;
      line-height: 28px;
    }

    .commander {
      font-size: 16px;
      line-height: 28px;

      a {
        font-family: $ubuntu-medium;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
