.navigation {
  background-color: palette(green, base);
  box-shadow: 0 3px 5px 0 palette(box-shadow, base);
  height: $navigation-height;

  // Basic attributes
  ul {
    margin: 0;
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    color: palette(white, base);
    display: block;
    text-decoration: none;
  }

  @import 'navigation/left';
  @import 'navigation/right';
  @import 'navigation/global-search';
  @import 'navigation/user-profile';
  @import 'navigation/sub-menu';
  @import 'navigation/deep-menu';
  @import 'navigation/side-menu';
}
