.navigation {
  @include transition(top);
  background-color: palette('green', base);
  box-shadow: 0 2px 10px 0 palette('box-shadow', base, .3);
  box-sizing: border-box;
  font-family: $ubuntu-medium;
  height: $navigation-height + $status-height;
  left: 0;
  padding: 0;
  position: fixed;
  top: -$status-height;
  width: 100vw;
  z-index: 9999;

  &.show-status {
    top: 0;
  }

  // Basic attributes
  ul {
    margin: 0;
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    color: palette('white', base);
    display: block;
    text-decoration: none;
  }

  @import 'navigation/status';
  @import 'navigation/left';
  @import 'navigation/right';
  @import 'navigation/global-search';
  @import 'navigation/user-profile';
  @import 'navigation/sub-menu';
  @import 'navigation/deep-menu';
  @import 'navigation/side-menu';
  @import 'navigation/auth-login';
}
