.project-edit-body {
  background: gradient($palette: 'background', $degree: 180deg);
  font-family: $ubuntu;
  min-height: 100vh;
}

.project-edit {
  margin: $navigation-height auto 0;
  width: 100%;

  .edit-form {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;
  }

  .edit-btn {
    margin-top: 30px;
  }

  .form-group {
    .spacer {
      margin: 60px auto;
    }

    @import 'project-edit/project-cleanup';
    @import 'project-edit/project-permissions';

    &.project-cleanup-submit {
      padding: 25px 0 0;
    }
  }


  .project-update-button {
    height: 65px;
    margin: 100px auto 85px;
    padding: 0;

    .update-project-submit {
      margin: 0 auto 15px;
    }
  }
}
