.project-permissions-body {
  background: gradient($palette: 'background', $degree: 180deg);
  font-family: $ubuntu;
  min-height: 100vh;
}

.project-permissions {
  margin: $navigation-height auto 0;
  width: 100%;

  @import 'project-permissions/permission-group-selection';
  @import 'project-permissions/modals';
  // @import 'projects/foot';
}
