.project-import-setup-body {
  background: gradient($palette: 'background', $degree: 180deg);
  font-family: $ubuntu;
  min-height: 100vh;
}

.project-import-setup {
  margin: $navigation-height auto 0;
  width: 100%;

  .projectfile-link,
  .projectinfo-link {
    color: palette('gray', text, .6);
    cursor: default;
    margin-right: 10px;
    padding: 20px 0;
    text-decoration: none;

    &.active {
      color: palette('green', accent);
    }
  }

  .progression-tab {
    border: 1px solid palette('gray', text);
    box-sizing: border-box;
    height: 1px;
    margin-right: 10px;
    margin-top: 27px;
    opacity: .1;
    width: 14px;
  }

  .projectfile-section,
  .projectinfo-section {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    padding: 0 20px;

  }
}
