.my-profile-body {
  background: palette('gray', background);
  font-family: $ubuntu-medium;
  min-height: 100vh;
}

.my-profile {
  margin: $navigation-height auto 0;
  width: 100%;

  @import 'profile/attributes';
  @import 'profile/history';
  @import 'profile/permissions';
}
