.record-index-body,
.record-results-body,
.project-records-body {
  background: gradient($palette: 'background', $degree: 180deg);
  font-family: $ubuntu;
  min-height: 100vh;
}

.record-index,
.record-results,
.project-records {
  margin: $navigation-height auto 0;
  width: 100%;

  .view-records {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;

    .search-input {
      box-sizing: border-box;
      display: inline-block;
      padding-right: 15px;
      text-align: left;
      width: 75%;

      + .search-input {
        float: right;
        padding-left: 15px;
        padding-right: 0;
        width: 25%;
      }
    }

    @media screen and (max-width: $max-mobile-l-width) {
      .search-input {
        display: block;
        margin-top: 20px;
        padding-right: 0;
        width: 100%;

        + .search-input {
          float: left;
          padding-left: 0;
          width: 100%;
        }
      }

      .search-button-container {
        // scss-lint:disable SelectorDepth
        .half-sub-btn,
        .half-btn {
          margin-top: 40px;
          max-width: $max-mobile-l-width;
          width: 100%;

          + .hidden {
            display: none;
          }
        }
      }

      .search-spacer {
        display: inline-block;
        width: 100%;

        // scss-lint:disable SelectorDepth
        .spacer {
          margin-bottom: 60px;
        }
      }
    }

    .advanced-search-title {
      font-size: 30px;
      height: 34px;
      line-height: 35px;
      color: palette('gray', text);
    }

    .records-title {
      font-size: 30px;
      height: 34px;
      line-height: 35px;
      color: palette('gray', text);
    }

    .results-here-text {
      font-size: 14px;
      height: 16px;
      line-height: 16px;
      text-align: center;
    }

    @import 'record-show/card';
    @import 'record-index/filters';
    @import 'record-index/pagination';
    @import 'record-index/no-records';
  }
}
