.record-revisions-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
}

.record-revisions {
  margin: $navigation-height auto 0;
  width: 100%;

  @import 'record-revisions/record-select';
  @import 'record-revisions/filters';
  @import 'record-revisions/card';
  @import 'record-revisions/pagination';
  
  .revisions {
    margin: 40px auto 0;
    max-width: calc(#{$max-site-width} - 600px);
    width: $max-site-width;

    .revision {
      a.disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      .deleted-description {
        a {
          color: palette('green', accent)
        }
      }
    }
  }
}