.record-index-body {
  background: gradient($palette: 'background', $degree: 180deg);
  font-family: $ubuntu;
  min-height: 100vh;
}

.record-index {
  margin: $navigation-height auto 0;
  width: 100%;

  .view-records {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;

    .search-input {
      box-sizing: border-box;
      display: inline-block;
      text-align: left;
      padding-right: 15px;
      width: 80%;

      + .search-input {
        float: right;
        padding-left: 15px;
        width: 20%;
      }
    }

    .search-button-container {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      .half-sub-btn, .half-btn {
        width: calc(50% - 10px);
      }
    }

    @media screen and (max-width: $max-mobile-l-width) {
      .search-input {
        display: block;
        margin-top: 20px;
        padding-right: 0px;
        width: 100%;

        + .search-input {
          float: left;
          padding-left: 0px;
          width: 100%;
        }
      }

      .search-button-container {
        display: initial;

        .half-sub-btn {
          margin-bottom: 0;
        }

        .half-sub-btn, .half-btn {
          margin-top: 40px;
          max-width: 100%;
          width: 100%;
        }
      }
    }

    .records-title {
      font-size: 30px;
      height: 34px;
      line-height: 35px;
    }

    @import 'record-show/card';
    @import 'record-index/filters';
    @import 'record-index/pagination';
  }
}