.record-show-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
}

.record-show {
  margin: $navigation-height auto 0;
  width: 100%;

  .head {
    .delete-record {
      .icon {
        @include transition();

        color: palette('red', warning, 1);
        font-size: 18px;
        padding: 0 0 5px;
        will-change: transform;
      }

      &:hover .icon-trash {
        transform: scale($transform-scale-multiplier);
      }
    }

    .description {
      a {
        color: palette('green', accent);
        font-size: 14px;
        font-family: $ubuntu-medium;
        margin-right: 18px;
        padding-bottom: #{ $underline-padding };
        text-decoration: none;
      }

      .already-preset {
        @include transition();

        color: palette('gray', base);

        &:hover {
          color: palette('green', accent);
        }
      }
    }
  }

  .record-preset-link {
    color: palette('green', accent);
    font-family: $ubuntu-medium;
    text-decoration: none;
  }

  .view-record {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;

    @import 'record-show/page-card';

    .meta-title {
      font-family: $ubuntu-medium;
      font-size: 18px;
      height: 20px;
      line-height: 21px;
    }

    .meta-data {
      color: palette('gray', text);
      font-size: 14px;
      line-height: 19px;
      font-family: $ubuntu;

      .meta-link {
        color: palette('green', accent);
        font-family: $ubuntu-medium;
        padding-bottom: #{ $underline-padding };
        text-decoration: none;
      }
    }
  }


}
