.batch-assign-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
}

.batch-assign {
  margin: $navigation-height auto 0;
  width: 100%;

  .head .description a {
    color: palette('green', accent);
    font-family: $ubuntu-medium;
    text-decoration: none;
  }

  .record-batch {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;

    .new-object-button,
    .low-margin {
      margin-top: 10px;
    }
  }
}
