.record-import-setup-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
}

.record-import-setup {
  margin: $navigation-height auto 0;
  width: 100%;

  .description {
    a {
      color: palette('green', accent);
      font-family: $ubuntu-medium;
      text-decoration: none;
    }
  }

  .recordfile-link,
  .recordmatch-link {
    color: palette('gray', text, .6);
    cursor: default;
    margin-right: 10px;
    padding: 20px 0;
    text-decoration: none;

    &.active {
      color: palette('green', accent);
    }
  }

  .tab-wrap {
    margin-right: 10px;
    position: relative;
    width: 14px;

    .progression-tab {
      border: 1px solid palette('gray', text);
      box-sizing: border-box;
      height: 1px;
      opacity: .1;
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }

  .recordfile-section,
  .recordmatch-section,
  .recordresults-section,
  .allrecords-section {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    padding: 0 20px;

    .record-file-title {
      font-size: 14px;
    }

    .records-imported-label {
      font-size: 24px;
      line-height: 28px;
    }

    .record-import-button {
      height: 65px;
      margin: 100px auto 85px;
      padding: 0;

      // scss-lint:disable SelectorDepth
      .record-import-submit {
        margin: 0 auto 15px;
      }
    }

    .import-thin-btn-text {
      font-family: $ubuntu !important;
      font-size: 16px !important;
    }

    .import-thick-btn-text {
      font-size: 16px !important;
    }

    .solid-box {
      background-color: palette('gray', text, .03);
      border-radius: 5px;
      font-size: 14px;
      padding: 18px 0;
      padding-left: 22px;
      width: auto;
    }

    .success-link {
      color: palette('green', accent);
      font-family: $ubuntu-medium;
      text-decoration: none;
    }

    @import 'record-import/button-layout';
  }
}
