.record-data-card {
  border: 1px solid palette('gray', text, .1);
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 palette('gray', text, .05);
  margin-top: 10px;
  padding: 10px;
  position: relative;
}
