.record-data-card {
  background: palette('gray', page, 1);
  border: 1px solid palette('box-shadow', base, 0.05);
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 palette('box-shadow', base, 0.03);
  margin-top: 0;
  padding: 25px 30px 30px;
  position: relative;

  &.gallery-card,
  &.model-card {
    margin-top: 10px;
    padding: 10px;
  }
}
