.record-index-body,
.record-results-body,
.advanced-index-body,
.project-records-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;

  .no-records-adv-search {
    .top {
      font-size: 60px;
      height: 60px;
      position: relative;
      text-align: center;

      .line {
        background: palette('gray', base);
        height: 2px;
        margin-top: 35px;
        opacity: 0.05;
        position: absolute;
        top: 0;
        width: 37%;

        &:last-child {
          right: 0;
        }
      }

      .icon {
        opacity: 0.2;
      }
    }

    .bottom {
      text-align: center;

      p {
        font-family: $ubuntu;
        font-size: 18px;
        margin-top: 0;
        opacity: 0.8;

        &:last-child {
          font-size: 14px;
          line-height: 1.7;
        }
      }
    }

    .kora-green {
      color: palette('green', accent);
      cursor: pointer;
      font-family: $ubuntu-medium;
    }
  }
}

.record-index,
.record-results,
.advanced-index,
.project-records {
  margin: $navigation-height auto 0;
  width: 100%;

  &.with-bottom {
    margin: $navigation-height auto 20px;
  }

  .view-records {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;

    .search-input {
      box-sizing: border-box;
      display: inline-block;
      padding-right: 15px;
      text-align: left;
      width: 75%;

      + .search-input {
        float: right;
        padding-left: 15px;
        padding-right: 0;
        width: 25%;
      }
    }

    @media screen and (max-width: $max-mobile-l-width) {
      .search-input {
        display: block;
        margin-top: 20px;
        padding-right: 0;
        width: 100%;

        + .search-input {
          float: left;
          padding-left: 0;
          width: 100%;
        }
      }

      .search-button-container {
        // scss-lint:disable SelectorDepth
        .half-sub-btn,
        .half-btn {
          float: unset;
          margin-top: 40px;
          max-width: $max-mobile-l-width;
          width: 100%;

          + .hidden {
            display: none;
          }
        }
      }

      .search-spacer {
        display: inline-block;
        width: 100%;

        // scss-lint:disable SelectorDepth
        .spacer {
          margin-bottom: 60px;
        }
      }
    }

    /*.filters {*/
    .content-sections {
      margin: 60px auto 0;
      position: relative;

      .content-sections-scroll {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar {
          display: none;
        }

        a {
          color: palette('gray', text, .8);
          display: inline-block;
          font-family: $ubuntu;
          font-size: 16px;
          line-height: 1;
          margin: 0 7.5px;
          padding: 0 0 13px;
          text-decoration: none;
          white-space: nowrap;

          &:first-child {
            margin-left: 0;
            padding-left: 0;
          }

          &:last-child {
            margin-right: 0;
            padding-right: 0;
          }

          &:hover {
            color: palette('green', accent);
          }

          &.selected {
            border-bottom: 2px solid palette('green', accent);
            color: palette('green', accent);
            font-family: $ubuntu-medium;

            &.underline-middle-hover:hover::before,
            &.underline-middle-hover:hover::after {
              opacity: 0;
            }
          }
        }
      }

      .tabs-left,
      .tabs-right {
        @include transition();

        background: linear-gradient(0deg, #f5f6f7 0%, rgba(255, 255, 255, 0) 100%);
        bottom: -6px;
        font-size: 0.5em;
        opacity: 0.6;
        padding: 60px 21px 0 21px;
        position: absolute;

        &:hover {
          opacity: 1;
        }

        .hidden {
          display: none;
        }
      }

      .tabs-left {
        left: -5px;
        transform: rotate(90deg) scale(0.9);
        &:hover {
          bottom: -5px;
          cursor: pointer;
          font-size: 0.625em;
        }
      }

      .tabs-right {
        right: -5px;
        transform: rotate(-90deg) scale(0.9);
        &:hover {
          bottom: -5px;
          cursor: pointer;
          font-size: 0.625em;
        }
      }
    }

    .records-title {
      font-size: 30px;
      height: 34px;
      line-height: 35px;
      color: palette('gray', text);

      @media screen and (max-width: $max-mobile-xs-width) {
        margin-top: 80px;
      }
    }

    .keywords {
      list-style-type: none;
      margin: 0;
      padding: 0;

      .keyword {
        background-color: palette('white', base);
        border: 1px solid rgba(57,67,89,0.1);
        border-radius: 5px;
        box-shadow: 0 3px 5px 0 rgba(57,67,89,0.05);
        color: palette('gray', text);
        cursor: default;
        display: inline-block;
        font-family: $ubuntu;
        line-height: 14px;
        margin: 10px 10px 0 0;
        max-width: 100%;
        padding: 6px 10px;
        position: relative;

        span {
          word-wrap: break-word;
        }

        .keyword-close {
          @include transition();

          display: inline-block;
          font-family: 'Kora-Icons';
          font-size: 9px;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          line-height: 1;
          margin: 0 0 1px 7px;
          speak: none;
          text-transform: none;
          vertical-align: middle;
          will-change: transform;

          &::before {
            content: $icon-cancel;
          }

          &:hover {
            cursor: pointer;
            transform: scale($transform-scale-multiplier);
          }
        }
      }

      .back-to-search {
        @include transition();

        background: palette('white', base);
        border: 1px solid rgba(4,182,175,0.6);
        border-radius: 5px;
        box-shadow: 0 3px 5px 0 rgba(57,67,89,0.05);
        color: palette('green', accent);
        display: inline-block;
        float: right;
        font-family: $ubuntu;
        line-height: 14px;
        padding: 6px 10px;
        white-space: nowrap;
        width: min-content;

        span {
          padding-right: 5px;
        }

        i {
          @include transition();

          display: inline-block;
          font-size: 9px;
          -moz-osx-font-smoothing: grayscale;
          margin: 0 0 3px 7px;
          vertical-align: middle;
          will-change: transform;
        }
		
        &:hover {
          border-color: palette('green', accent);
          box-shadow: 0 5px 10px 0 rgba(4,182,175,0.1);
          cursor: pointer;

          i {
            transform: scale($transform-scale-multiplier) rotate(-90deg);
          }
        }

        @media screen and (max-width: $max-mobile-width) {
          display: block;
          float: none;
          margin: 20px 0 0;
        }
      }
    }

    .try-another-search,
    .to-top {
      display: block !important;
      margin: 0 auto;
    }

    .results-here-text {
      font-size: 14px;
      height: 16px;
      line-height: 16px;
      text-align: center;
    }

    @import 'record-show/card';
    @import 'record-index/filters';
    @import 'record-index/pagination';
    @import 'record-index/searched-terms';
    @import 'record-index/no-records';
    @import 'record-index/page-typed-fields';
    @import 'record-index/page-sections';
  }
}
@import 'record-index/toolbar';
