#kora_global_search_input {
  background: transparent;
  border: 0;
  color: palette(white, base);
  font-family: $ubuntu-reg;
  font-size: 12px;
  font-weight: 500;
  height: 17px;
  line-height: 16px;
  margin: 20px 0 20px 20px;
  width: 190px;
}

#kora_global_search_input:focus {
  outline-width: 0;
}

#kora_global_search_input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: palette(white, base);
}

#kora_global_search_input::-moz-placeholder {
  /* Firefox 19+ */
  color: palette(white, base);
}

#kora_global_search_input:-ms-input-placeholder {
  /* IE 10+ */
  color: palette(white, base);
}

#kora_global_search_input:-moz-placeholder {
  /* Firefox 18- */
  color: palette(white, base);
}

#kora_global_search_submit {
  border: 0;
  background: transparent;
  width: 17px;
  height: 17px;
}

#kora_global_search_submit:focus {
  outline-width: 0;
}

#kora_global_search_submit img {
  width: 4px;
  height: 8px;
}

#kora_global_search_spacer {
  border-bottom: 2px solid palette(white, base);
  box-sizing: border-box;
  margin: 0 0 0 20px;
  opacity: .1;
  width: 210px;
}

#kora_global_search_recent {
  margin-left: 20px;
  color: palette(white, base);
  font-family: $ubuntu-reg;
  font-size: 12px;
  line-height: 13px;
}

#kora_global_search_result {
  margin-left: 20px;
  color: palette(white, base);
  font-family: $ubuntu-reg;
  font-size: 12px;
  line-height: 13px;
}

#kora_global_search_result li:first-child {
  padding-top: 20px;
}

#kora_global_search_result li:last-child {
  padding-bottom: 20px;
}

#kora_global_search_result li {
  height: 14px;
  padding: 8px 0;
}

#kora_global_search_result a {
  color: $kora-green !important;
  display: initial;
  line-height: 0;
}

#kora_global_search_clear {
  background-color: rgba(255, 255, 255, .05);
  border: 0;
  border-radius: 0 0 0 5px;
  color: palette(white, base);
  font-size: 13px;
  height: 48px;
  margin: 0;
  padding-left: 20px;
  text-align: left;
  width: 100%;
}

#kora_global_search_clear:focus {
  outline-width: 0;
}
