.side-menu {
  @include transition();

  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;

  &.active,
  &.fixed {
    flex-basis: 250px;
  }

  .blanket {
    background: palette('black', base);
    height: 100vh;
    left: -100vw;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 0;
  }

  .aside-content {
    background: palette('gray', slate);
    height: calc(100vh - #{$navigation-height});
    margin-top: $navigation-height;
    overflow-y: scroll;
    position: fixed;
    width: 250px;

    @import 'side-menu/drawer-element';

    .footer-elements {
      background: palette('gray', slate);
      bottom: 0;
      position: absolute;
      z-index: -1;

      &.active {
        z-index: 1;
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .side-menu {
    flex-basis: 250px;
    height: calc(100vh - #{$navigation-height});
    left: 100%;
    position: absolute;
    z-index: 3;

    &.active {
      left: calc(100% - 250px);
    }

    &.fixed {
      flex-basis: 0;
    }
  }
}
