.tokens-body {
  background: palette('gray', background);
  font-family: $ubuntu-medium;
  min-height: 100vh;
}

.tokens {
  margin: $navigation-height auto 0;
  width: 100%;

  @import 'tokens/filters';
  @import 'tokens/token-selection';
  @import 'tokens/modals';
  @import 'tokens/no-tokens';
}
