.user-edit-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
}

.user-edit {
  margin: 50px auto 0;
  width: 100%;

  .form-container {
    margin: #{map-get($spacing, xxxl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;
  }

  .head {
    position: relative;

    .profile-pic-cont .icon-user {
      @include transition();

      @media screen and (max-width: $max-mobile-xs-width) {
          font-size: 24px;
          margin-right: 10px;
          padding: 12px;
      }
    }
  }
  
  .floating-button-height {
    height: 65px;
  }
  
  .color-transition {
    transition: opacity .2s ease-in-out !important;
	-webkit-transition: opacity .2s ease-in-out !important;
  }

  @import 'user/form';
}
