.user-profile-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
}

.user-profile {
  margin: $navigation-height auto 0;
  width: 100%;

  .head {
    .content-sections {
      a {
        font-size: 16px;
      }
    }

    .name {

    }

    .profile-pic {
      height: 93px;
      width: 93px;
    }

    @media screen and (max-width: 650px) {
      .head-button {
        position: absolute;
        right: 0;
        top: 56px;
      }

      .name {
        display: block;
        margin-top: 15px;
      }

      .title {
        position: relative;
      }
    }
  }

  @import 'user-profile/filters';
  @import 'user-profile/page-section';
  @import 'user-profile/pagination';
}