.user-profile-body {
  background: palette('gray', background);
  font-family: $ubuntu;
  min-height: 100vh;
}

.user-profile {
  margin: $navigation-height auto 0;
  width: 100%;

  .head {
    .content-sections {
      a {
        font-size: 16px;
      }
    }

    .profile-pic {
      height: 93px;
      width: 93px;
    }
  }

  @import 'user-profile/filters';
  @import 'user-profile/page-section';
  @import 'user-profile/pagination';
}