.user-edit-body {
  background: gradient($palette: 'background', $degree: 180deg);
  font-family: $ubuntu-medium;
  min-height: 100vh;
}

.user-edit {
  margin: 50px auto 0;
  width: 100%;

  .form-container {
    margin: #{map-get($spacing, 100-xl)} auto;
    max-width: calc(#{ $max-site-width } - 600px);
    width: $max-site-width;
  }

  .head {
    position: relative;

    .back {
      box-shadow: 0 3px 5px 0 palette('box-shadow', base, .08);
      height: 50px;
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 50px;

      a {
        color: palette('gray', text, .6);
        text-decoration: none;
      }

      p {
        @include transform(rotate(90deg));

        line-height: 50px;
        margin: 0;
        padding: 0 5px 5px 0;
      }

      .icon {
        font-size: 6px;
      }
    }
  }

  @import 'user/form';
}
