.user-profile-body {
  background: gradient($palette: 'background', $degree: 180deg);
  font-family: $ubuntu;
  min-height: 100vh;
}

.user-profile {
  margin: $navigation-height auto 0;
  width: 100%;
  
  .head {
    .profile-pic {
      height: 93px;
      width: 93px;
    }
  }

  @import 'user-profile/filters';
  @import 'user-profile/page-section';
}