&.auth {
  background-color: transparent;
  box-shadow: none;
  font-family: $ubuntu;

  .navigation-item {
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;

    a {
      color: palette('gray', text);
      line-height: normal;
      margin: 15px 0 0;
      padding: 0 0 $underline-padding;

      &:hover {
        color: palette('green', accent);
      }
    }
    
    .language-select {
      a:first-child {
        margin: 0;
      }
    }
  }

  .navigation-right {
    background: transparent;
  }
}
