&.auth {
  background-color: transparent;
  box-shadow: none;
  font-family: $ubuntu;
  position: absolute;
  width: 100%;

  .navigation-item {
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;

    a {
      color: palette('gray', text);
      line-height: normal;
      margin: 15px 0 0;
      padding: 0 0 $underline-padding;

      &:hover {
        color: palette('green', accent);
      }
    }

    .language-select {
	    top: 80px;

      li {
	      margin: 5px 0;

        &:first-of-type {
          margin: 0 0 5px;
        }

        &:last-of-type {
          margin: 5px 0 0;
        }

        a {
          margin: 0;
        }
      }

      li:last-of-type { /* temporary for 'More languages coming soon...' */
        opacity: 0.4;

        &:hover {
          cursor: default;
        }
      }
    }
  }

  .navigation-left {
    display: block;
  }

  .navigation-right {
    background: transparent;
  }
}
