.navigation-deep-menu {
  @include transition();

  background-color: palette('gray', dropdown);
  border-radius: 0 5px 5px;
  box-shadow: 0 20px 30px 0 palette('black', base, .2);
  display: none;
  margin-left: 171px;
  margin-top: -42px;
  max-height: 60vh;
  opacity: 0;
  overflow: scroll;
  padding: 0;
  position: absolute;
  width: 175px;

  .deep-menu-item {
    a {
      padding: 8px 20px 8px 20px !important;
    }

    &:first-child a {
      padding-top: 20px !important;
    }

    &:last-child a {
      padding-bottom: 20px !important;
    }
  }

  &.active {
    display: block;
    opacity: 1;
  }
}

.link:last-child .navigation-deep-menu {
  margin-left: 171px;
  margin-top: -54px;
}
