.navigation-deep-menu {
  background-color: palette(gray, dropdown);
  border-radius: 0 5px 5px;
  box-shadow: 0 20px 30px 0 palette($palette: black, $alpha: .2);
  display: none;
  margin-left: 155px;
  margin-top: -15px;
  max-height: 60vh;
  overflow: scroll;
  padding-top: 20px;
  position: absolute;
  width: 175px;

  .item {
    padding-bottom: 15px;
    padding-left: 20px;
  }
}
