.navigation-search {
  display: inline-block;
  height: 100%;
  vertical-align: middle;

  .global-search-toggle {
    @include transition();

    display: inline-block;
    vertical-align: middle;

    .icon-search {
      display: inline-block;
      font-size: 13px;
      line-height: $navigation-height;
      margin: 0 10px;
      padding: 0;
    }

    &:hover {
      color: palette('green', accent);
    }
  }

  .navigation-sub-menu {
    padding-bottom: 0;
  }

  .icon {

    &.icon-search.active {
      color: palette('green', accent);
    }
  }

  .global-search-form {
	border-radius: 0 0 0 5px;
    text-align: left;
    background-color: #283c46;
  }

  .global-search-input {
    background: transparent;
    border: 0;
    caret-color: palette('green', accent);
    color: palette('white', base);
    font-family: $ubuntu;
    font-size: 12px;
    font-weight: 500;
    height: 13px;
    line-height: 13px;
    margin: 20px 0 20px 20px;
    outline: 0;
    padding: 0;
    width: calc(100% - 62px);

    &:focus {
      outline-width: 0;
    }

    &::-webkit-input-placeholder {
      color: palette('white', base);
    }

    &:-ms-input-placeholder {
      color: palette('white', base);
    }
  }

  .global-search-submit {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 6px 12px 12px;
    transform: rotate(-90deg);
    vertical-align: middle;

    .icon-chevron {
      color: palette('white', base);
      font-size: 6px;
    }

    &:focus {
      outline-width: 0;
    }
  }


  .recent-search-results-container {
    padding: 12px 0 8px;
  }

  .recent-search-results li {
    color: palette('white', base);
    font-family: $ubuntu;
    font-size: 12px;
    line-height: 13px;
    padding: 0;
    text-align: left;
	a {
+      overflow: hidden;
+      padding-right: 20px;
+      text-overflow: ellipsis;
+    }
+    &:focus {
+      outline: none;
+      a {
+        color: palette('green', accent);
+        outline: none;
+      }
+    }
  }

  .recent-search-results a {
    @include transition();

    display: block;
    padding: 8px 0 8px 20px;

    &:hover {
      color: palette('green', accent);
    }
	:focus {
+      color: palette('green', accent);
+      outline: none;
+    }
  }

  .search-results {
    color: palette('white', base);
    font-family: $ubuntu;
    font-size: 12px;
    line-height: 13px;

    li {
      height: 13px;
	  overflow: hidden;
      padding: 8px 20px;
      text-align: left;
	  text-overflow: ellipsis;

      &:first-child {
        padding-top: 20px;
      }

      &:last-child {
        padding-bottom: 20px;
      }
    }

    a {
      @include transition(color);

      color: palette('green', accent);
      display: initial;
      font-family: $ubuntu-medium;
      font-size: 14px;
      line-height: 0;

      &:hover {
        color: palette('white', base);
      }
    }
  }

  .clear-search-results-container {
    @include transition(height);
  }

  .clear-search-results {
    @include transition();

    background-color: palette('white', base, 0);
    border: 2px solid transparent;
    border-radius: 0 0 0 5px;
    box-sizing: border-box;
    color: palette('green', accent);
    cursor: pointer;
    font-family: $ubuntu;
    font-size: 13px;
    margin: 0;
    padding: 9px 0 18px 20px;
    text-align: left;
    width: 100%;

    &:focus {
      outline-width: 0;
    }

    &:hover {
      color: palette('green', accent);
    }
  }
}
