.navigation-left {
  display: inline-block;
  height: 50px;
  float: left;
  position: absolute;

  .logo {
    display: inline-block;
    padding-left: 25px;
    vertical-align: middle;

    .img:hover {
      color: palette('green', accent);
    }

    // Replace this class with the image class once the placeholder is replaced.
    .img {
      @include transition();

      display: inline-block;
      font-size: 27px;
    }
  }

  .navigation-item {
    box-sizing: border-box;
    display: inline-block;
    font-family: $ubuntu-medium;
    font-size: 12px;
    vertical-align: middle;
    
    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      right: 0;
      width: 2em;
      text-align: center;
    }

    a, .no-link {
      line-height: 50px;
    
      span { 
        @include transition();
        
        display: inline-block;
      }                             
    }
    
    .menu-toggle span,
    .no-link span {
      display: inline-block;
      max-width: 9em;
      overflow: hidden;
      padding-bottom: 0.5px;
      text-overflow: ellipsis;
      vertical-align: middle;
    }

    .no-link {
      @include transition();
      
      color: palette('white', base);
    }

    &:not(:first-child) {
      margin-left: 15px;
    }

    .menu-toggle:hover {
      color: palette('green', accent);
    }

    .icon-chevron {
      @include transition();

      display: inline-block;
      font-size: 6px;
      line-height: 7px;
      margin-left: 5px;
      vertical-align: middle;
        
      &.active {
        transform: rotate(-180deg);
      }
    }

    .icon-minus {
      color: palette('green', accent);
    }

    .icon-dashboard {
      @include transition();

      font-size: 14px;
      margin-right: 10px;
    }

    &.nav-dashboard:hover {
      color: palette('green', accent);

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
  // start new
  // .collapsed will be applied when breadcrumbs.js detects certain brower width
  &.collapsed {
    .navigation-item {
      margin-left: 10px;
      overflow: hidden;
      
      .menu-toggle span {
        max-width: 2.5em;
      }
      
      .menu-toggle .icon-minus {
        margin-right: 10px;
      }
      
      .no-link .icon-minus {
        margin-right: 10px;
      }
      & .menu-toggle:not(:last-child) {
        @include transition();

        max-width: 4em;
      }
    }
    & a:hover,
    & a:focus,
    & li:hover {
      a {
        max-width: 1000px;
        span {
          max-width: 1000px!important;
        }
      }
    }
    & li:hover:after {
      background: transparent;
      padding-left: 0;
    }
  }
  // end new
}

/*@media screen and (max-width: $max-mobile-width) {  // 768
  
}*/

@media screen and (max-width: $max-mobile-xs-width) { // 480
  // Replace .icon-placeholder with the image class when replaced
  .navigation-left {
    .logo img {
      margin: #{ ($navigation-height - 27px) / 2 } 0;
    }
    .navigation-item {
      display: none;
    }
  }
}
