.navigation-left {
  display: inline-block;
  height: 50px;
  float: left;

  .logo {
    display: inline-block;
    padding-left: 25px;
    vertical-align: middle;

    .icon:hover {
      color: palette('green', accent);
    }

    // Replace this class with the image class once the placeholder is replaced.
    .icon-placeholder {
      @include transition();

      display: inline-block;
      font-size: 27px;
    }
  }

  .navigation-item {
    box-sizing: border-box;
    display: inline-block;
    font-family: $ubuntu-medium;
    font-size: 12px;
    vertical-align: middle;

    a, .no-link {
      line-height: 50px;
      
      span {
        @include transition();
      }
    }

    .no-link {
      @include transition();
      
      color: palette('white', base);
    }

    &:not(:first-child) {
      margin-left: 15px;
    }

    .menu-toggle:hover {
      color: palette('green', accent);
    }

    .icon-chevron {
      @include transition();
      
      display: inline-block;
      font-size: 6px;
      line-height: 7px;
      margin-left: 5px;
      vertical-align: middle;
        
      &.active {
        transform: rotate(-180deg);
      }
    }

    .icon-minus {
      color: palette('green', accent);
    }
  }
  // start new
  // .collapsed will be applied when breadcrumbs.js detects collision between the two designated elements
  &.collapsed {
    li {
      overflow: hidden;
      &:after {
        background: rgb(227,227,227);
        background: linear-gradient(90deg, rgba(227,227,227,0.4) 0%, rgba(227,227,227,1) 35%);
        padding-left: 1em;
      }
    }
    & a {
      @include transition();
      
      max-width: 2em;
    }
    & a:hover,
    & a:focus,
    & li:hover a {
      max-width: 1000px;
    }
    & li:hover:after {
      background: transparent;
      padding-left: 0;
    }
  }
  // end new
}

@media screen and (max-width: $max-mobile-xs-width) {
  // Replace .icon-placeholder with the image class when replaced
  .navigation-left .logo .icon-placeholder {
    margin: #{ ($navigation-height - 27px) / 2 } 0;
  }
}
