.navigation-right {
  background: palette(green, base);
  height: $navigation-height;
  margin-top: 0;
  text-align: right;

  .navigation-sub-menu {
    border-radius: 0 0 0 5px;
    right: 0;
    width: 250px;
  }
}
