.navigation-side-menu {
  display: inline-block;
  max-height: $navigation-height;
  vertical-align: middle;

  .side-menu-toggle {
    display: inline-block;
    max-height: $navigation-height;

    &:hover .icon-hamburger {
      color: palette(green, accent);
    }
  }

  .icon-hamburger {
    @include transition();

    display: block;
    font-size: 12px;
    margin: #{($navigation-height - 12px) / 2} 10px;
    margin-right: 15px;

    &.active {
      color: palette(green, accent);
    }
  }
}
