.navigation-side-menu {
  display: inline-block;
  max-height: $navigation-height;
  vertical-align: middle;

  .side-menu-toggle {
    display: inline-block;
    max-height: $navigation-height;

    &:hover .icon-hamburger {
      color: palette(green, accent);
    }
  }

  .icon-hamburger {
    @include transition();

    box-shadow: 0 3px 5px 0 palette(box-shadow, base, .2);
    display: block;
    font-size: 12px;
    margin: #{($navigation-height - 12px) / 2} 10px;
  }
}
