.navigation-sub-menu {
  @include transition();

  background-color: palette('gray', dropdown);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 10px 30px 0 palette('black', base, .2);
  opacity: 1;
  position: absolute;
  /*top: $navigation-height + $status-height;*/
  top: $navigation-height;
  transform: translateY(-200%);
  visibility: hidden;
  min-width: 175px;
  will-change: transform;
  z-index: -1;

  &.active {
    transform: translateY(0);
    visibility: visible;
  }

  &.language-select {
    @include transition();

    background-color: palette('gray', background);
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 palette('box-shadow', base, .05);
    font-size: 14px;
    margin-right: 20px;
    opacity: 0;
    padding: 15px 30px;
    text-align: center;
    transform: none;
    width: auto;
    will-change: opacity;

    &.active {
      opacity: 1;
      transform: none;
    }

    a {
      padding: 0 !important;

      &:hover {
        color: palette('green', accent);
      }
    }
  }

  img {
    padding-right: 13px;
  }

  .header {
    color: palette('white', base);
    font-family: $ubuntu;
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    padding: 20px;
    text-align: left;
  }

  .link {
    color: palette('white', base);
    font-family: $ubuntu;
    font-size: 12px;

    a {
      @include transition(color);

      align-items: center;
      display: flex;
      line-height: 14px;
      padding: 0 20px 8px;
    }

    .navigation-sub-menu-toggle {
      display: block;
      padding-right: 0;
    }

    .sub-menu-icon {
      font-size: 10px;
      margin-left: 10px;
    }

    a:hover {
      color: palette('green', accent);
    }

    &:not(:first-child) > a {
      padding-top: 8px;
    }

    &:last-child > a {
      padding-bottom: 20px;
    }

    &.link-head > a {
      padding: 20px;
    }

    &.link-head .icon {
      font-size: 16px;
      margin-right: 10px;
    }

    &.pre-spacer > a {
      padding-bottom: 20px;
    }

  }

  .spacer {
    border-bottom: 2px solid palette('white', base);
    box-sizing: border-box;
    height: 3px;
    margin: 0 auto;
    opacity: .1;
    width: calc(100% - 40px);

    + .link a {
      padding-bottom: 20px;
      padding-top: 20px;
    }
      
    + .first a{
     padding-bottom: 8px;   
   }

    &.full {
      width: 100%;
    }
  }

  
}
