.navigation-profile {
  display: inline-block;
  max-height: $navigation-height;
  vertical-align: middle;

  .navigation-sub-menu .header {
    padding-bottom: 12px;
  }

  .profile-toggle {
    display: inline-block;
    max-height: $navigation-height;
    padding: 0 5px;

    &:hover {
      color: palette('green', accent);

      .profile-picture {
        border: 2px solid palette('green', accent);
      }
    }


    .icon-user-little {
      @include transition();

      display: inline-block;
      font-size: 16px;
      margin: 0 5px;
      padding: 0;
    }
  }

  .icon-user-little.active {
    color: palette('green', accent);
  }

  .profile-picture {
    @include transition();

    border: 2px solid palette('white', base);
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 palette('box-shadow', base, .2);
    box-sizing: border-box;
    height: 31px;
    margin: 9px 6px;
    width: 31px;
	object-fit: cover;
  }

  .icon-logout {
    font-size: 12px;
    padding-left: 8px;
  }
}
