.navigation-profile {
  display: inline-block;
  max-height: $navigation-height;
  vertical-align: middle;

  .profile-toggle {
    display: inline-block;
    max-height: $navigation-height;
    padding: 0 5px;

    &:hover {
      color: palette('green', accent);

      .profile-picture {
        border: 2px solid palette('green', accent);
      }
    }


    .icon-user-little {
      @include transition();

      display: inline-block;
      font-size: 16px;
      margin: 0 5px;
      padding: 0;
    }
  }

  .icon-user-little.active {
    color: palette('green', accent);
  }

  .profile-picture {
    @include transition();

    border: 2px solid palette('white', base);
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 palette('box-shadow', base, .2);
    box-sizing: border-box;
    height: 24px;
    margin: #{($navigation-height - 24px - 2px) / 2} 10px;
    width: 24px;

  }

  .logout-icon {
    height: 12px;
    padding: 0;
    width: 11px;
  }
}
