.filters {
  font-family: $ubuntu;
  height: 20px;
  margin: 40px auto 0;
  max-width: calc(#{ $max-site-width } - 600px);

  .pagination-options {
    float: left;
    height: 20px;
    padding-bottom: $underline-padding;

    @import 'pagination/chosen-container-single';
  }

  .show-options {
    text-align: right;

    a {
      @include transition();

      color: palette('gray', text, .8);
      cursor: pointer;
      font-size: 14px;
      line-height: 16px;
      margin: 0 7.5px;
      text-decoration: none;

      &:hover {
        color: palette('green', accent);
      }
    }
  }

}

@media screen and (max-width: $max-mobile-width) {
  .filters {
    .search {
      display: inline-block;
      float: none;
    }
  }
}

@media screen and (max-width: 590px) {
  .filters {
    margin-bottom: 80px;

    .pagination-options {
      margin-bottom: 20px;
      width: 100%;
    }
    .show-options {
      display: inline-block;
      text-align: left;
    }
  }
}

@media screen and (max-width: $max-mobile-xs-width) {
  .filters {
    height: 46px;
    margin-bottom: 50px;
    position: relative;

    .pagination-options > div:first-of-type {
      padding-bottom: 10px;
    }

    .show-options {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
