
.results {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.form-results,
.fields-results,
.projects-results {
    margin: 60px 0 100px;

    .form-result,
    .field-result,
    .proj-result {
        background: palette('white', base);
        border: 2px solid palette('white', base);
        border-radius: 5px;
        box-shadow: 0 3px 5px 0 palette('box-shadow', base, .05);
        cursor: pointer;
        height: 58px;
        margin: 30px auto;
        padding: 0;

        &:hover {
            box-shadow: 0 6px 12px 0 palette('box-shadow', base, .06);
        }

        .left {
            height: 100%;
        }

        a {
            color: palette('green', accent);
            font-family: $ubuntu-medium;
            font-size: 16px;
            padding: 0 0 9px 0;
            position: relative;
            text-decoration: none;

            .name {
                display: inline-block;
                margin: 15px 0;
                padding: 5px 0;
                vertical-align: middle;
            }

            .icon {
                @include transition(padding-left);

                display: inline-block;
                font-size: 10px;
                padding-left: 6px;
            }

            &:hover .icon {
                padding-left: 10px;
            }
        }
    }

    .go-to {
        display: none;
    }
}

.form-results li:not(.form-result) {
    display: none;
}

.fields-results li:not(.field-result) {
    display: none;
}

.projects-results li:not(.proj-result) {
    display: none;
}
