.card {
  .footer {
    .quick-action {
      .icon-trash {
        color: palette('red', base);
        font-size: 14px;
        line-height: 19px;
        transform-origin: center;
      }
    }

    .tooltip:hover::after {
      left: -42px;
    }

    .trash-container {
      &:hover {
        .icon-trash {
          transform: scale(1.25) translateY(-2px);
        }
      }
    }
  }

  .header {
    .card-toggle {
      opacity: 1;
    }

    .card-toggle-wrap {
      position: relative;

      .left {
        left: 0;
        overflow-x: hidden;
        position: absolute;
        top: 0;
      }
    }

    .icon-chevron {
      background: palette('white', base);
      border-radius: 5px;
      opacity: 1;

      &::before {
        opacity: .6;
      }
    }

    .title {
      .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .sub-title {
      box-sizing: border-box;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
    }
  }
}