&#recordHistory {
  font-size: 14px;

  .collapse-fields::after {
    left: -54px;
  }

  .edit-section {
    border: 1px solid palette('gray', slate, .1);
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 palette('box-shadow', base, .05);
    margin: 10px 0;
    padding: 15px;

    &:first-of-type {
      margin-bottom: 30px;
    }
  }

  .expand-fields::after {
    left: -52px;
  }

  .field {
    margin: 10px 0;

    &:first-child {
      margin: 0 0 10px;
    }

    &:last-child {
      margin: 10px 0 0;
    }

    &:last-child:first-child {
      margin: 0;
    }
  }

  .field-title {
    font-family: $ubuntu-medium;
    font-size: 14px;
  }

  .no-field {
    color: palette('gray', text, .4);
    font-family: $ubuntu-medium-italic;
  }

  .field-data {
    // scss-lint:disable SelectorDepth
    .record-no-data {
      color: palette('gray', text, .4);
      font-family: $ubuntu-italic;
    }

    @import 'typed-fields';
  }

  @import 'card';
}

