&.permissions {
  font-size: 14px;

  .card {
    p {
      margin: 0;
    }

    .header {
      .left {
        overflow-x: hidden;
        white-space: nowrap;

        span {
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .group {
        color: palette('gray', slate, .6);

        span {
          @include transition();
        }

        &:hover {
          color: palette('green', accent);
        }
      }

      @media screen and (max-width: $max-mobile-med-width) {
        .title {
          margin-right: 10px;
        }
      }
    }
  }
}
