.content {
  background: palette('white', base);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  padding: 10px 20px 0;

  &.active {
    display: block;
  }

  span,
  .description {
    color: palette('gray', text);
    font-size: 14px;
    line-height: 19px;

  }

  span {
    font-family: $ubuntu;

    &.attribute {
      font-family: $ubuntu-medium;
    }

    &:not(first-child) {
      font-weight: 400;
    }
  }
}
