.footer {
  text-align: right;

  .quick-action {
    @include transition();

    box-sizing: border-box;
    color: palette('green', accent);
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 20px;
    vertical-align: middle;

    .icon {
      @include transition();

      display: inline-block;
      font-size: 12px;
      margin: 0 5px 0 0;
      padding: 35px 0 #{ $underline-padding };
      vertical-align: middle;
    }

    .icon-arrow-right {
      font-size: 10px;
      will-change: transform;
    }

    span {
      color: inherit;
      font-family: $ubuntu-medium;
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      padding: 35px 0 #{ $underline-padding };
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child span {
      margin: 0 5px 0 0;
    }

    &:hover .icon-arrow-right {
      perspective: 1000;
      transform: translate3d(7px, 0, 0);
    }
  }

  .left {
    text-align: left;
  }

  .danger {
    color: palette('red', warning);
  }
}

@media screen and (max-width: $max-mobile-width) {
  .footer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: left;

    .quick-action {
      margin: 0;

      .icon,
      span {
        padding-top: 10px;
      }

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }
}
