.header {
  background: palette(white, base);
  border-radius: 5px;
  color: palette(green, accent);
  font-size: 16px;
  position: relative;
  z-index: 2;


  &.active {
    box-shadow: 0px 6px 13px -4px palette(white, base);
  }

  .icon {
    @include transition();

    cursor: pointer;
    vertical-align: middle;
  }

  .icon-arrow-right {
    color: palette(green, accent);
    display: inline-block;
    font-size: 10px;
    padding: 24px 0 24px 3px;
  }

  .icon-arrow-down,
  .icon-arrow-up {
    color: palette(gray, slate);
    display: inline-block;
    font-size: 10px;
    opacity: .2;
  }

  .chevron-text {
    color: palette(gray, text, .6);
    margin-right: -10px;
  }

  .icon-chevron {
    color: palette(gray, slate);
    display: inline-block;
    font-size: 6px;
    padding: 26px;
  }

  .move-actions {
    display: inline-block;

    .action {
      @include transition();

      padding: 20px 0;
      will-change: transform;
    }

    .action:first-child {
      padding-left: 20px;
      padding-right: 4px;
    }

    .action:last-child {
      padding-left: 4px;
      padding-right: 16px;
    }

    .action:hover .icon {
      opacity: .6;
    }

    .action:hover .icon-arrow-up {
      transform: rotate(-90deg) scale($transform-scale-multiplier);
    }

    .action:hover .icon-arrow-down {
      transform: rotate(90deg) scale($transform-scale-multiplier);
    }
  }

  .title {
    @include transition();

    padding-bottom: #{ $underline-padding + 4px };

    .name {
      margin: 15px 0;
      padding: 5px 0;
    }

    .icon-arrow-right {
      @include transition();
    }

    &:hover .icon-arrow-right {
      padding-left: 8px;
    }
  }

  .card-toggle-wrap {
    overflow: hidden;
  }

  .card-toggle {
    @include transition();

    display: block;
    opacity: .6;
    text-align: right;

    &:hover {

      .icon-chevron {
        opacity: 1;
        transform: scale($transform-scale-multiplier);
      }

      .active {
        transform: rotate(-180deg) scale($transform-scale-multiplier);
      }
    }
  }
}
