.move-actions {
  display: inline-block;

  .action {
    @include transition();

    padding: 20px 0;
    will-change: transform;

    &:first-child {
      padding-left: 20px;
      padding-right: 4px;
    }

    &:last-child {
      padding-left: 4px;
      padding-right: 16px;
    }

    &:hover {
      .icon {
        opacity: .6;
      }

      .icon-arrow-up {
        transform: rotate(-90deg) scale($transform-scale-multiplier);
      }

      .icon-arrow-down {
        transform: rotate(90deg) scale($transform-scale-multiplier);
      }
    }
  }
}
